In [1]:
import pandas as pd
import fasttext
import time
import numpy as np
import multiprocessing as mp
from multiprocessing import Pool
import csv
import fastparquet
import spacy
import glob, os
import re
from os.path import isfile
import seaborn as sns

In [2]:
fmodel = fasttext.load_model('/data/dharp/packages/lid.176.bin')
nlp = spacy.load('en_core_web_lg')
#nlp = spacy.load('en_core_web_trf')

In [3]:
keep_string=r"(.+_(NOUN|ADV|VERB|ADJ|X|PRT|CONJ|PRON|DET|ADP|NUM|\.)|_END_)\s*"
large_files=['a_','an','of','to','in','ad','wh','be','ha','is','co','wa','he','no','it','wi','fo','re','as','on','we','punctuation','th','ma','pr','ar','ip','sh','ca','so','hi','bu','al','se','de','by','wo','st','fr','di','mo','su','at','or','yo','me','li','pa','do','ex','le','pe','po','if','ne','fi','un','fa','sa','ch','la','lo','ac','ho','mu','go','si','en','ev','tr']
nn='(?!(?:NOUN|PROPN)).*'
comp='(?:ADJ|NOUN|PROPN)\s(?:NOUN|PROPN)'
word='.*'
ner_cats=['CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LANGUAGE', 'LAW', 'LOC', 'MONEY', 'NORP', 'ORDINAL', 'ORG', 'PERCENT', 'PERSON', 'PRODUCT', 'QUANTITY', 'TIME', 'WORK_OF_ART']
n1=f'^{comp}\s{nn}\s{comp}$'
n2=f'^{comp}\s{nn}\s{word}\s{word}$'
n3=f'^{nn}\s{comp}\s{nn}\s{word}$'
n4=f'^{word}\s{nn}\s{comp}\s{nn}$'
n5=f'^{word}\s{word}\s{nn}\s{comp}$'

In [4]:
done_files=[]
cur_dir='/data/dharp/compounds/datasets/google/'
for file in glob.glob(f"{cur_dir}*.pkl"):
    done_files.append(file.split('.')[0].split('/')[-1][:2])

done_bigrams=list(set(done_files))
fivegram_list='0 1 2 3 4 5 6 7 8 9 a_ aa ab ac ad ae af ag ah ai aj ak al am an ao ap aq ar as at au av aw ax ay az b_ ba bb bc bd be bf bg bh bi bj bk bl bm bn bo bp bq br bs bt bu bv bw bx by bz c_ ca cb cc cd ce cf cg ch ci cj ck cl cm cn co cp cq cr cs ct cu cv cw cx cy cz d_ da db dc dd de df dg dh di dj dk dl dm dn do dp dq dr ds dt du dv dw dx dy dz e_ ea eb ec ed ee ef eg eh ei ej ek el em en eo ep eq er es et eu ev ew ex ey ez f_ fa fb fc fd fe ff fg fh fi fj fk fl fm fn fo fp fq fr fs ft fu fv fw fx fy fz g_ ga gb gc gd ge gf gg gh gi gj gk gl gm gn go gp gq gr gs gt gu gv gw gx gy gz h_ ha hb hc hd he hf hg hh hi hj hk hl hm hn ho hp hq hr hs ht hu hv hw hx hy hz i_ ia ib ic id ie if ig ih ii ij ik il im in io ip iq ir is it iu iv iw ix iy iz j_ ja jb jc jd je jf jg jh ji jj jk jl jm jn jo jp jq jr js jt ju jv jw jx jy jz k_ ka kb kc kd ke kf kg kh ki kj kk kl km kn ko kp kq kr ks kt ku kv kw kx ky kz l_ la lb lc ld le lf lg lh li lj lk ll lm ln lo lp lq lr ls lt lu lv lw lx ly lz m_ ma mb mc md me mf mg mh mi mj mk ml mm mn mo mp mq mr ms mt mu mv mw mx my mz n_ na nb nc nd ne nf ng nh ni nj nk nl nm nn no np nq nr ns nt nu nv nw nx ny nz o_ oa ob oc od oe of og oh oi oj ok ol om on oo op oq or os ot other ou ov ow ox oy oz p_ pa pb pc pd pe pf pg ph pi pj pk pl pm pn po pp pq pr ps pt pu punctuation pv pw px py pz q_ qa qb qc qd qe qf qg qh qi qj ql qm qn qo qp qq qr qs qt qu qv qw qx qy qz r_ ra rb rc rd re rf rg rh ri rj rk rl rm rn ro rp rq rr rs rt ru rv rw rx ry rz s_ sa sb sc sd se sf sg sh si sj sk sl sm sn so sp sq sr ss st su sv sw sx sy sz t_ ta tb tc td te tf tg th ti tj tk tl tm tn to tp tq tr ts tt tu tv tw tx ty tz u_ ua ub uc ud ue uf ug uh ui uj uk ul um un uo up uq ur us ut uu uv uw ux uy uz v_ va vb vc vd ve vf vg vh vi vj vk vl vm vn vo vp vq vr vs vt vu vv vw vx vy vz w_ wa wb wc wd we wf wg wh wi wj wk wl wm wn wo wp wq wr ws wt wu wv ww wx wy wz x_ xa xb xc xd xe xf xg xh xi xj xk xl xm xn xo xp xq xr xs xt xu xv xw xx xy xz y_ ya yb yc yd ye yf yg yh yi yj yk yl ym yn yo yp yq yr ys yt yu yv yw yx yy yz z_ za zb zc zd ze zf zg zh zi zj zk zl zm zn zo zp zq zr zs zt zu zv zw zx zy zz'
fivegram_list=fivegram_list.split(" ")
to_do_list=set(fivegram_list).difference(done_bigrams)
done_list='0 1 2 3 4 5 6 7 8 9 other punctuation'
done_list=done_list.split(" ")
to_do_list=list(to_do_list.difference(done_list))
to_do_list

['xg',
 'qw',
 'ur',
 'gc',
 'lq',
 'vq',
 'pz',
 'yq',
 'vp',
 'zk',
 'zq',
 'kz',
 'xf',
 'jq',
 'zt',
 'zf',
 'rc',
 'pt',
 'xq',
 'zj',
 'uq',
 'bq',
 'gz',
 'xz',
 'qj',
 'gq',
 'qz',
 'xb',
 'kq',
 'gn',
 'zg',
 'fq',
 'qh',
 'yj',
 'zz',
 'rq',
 'wz',
 'qm',
 'wq',
 'yz',
 'pk',
 'rz',
 'qf',
 'xw',
 'jz',
 'qg']

In [5]:
def delist_lang(lst):
    lang_lst=[]
    for i,lang in enumerate(lst):
        if not lang:
            lang_lst.append(None)
        else:
            lang_lst.append(lang[0])
    return lang_lst


def significance(lst):
    significance_list=[]
    for l in lst:
        if len(l)>1:
            significance_list.append(abs(l[0]-l[1])/np.mean(l[0]+l[1])>0.1)
            #print(f'{conf[0]} {conf[1]} {abs(conf[0]-conf[1])/np.mean(conf[0]+conf[1])>0.1}')
        else:
            significance_list.append(True)
    return significance_list

In [6]:
def sent_maker(sent_lst):
    ret_sents=[]
    g_pos=[]
    for sent in sent_lst:
        cur_words=[]
        pos_sent=[]
        sent=sent.replace('_END_','@@@_.')
        for word_pos in sent.split(' '):
            word,pos=word_pos.rsplit('_',1)
            cur_words.append(word)
            pos_sent.append(pos)
            cur_sent=' '.join(cur_words)
            cur_pos=' '.join(pos_sent)
        ret_sents.append(cur_sent)
        g_pos.append(cur_pos)
    return ret_sents,g_pos

In [7]:
def ner_lemma_reducer(sent):
    ner_sent=[]
    lemma=[]
    pos=[]
    #parse=[]
    is_comp=False
    ner_token=[]
    ner_length=[]
    ner=[]
    parsed_sent=nlp(sent)
    for token in parsed_sent:
        #parse.append(token.text)
        lemma.append(token.lemma_)
        pos.append(token.pos_)
        if token.ent_type_=="":
            to_add="NONNER"
        else:
            to_add=token.ent_type_
        ner_token.append(to_add)
        if token.dep_=="compound":
            is_comp=True
    #print(parse)
    #parse_sent=' '.join(parse)
    lemma_sent=' '.join(lemma)
    pos_sent=' '.join(pos)
    ner_token_sent=' '.join(ner_token)
    #dep_sent=' '.join(dep)
    ner_length=0
    if parsed_sent.ents:
        for ent in parsed_sent.ents:
            #cur_ner=
            #cur_ner='_'.join([str(ent.start_char), str(ent.end_char), ent.label_])
            ner_length+=ent.end_char-ent.start_char
            #ner.append(cur_ner)
    #else:
        #ner.append("")
    ner_sent=' '.join(ner)
    
    return ner_token_sent,ner_length,lemma_sent,pos_sent,is_comp

In [8]:
def lang_tagger(parsed_sent):
    labels,confs=fmodel.predict(parsed_sent,k=-1,threshold=0.1)
    lang_list=delist_lang(labels)    
    significance_list=significance(confs)
    assert len(lang_list)==len(significance_list)
    return lang_list,significance_list

In [9]:
def str_joiner(df):
    #print(df)
    new_df=pd.DataFrame()
    try:
        new_df[['l1','l2','l3','l4','l5']]=df.lemma_sent.str.split(" ",expand=True)
        new_df[['p1','p2','p3','p4','p5']]=df.pos_sent.str.split(" ",expand=True)
    except:
        print(df)
    new_df['lemma_pos']=new_df.l1+"_"+new_df.p1+" "+\
                        new_df.l2+"_"+new_df.p2+" "+\
                        new_df.l3+"_"+new_df.p3+" "+\
                        new_df.l4+"_"+new_df.p4+" "+\
                        new_df.l5+"_"+new_df.p5
    return new_df['lemma_pos']

In [10]:
def trial(df):
    df.reset_index(inplace=True,drop=True)
    ret_lst=sent_maker(df.old_index)
    
    df['sent']=ret_lst[0]
    df['g_pos']=ret_lst[1]
    
    results=np.vectorize(ner_lemma_reducer)(df.sent.values)
    results_df=pd.DataFrame(results)
    results_df=results_df.transpose()
    #results_df.columns=ner_token_sent,ner_length,lemma_sent,pos_sent,is_comp
    results_df.columns=['ner_token_sent','ner_length','lemma_sent','pos_sent','is_comp']


    index_df=pd.concat([df,results_df],axis=1,ignore_index=False)

    lang_list,significance_list=lang_tagger(index_df.sent.values.tolist())
    index_df['lang']=lang_list
    index_df['lang_conf']=significance_list
    index_df.lang=index_df.lang.str.split('_',n=4).str[-1]
    index_df=index_df.loc[(index_df.lang=='en') &(index_df.lang_conf==True)]

    index_df['nwords']=index_df.pos_sent.str.count(' ').add(1)
    index_df=index_df.loc[index_df.nwords==5]
    
    index_df.lemma_sent=index_df.lemma_sent.str.lower()
    #index_df.pos_sent=index_df.pos_sent.str.replace('PROPN','NOUN',regex=False)
    #index_df.pos_sent=index_df.pos_sent.str.replace('AUX','VERB',regex=False)
    #index_df.pos_sent=index_df.pos_sent.str.replace('CCONJ','CONJ',regex=False)
    #index_df.g_pos=index_df.g_pos.str.replace('.','PUNCT',regex=False)
    #index_df.g_pos=index_df.g_pos.str.replace('PRT','ADP',regex=False)
    if index_df.shape[0]==0:
        return index_df
    index_df['lemma_pos']=str_joiner(index_df)
    index_df['nX']=index_df.pos_sent.str.count('X')-index_df.pos_sent.str.count('AUX')
    index_df=index_df.loc[~(index_df.nX>1)]
    
    index_df['ner_perc']=index_df.ner_length/index_df.sent.str.len()
   
    index_df['comp_class']=0

    index_df.loc[index_df.pos_sent.str.contains(n1),'comp_class']=1
    index_df.loc[~(index_df.pos_sent.str.contains(n1))& index_df.pos_sent.str.contains(n2),'comp_class']=2
    index_df.loc[index_df.pos_sent.str.contains(n3),'comp_class']=3
    index_df.loc[index_df.pos_sent.str.contains(n4),'comp_class']=4
    index_df.loc[~(index_df.pos_sent.str.contains(n1))& index_df.pos_sent.str.contains(n5),'comp_class']=5
    index_df.drop(['lang','lang_conf','nwords','nX','lemma_sent','ner_length'],axis=1,inplace=True)
    #print(index_df)
    return index_df

In [11]:
def large_df_processor(letter,num_partitions):
    
    #CHUNKSIZE = 1_000_000_000
    CHUNKSIZE=10_000_000
    total_df_shape=0
    df_list=[]
    path_loc="http://storage.googleapis.com/books/ngrams/books/googlebooks-eng-all-5gram-20120701-"+letter+".gz"
    dfs   = pd.read_csv(path_loc, compression='gzip', header=None, sep="\t", quoting=csv.QUOTE_NONE,usecols=[0,1,2],chunksize=CHUNKSIZE)    
    for i,df in enumerate(dfs):


        print(f'Split num {i+1}')        
        cur_time=time.time()
        df.columns=['fivegram_pos','year','count']
        #df=df.loc[df.year>=1800]
        index_df=df.groupby(['fivegram_pos'])['count'].sum().reset_index()
        index_df.columns=['old_index','total_count']
        index_df=index_df.loc[index_df.old_index.str.match("^"+keep_string*5+"$",na=False)]

        df_split = np.array_split(index_df, num_partitions)
        pool = Pool(num_partitions)
        print('Started parallelization')
        results=pool.map_async(trial,df_split)
        pool.close()
        pool.join()
        
        
        curr_df_list=results.get()
        new_index_df=pd.concat(curr_df_list,ignore_index=True)
        
        
        print(f'Total time taken for split num {0+1}: {round(time.time()-cur_time)} secs')        
    
        ntypes=new_index_df.shape[0]
        ntokens=new_index_df.total_count.sum()

        types_perc=round(ntypes/df.shape[0]*100,3)
        print(f'Number of types: {ntypes}, perc. of unique types (decade agnostic): {types_perc}%')

        print(f'Number of tokens: {ntokens}, ratio of tokens to types: {round(ntokens/ntypes,3)}')

        ncomptypes=np.sum(new_index_df.comp_class!=0)
        ncomptypes_perc=round(ncomptypes/ntypes*100,3)
        print(f'Number of compounds types: {ncomptypes}, perc. of compound types: {ncomptypes_perc}%')

        comp_count=new_index_df.loc[new_index_df.comp_class!=0,'total_count'].sum()
        comp_count_perc=round(comp_count/ntokens*100,3)
        print(f'Compound count: {comp_count}, perc. of compound tokens: {comp_count_perc}%')

        words_df=new_index_df.loc[new_index_df.pos_sent.str.contains('(?:NOUN|PROPN)')].reset_index(drop=True)
        #words_df['nner']=words_df.ner_sent.str.count(' ').add(1)
        words_df.comp_class=words_df.comp_class.astype('int32')
        return words_df
        words=pd.merge(df,words_df,left_on='fivegram_pos',right_on='old_index',how='right')
        words=words.groupby(['lemma_pos','pos_sent','year','comp_class','ner_token_sent','ner_perc','is_comp'])['count'].sum().to_frame()
        words.reset_index(inplace=True)

        words.to_pickle(f'/data/dharp/compounds/datasets/google/{letter}{i+1}.pkl')
        #phrases_df=words_df.loc[words_df.pos_sent.str.contains('NOUN NOUN')].reset_index(drop=True)
        #phrases=pd.merge(df,phrases_df,left_on='fivegram_pos',right_on='old_index',how='right')
        #phrases=phrases.groupby(['lemma_sent','year','pos_sent','comp_class','ner_sent'])['count'].sum().to_frame()
        #phrases.reset_index(inplace=True)

        #comp_df=phrases_df.loc[phrases_df.comp_class!=0].reset_index(drop=True)
        #compounds=pd.merge(df,comp_df,left_on='fivegram_pos',right_on='old_index',how='right')
        #compounds=compounds.groupby(['lemma_sent','year','pos_sent','comp_class','ner_sent'])['count'].sum().to_frame()
        #compounds.reset_index(inplace=True)

        print(f'Total time taken for letter {letter}: {round(time.time()-cur_time)} secs')
        with open(f'/data/dharp/compounds/datasets/stats/{letter}{i+1}.txt','w') as f:
            f.write(f'{letter}\t{i+1}\t{ntypes}\t{ntokens}\t{ncomptypes}\t{comp_count}\n')

In [12]:
num_partitions=round(0.9*mp.cpu_count())
cur_df=large_df_processor('co',num_partitions)

Split num 1
Started parallelization
Total time taken for split num 1: 63 secs
Number of types: 122472, perc. of unique types (decade agnostic): 1.225%
Number of tokens: 18561214, ratio of tokens to types: 151.555
Number of compounds types: 9413, perc. of compound types: 7.686%
Compound count: 1332399, perc. of compound tokens: 7.178%

In [16]:
cur_df.loc[(cur_df.is_comp==True )& (cur_df.lemma_pos.str.contains('coffee'))].sample(30)

,old_index,total_count,sent,g_pos,ner_token_sent,pos_sent,is_comp,lemma_pos,ner_perc,comp_class
15889,coffee_NOUN at_ADP the_DET student_NOUN union_...,96,coffee at the student union,NOUN ADP DET NOUN NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN ADP DET NOUN NOUN,True,coffee_NOUN at_ADP the_DET student_NOUN union_...,0.0,5
825,"Coffee_NOUN ,_. with_ADP nine_NUM hundred_NUM",61,"Coffee , with nine hundred",NOUN . ADP NUM NUM,NONNER NONNER NONNER CARDINAL CARDINAL,NOUN PUNCT ADP NUM NUM,True,"coffee_NOUN ,_PUNCT with_ADP nine_NUM hundred_NUM",0.461538,0
15786,"coffee_ADJ -_. tree_NOUN ,_. which_DET",115,"coffee - tree , which",ADJ . NOUN . DET,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN PUNCT DET,True,"coffee_NOUN -_PUNCT tree_NOUN ,_PUNCT which_DET",0.0,0
15891,coffee_NOUN breaks_NOUN and_CONJ lunch_NOUN pe...,92,coffee breaks and lunch periods,NOUN NOUN CONJ NOUN NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN CCONJ NOUN NOUN,True,coffee_NOUN break_NOUN and_CCONJ lunch_NOUN pe...,0.0,1
15794,"coffee_NOUN ,_. and_CONJ fruit_NOUN juices_NOUN",76,"coffee , and fruit juices",NOUN . CONJ NOUN NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT CCONJ NOUN NOUN,True,"coffee_NOUN ,_PUNCT and_CCONJ fruit_NOUN juice...",0.0,5
15779,coffee_ADJ -_. house_NOUN either_CONJ to_PRT,51,coffee - house either to,ADJ . NOUN CONJ PRT,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN ADV ADP,True,coffee_NOUN -_PUNCT house_NOUN either_ADV to_ADP,0.0,0
15936,"coffee_NOUN shop_NOUN ,_. and_CONJ in_ADP",53,"coffee shop , and in",NOUN NOUN . CONJ ADP,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN PUNCT CCONJ ADP,True,"coffee_NOUN shop_NOUN ,_PUNCT and_CCONJ in_ADP",0.0,2
15939,coffee_NOUN shop_NOUN downstairs_NOUN ._. _END_,230,coffee shop downstairs . @@@,NOUN NOUN NOUN . .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN ADV PUNCT PUNCT,True,coffee_NOUN shop_NOUN downstairs_ADV ._PUNCT @...,0.0,2
15937,coffee_NOUN shop_NOUN a_DET couple_NOUN of_ADP,80,coffee shop a couple of,NOUN NOUN DET NOUN ADP,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN DET NOUN ADP,True,coffee_NOUN shop_NOUN a_DET couple_NOUN of_ADP,0.0,2
15925,"coffee_NOUN mug_NOUN ._. ""_. _END_",124,"coffee mug . "" @@@",NOUN NOUN . . .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN PUNCT PUNCT PUNCT,True,"coffee_NOUN mug_NOUN ._PUNCT ""_PUNCT @@@_PUNCT",0.0,2
818,Coffee_NOUN (_. Coffea_ADJ spp_NOUN ._.,103,Coffee ( Coffea spp .,NOUN . ADJ NOUN .,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT PROPN NOUN PUNCT,True,coffee_NOUN (_PUNCT coffea_PROPN spp_NOUN ._PUNCT,0.0,4
15910,coffee_NOUN in_ADP the_DET art_NOUN gallery_NOUN,41,coffee in the art gallery,NOUN ADP DET NOUN NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN ADP DET NOUN NOUN,True,coffee_NOUN in_ADP the_DET art_NOUN gallery_NOUN,0.0,5
828,"Coffee_NOUN House_NOUN ,_. in_ADP London_NOUN",45,"Coffee House , in London",NOUN NOUN . ADP NOUN,ORG ORG NONNER NONNER GPE,PROPN PROPN PUNCT ADP PROPN,True,"coffee_PROPN house_PROPN ,_PUNCT in_ADP london...",0.75,2
15847,coffee_NOUN -_. houses_NOUN to_PRT Wrath_NOUN,41,coffee - houses to Wrath,NOUN . NOUN PRT NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN ADP NOUN,True,coffee_NOUN -_PUNCT house_NOUN to_ADP wrath_NOUN,0.0,0
15183,"coconut_NOUN oil_NOUN ,_. coffee_NOUN ,_.",64,"coconut oil , coffee ,",NOUN NOUN . NOUN .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN PUNCT NOUN PUNCT,True,"coconut_NOUN oil_NOUN ,_PUNCT coffee_NOUN ,_PUNCT",0.0,2
361,Co._NOUN Minneapolis_NOUN :_NOUN Coffee_NOUN H...,46,Co. Minneapolis : Coffee House,NOUN NOUN NOUN NOUN NOUN,NONNER GPE NONNER ORG ORG,PROPN PROPN PUNCT PROPN PROPN,True,co._PROPN minneapolis_PROPN :_PUNCT coffee_PRO...,0.766667,1
15878,"coffee_NOUN and_CONJ tea_NOUN houses_NOUN ,_.",66,"coffee and tea houses ,",NOUN CONJ NOUN NOUN .,NONNER NONNER NONNER NONNER NONNER,NOUN CCONJ NOUN NOUN PUNCT,True,"coffee_NOUN and_CCONJ tea_NOUN house_NOUN ,_PUNCT",0.0,4
15892,"coffee_NOUN colour_NOUN ,_. with_ADP a_DET",83,"coffee colour , with a",NOUN NOUN . ADP DET,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN PUNCT ADP DET,True,"coffee_NOUN colour_NOUN ,_PUNCT with_ADP a_DET",0.0,2
826,Coffee_NOUN -_. house_NOUN ._. '_.,85,Coffee - house . ',NOUN . NOUN . .,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN PUNCT PUNCT,True,coffee_NOUN -_PUNCT house_NOUN ._PUNCT '_PUNCT,0.0,0
15945,coffee_NOUN table_NOUN that_DET had_VERB been_...,127,coffee table that had been,NOUN NOUN DET VERB VERB,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN DET AUX VERB,True,coffee_NOUN table_NOUN that_DET have_AUX be_VERB,0.0,2
15943,coffee_NOUN table_NOUN from_ADP them_PRON ._.,46,coffee table from them .,NOUN NOUN ADP PRON .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN ADP PRON PUNCT,True,coffee_NOUN table_NOUN from_ADP they_PRON ._PUNCT,0.0,2
15942,coffee_NOUN table_NOUN from_ADP her_PRON ._.,101,coffee table from her .,NOUN NOUN ADP PRON .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN ADP PRON PUNCT,True,coffee_NOUN table_NOUN from_ADP she_PRON ._PUNCT,0.0,2
15778,"coffee_ADJ -_. house_NOUN ,_. though_ADP",44,"coffee - house , though",ADJ . NOUN . ADP,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN PUNCT SCONJ,True,"coffee_NOUN -_PUNCT house_NOUN ,_PUNCT though_...",0.0,0
15783,coffee_ADJ -_. man_NOUN for_ADP his_PRON,59,coffee - man for his,ADJ . NOUN ADP PRON,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN ADP PRON,True,coffee_NOUN -_PUNCT man_NOUN for_ADP his_PRON,0.0,0
15903,coffee_NOUN house_NOUN in_ADP London_NOUN was_...,73,coffee house in London was,NOUN NOUN ADP NOUN VERB,NONNER NONNER NONNER GPE NONNER,NOUN NOUN ADP PROPN AUX,True,coffee_NOUN house_NOUN in_ADP london_PROPN be_AUX,0.230769,2
821,"Coffee_NOUN ,_. orange_ADJ juice_NOUN ,_.",62,"Coffee , orange juice ,",NOUN . ADJ NOUN .,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN NOUN PUNCT,True,"coffee_NOUN ,_PUNCT orange_NOUN juice_NOUN ,_P...",0.0,4
15785,coffee_ADJ -_. table_ADJ with_ADP a_DET,42,coffee - table with a,ADJ . ADJ ADP DET,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN ADP DET,True,coffee_NOUN -_PUNCT table_NOUN with_ADP a_DET,0.0,0
15781,"coffee_ADJ -_. houses_NOUN ,_. or_CONJ",730,"coffee - houses , or",ADJ . NOUN . CONJ,NONNER NONNER NONNER NONNER NONNER,NOUN PUNCT NOUN PUNCT CCONJ,True,"coffee_NOUN -_PUNCT house_NOUN ,_PUNCT or_CCONJ",0.0,0
15944,coffee_NOUN table_NOUN in_ADP our_PRON living_...,83,coffee table in our living,NOUN NOUN ADP PRON NOUN,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN ADP PRON NOUN,True,coffee_NOUN table_NOUN in_ADP our_PRON living_...,0.0,2
15940,"coffee_NOUN shops_NOUN ,_. bakeries_NOUN ,_.",56,"coffee shops , bakeries ,",NOUN NOUN . NOUN .,NONNER NONNER NONNER NONNER NONNER,NOUN NOUN PUNCT NOUN PUNCT,True,"coffee_NOUN shop_NOUN ,_PUNCT bakery_NOUN ,_PUNCT",0.0,2

Keep PROP NOUN

Change Dep to Is_Comp

(later) remove compounds based on PROPN, NER

In [19]:
cur_df.is_comp.value_counts(normalize=True)

False    0.907788
True     0.092212
Name: is_comp, dtype: float64

In [21]:
cur_df.comp_class.value_counts(normalize=True)

0    0.921826
2    0.033982
4    0.020835
5    0.017700
1    0.003347
3    0.002310
Name: comp_class, dtype: float64

cur_df.loc[(cur_df.comp_class==0) & (cur_df.is_comp==True)].sample(30)

new_index_df['sent_len']=new_index_df.parse_sent.str.len()
new_index_df['ner_ratio']=new_index_df.ner_length/new_index_df.sent_len
new_index_df.loc[new_index_df.ner_ratio>=0.5]

In [20]:
for letter in to_do_list:
    #num_partitions=250
    path_loc="http://storage.googleapis.com/books/ngrams/books/googlebooks-eng-all-5gram-20120701-"+letter+".gz"
    df   = pd.read_csv(path_loc, compression='gzip', header=None, sep="\t", quoting=csv.QUOTE_NONE,usecols=[0,1,2])    
   
    cur_time=time.time()
    df.columns=['fivegram_pos','year','count']
    #df=df.loc[df.year>=1800]
    index_df=df.groupby(['fivegram_pos'])['count'].sum().reset_index()
    index_df.columns=['old_index','total_count']
    index_df=index_df.loc[index_df.old_index.str.match("^"+keep_string*5+"$",na=False)]

    old_types=index_df.shape[0]
    old_tokens=index_df.total_count.sum()
    #df_split = np.array_split(index_df, num_partitions)
    #pool = Pool(num_partitions)
    #print('Started parallelization')
    #results=pool.map_async(trial,df_split)
    #pool.close()
    #pool.join()
        
        
    #  curr_df_list=results.get()
    #new_index_df=pd.concat(curr_df_list,ignore_index=True)
    new_index_df=trial(index_df)
    new_types=new_index_df.shape[0]
    new_tokens=new_index_df.total_count.sum()

    print(f'Change in number of types: {(new_types-old_types)/old_types*100}')
    print(f'Change in number of tokens: {(new_tokens-old_tokens)/old_tokens*100}')
    print(f'Total time taken for split num {0+1}: {round(time.time()-cur_time)} secs')        
    
    ntypes=new_index_df.shape[0]
    ntokens=new_index_df.total_count.sum()

    types_perc=round(ntypes/df.shape[0]*100,3)
    print(f'Number of types: {ntypes}, perc. of unique types (decade agnostic): {types_perc}%')

    print(f'Number of tokens: {ntokens}, ratio of tokens to types: {round(ntokens/ntypes,3)}')

    ncomptypes=np.sum(new_index_df.comp_class!=0)
    ncomptypes_perc=round(ncomptypes/ntypes*100,3)
    print(f'Number of compounds types: {ncomptypes}, perc. of compound types: {ncomptypes_perc}%')

    comp_count=new_index_df.loc[new_index_df.comp_class!=0,'total_count'].sum()
    comp_count_perc=round(comp_count/ntokens*100,3)
    print(f'Compound count: {comp_count}, perc. of compound tokens: {comp_count_perc}%')

    words_df=new_index_df.loc[new_index_df.pos_sent.str.contains('(?:NOUN|PROPN)')].reset_index(drop=True)
        #words_df['nner']=words_df.ner_sent.str.count(' ').add(1)
    words_df.comp_class=words_df.comp_class.astype('int32')

    words=pd.merge(df,words_df,left_on='fivegram_pos',right_on='old_index',how='right')
    words=words.groupby(['lemma_pos','pos_sent','year','comp_class','ner_token_sent','ner_perc','is_comp'])['count'].sum().to_frame()
    words.reset_index(inplace=True)

    words.to_pickle(f'/data/dharp/compounds/datasets/google/{letter}{0+1}.pkl')
        #phrases_df=words_df.loc[words_df.pos_sent.str.contains('NOUN NOUN')].reset_index(drop=True)
        #phrases=pd.merge(df,phrases_df,left_on='fivegram_pos',right_on='old_index',how='right')
        #phrases=phrases.groupby(['lemma_sent','year','pos_sent','comp_class','ner_sent'])['count'].sum().to_frame()
        #phrases.reset_index(inplace=True)

        #comp_df=phrases_df.loc[phrases_df.comp_class!=0].reset_index(drop=True)
        #compounds=pd.merge(df,comp_df,left_on='fivegram_pos',right_on='old_index',how='right')
        #compounds=compounds.groupby(['lemma_sent','year','pos_sent','comp_class','ner_sent'])['count'].sum().to_frame()
        #compounds.reset_index(inplace=True)

    print(f'Total time taken for letter {letter}: {round(time.time()-cur_time)} secs')
    with open(f'/data/dharp/compounds/datasets/stats/{letter}{0+1}.txt','w') as f:
        f.write(f'{letter}\t{0+1}\t{ntypes}\t{ntokens}\t{ncomptypes}\t{comp_count}\n')

Change in number of types: -100.0
Change in number of tokens: -100.0
Total time taken for split num 1: 0 secs
Number of types: 0, perc. of unique types (decade agnostic): 0.0%
Number of tokens: 0, ratio of tokens to types: nan

/tmp/ipykernel_193837/2514220630.py:39: RuntimeWarning: invalid value encountered in long_scalars
  print(f'Number of tokens: {ntokens}, ratio of tokens to types: {round(ntokens/ntypes,3)}')

AttributeError: 'DataFrame' object has no attribute 'comp_class'

In [ ]:
words.is_comp.value_counts()

In [16]:
words.loc[words.year<1600]

,lemma_sent,year,pos_sent,comp_class,count
196051,babble and loss of time,1581,VERB CCONJ NOUN ADP NOUN,0,1
286771,babe wrap in swaddle clothe,1581,NOUN VERB ADP VERB NOUN,0,2
511228,"baby , the death of",1587,NOUN PUNCT DET NOUN ADP,0,2
1054041,"babylon , and she be",1520,NOUN PUNCT CCONJ PRON AUX,0,1
1073153,"babylon , my servant ;",1582,NOUN PUNCT PRON NOUN PUNCT,0,1
...,...,...,...,...,...
47216424,bay of biscay . @@@,1575,NOUN ADP NOUN PUNCT PUNCT,0,1
47228558,bay of espiritu santo .,1524,NOUN ADP NOUN NOUN PUNCT,4,1
47243376,"bay of honduras , the",1524,NOUN ADP NOUN PUNCT DET,0,1
47382774,"bay tree , and high",1584,NOUN NOUN PUNCT CCONJ ADJ,2,1
47502404,"bayonet and saber , and",1563,NOUN CCONJ NOUN PUNCT CCONJ,0,1

In [14]:
words.loc[words.comp_class==3].sample(30)

,lemma_sent,year,pos_sent,comp_class,count
36969442,basic datum source be the,1983,ADJ NOUN NOUN AUX DET,3,3
36894419,basic clothing need . @@@,2000,ADJ NOUN NOUN PUNCT PUNCT,3,7
6548509,back pain care from family,2000,ADJ NOUN NOUN ADP NOUN,3,8
31455144,base budgeting requirements in 47,2007,VERB NOUN NOUN ADP NUM,3,10
26180447,bar iron gate . @@@,2006,VERB NOUN NOUN PUNCT PUNCT,3,1
31235862,base acculturation scale for mexican,2002,VERB NOUN NOUN ADP NOUN,3,2
37306624,basic material need of the,1999,ADJ NOUN NOUN ADP DET,3,7
37282435,basic lead acetate and ammonia,1882,ADJ NOUN NOUN CCONJ NOUN,3,1
36982875,basic design process . @@@,1991,ADJ NOUN NOUN PUNCT PUNCT,3,1
36895540,basic college education . @@@,1968,ADJ NOUN NOUN PUNCT PUNCT,3,1
17345766,balanced salt solution ( hanks,1988,ADJ NOUN NOUN PUNCT NOUN,3,1
37642806,basic reading skill ? @@@,2002,ADJ NOUN NOUN PUNCT PUNCT,3,1
11778012,"backup domain controller , and",1999,ADJ NOUN NOUN PUNCT CCONJ,3,8
11749763,backscatter cross section of the,1986,VERB NOUN NOUN ADP DET,3,5
27587112,bare stone wall and the,1924,ADJ NOUN NOUN CCONJ DET,3,1
13002328,bad debt reserve may be,1990,ADJ NOUN NOUN AUX VERB,3,2
31808487,"base incomes policies , """,1991,VERB NOUN NOUN PUNCT PUNCT,3,2
36947095,basic conservation law . @@@,2008,ADJ NOUN NOUN PUNCT PUNCT,3,3
27638562,"bare wood floor , the",2000,ADJ NOUN NOUN PUNCT DET,3,6
30847169,basal cell epithelioma of the,1919,ADJ NOUN NOUN ADP DET,3,5
30852039,basal energy expenditure . @@@,1994,ADJ NOUN NOUN PUNCT PUNCT,3,15
36857036,basic building block of such,1978,ADJ NOUN NOUN ADP ADJ,3,2
19555470,ban communist party . @@@,2002,VERB NOUN NOUN PUNCT PUNCT,3,4
12988691,"bad day yesterday . """,1995,ADJ NOUN NOUN PUNCT PUNCT,3,5
36594711,baseline laboratory study should include,2006,ADJ NOUN NOUN AUX VERB,3,3
18873749,"ballistic missile program , and",1997,ADJ NOUN NOUN PUNCT CCONJ,3,2
30840611,"basal body temperature , the",1987,ADJ NOUN NOUN PUNCT DET,3,2
36853775,basic building block : a,1974,ADJ NOUN NOUN PUNCT DET,3,2
13564739,"bad report card , and",2005,ADJ NOUN NOUN PUNCT CCONJ,3,1
37714979,basic sanitation facility ; @@@,2006,ADJ NOUN NOUN PUNCT PUNCT,3,3

In [31]:
new_index_df.loc[new_index_df.comp_class!=0].ner_sent.value_counts(normalize=True)*100

                            53.884922
0_15_ORG                     0.445087
0_14_ORG                     0.438419
0_6_PERSON 9_14_PERSON       0.382852
0_21_ORG                     0.375629
                              ...
0_4_GPE 17_38_ORG            0.000556
30_37_PRODUCT                0.000556
10_14_PERCENT                0.000556
0_14_GPE 17_30_PERSON        0.000556
0_15_PERSON 21_25_PERSON     0.000556
Name: ner_sent, Length: 12226, dtype: float64

In [29]:
new_index_df.loc[(new_index_df.ner_length>1)&(new_index_df.comp_class!=0)]

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
15,"B.A.R._NOUN ,_. 122_NUM Banbury_NOUN Road_NOUN",206,"B.A.R. , 122 Banbury Road",NOUN . NUM NOUN NOUN,"B.A.R. , 122 Banbury Road",9_12_CARDINAL,3,"b.a.r. , 122 banbury road",NOUN PUNCT NUM NOUN NOUN,en,True,5,0,5
60,"B.A.R._NOUN B.A.R._NOUN ,_. 122_NUM Banbury_NOUN",62,"B.A.R. B.A.R. , 122 Banbury",NOUN NOUN . NUM NOUN,"B.A.R. B.A.R. , 122 Banbury",0_13_PERSON 16_19_CARDINAL 20_27_ORG,23,"b.a.r. b.a.r. , 122 banbury",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
67,B.A.R_NOUN prices_NOUN are_VERB inclusive_ADJ ...,83,B.A.R prices are inclusive of,NOUN NOUN VERB ADJ ADP,B.A.R prices are inclusive of,0_5_ORG,5,b.a.r price be inclusive of,NOUN NOUN AUX ADJ ADP,en,True,5,0,2
68,B.A.R_NOUN publications_NOUN in_ADP print_NOUN...,86,B.A.R publications in print please,NOUN NOUN ADP NOUN VERB,B.A.R publications in print please,0_5_ORG,5,b.a.r publication in print please,NOUN NOUN ADP NOUN INTJ,en,True,5,0,2
69,B.A._ADJ -_. A_ADJ Dictionary_ADJ and_CONJ,86,B.A. - A Dictionary and,ADJ . ADJ ADJ CONJ,B.A. - A Dictionary and,0_19_ORG,19,b.a. - a dictionary and,NOUN PUNCT NOUN NOUN CCONJ,en,True,5,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574756,"bazaars_NOUN of_ADP Central_NOUN Asia_NOUN ,_.",62,"bazaars of Central Asia ,",NOUN ADP NOUN NOUN .,"bazaars of Central Asia ,",11_23_LOC,12,"bazaar of central asia ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1574757,bazaars_NOUN of_ADP Central_NOUN Asia_NOUN ._.,42,bazaars of Central Asia .,NOUN ADP NOUN NOUN .,bazaars of Central Asia .,11_23_LOC,12,bazaar of central asia .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1574770,bazaars_NOUN of_ADP the_DET Middle_NOUN East_NOUN,186,bazaars of the Middle East,NOUN ADP DET NOUN NOUN,bazaars of the Middle East,11_26_LOC,15,bazaar of the middle east,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1574771,bazaars_NOUN of_ADP the_DET Near_ADJ East_NOUN,75,bazaars of the Near East,NOUN ADP DET ADJ NOUN,bazaars of the Near East,11_24_LOC,13,bazaar of the near east,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1574772,bazaars_NOUN of_ADP the_DET Old_NOUN City_NOUN,82,bazaars of the Old City,NOUN ADP DET NOUN NOUN,bazaars of the Old City,11_23_LOC,12,bazaar of the old city,NOUN ADP DET NOUN NOUN,en,True,5,0,5

In [28]:
for ner in ner_cats:
    print(ner)
    print(new_index_df.shape[0])
    display(new_index_df.loc[(new_index_df.ner_sent.str.contains(ner))&(new_index_df.comp_class!=0)].sample(30))

CARDINAL
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
1323704,basic_ADJ four_NUM food_NOUN groups_NOUN and_CONJ,170,basic four food groups and,ADJ NUM NOUN NOUN CONJ,basic four food groups and,6_10_CARDINAL,4,basic four food group and,ADJ NUM NOUN NOUN CCONJ,en,True,5,0,4
1152321,base_NOUN pressure_NOUN of_ADP 2_NUM x_NOUN,133,base pressure of 2 x,NOUN NOUN ADP NUM NOUN,base pressure of 2 x,17_18_CARDINAL,1,base pressure of 2 x,NOUN NOUN ADP NUM SYM,en,True,5,0,2
906152,bank_NOUN account_NOUN is_VERB one_NUM of_ADP,50,bank account is one of,NOUN NOUN VERB NUM ADP,bank account is one of,16_19_CARDINAL,3,bank account be one of,NOUN NOUN AUX NUM ADP,en,True,5,0,2
216685,Battle_NOUN Soldier_NOUN of_ADP Five_NUM Wars_...,71,Battle Soldier of Five Wars,NOUN NOUN ADP NUM NOUN,Battle Soldier of Five Wars,18_22_CARDINAL,4,battle soldier of five war,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
606659,backed_ADJ three_ADJ -_. toed_ADJ woodpecker_NOUN,143,backed three - toed woodpecker,ADJ ADJ . ADJ NOUN,backed three - toed woodpecker,7_12_CARDINAL,5,back three - toed woodpecker,VERB NUM PUNCT NOUN NOUN,en,True,5,0,5
130697,Bar_NOUN =_NUM 50_NUM ym_NOUN ._.,61,Bar = 50 ym .,NOUN NUM NUM NOUN .,Bar = 50 ym .,6_8_CARDINAL,2,bar = 50 ym .,NOUN NOUN NUM INTJ PUNCT,en,True,5,0,2
116381,Bankruptcy_NOUN Act_NOUN (_. 46_NUM &_CONJ,46,Bankruptcy Act ( 46 &,NOUN NOUN . NUM CONJ,Bankruptcy Act ( 46 &,17_19_CARDINAL,2,bankruptcy act ( 46 &,NOUN NOUN PUNCT NUM CCONJ,en,True,5,0,2
872379,band_NOUN width_NOUN of_ADP 10_NUM kc_NOUN,56,band width of 10 kc,NOUN NOUN ADP NUM NOUN,band width of 10 kc,14_16_CARDINAL,2,band width of 10 kc,NOUN NOUN ADP NUM ADV,en,True,5,0,2
1180255,based_VERB on_ADP ODP_NOUN site_NOUN 677_.,61,based on ODP site 677,VERB ADP NOUN NOUN .,based on ODP site 677,9_12_ORG 18_21_CARDINAL,6,base on odp site 677,VERB ADP NOUN NOUN NUM,en,True,5,0,4
842835,ballot_NOUN count_NOUN for_ADP one_NUM of_ADP,95,ballot count for one of,NOUN NOUN ADP NUM ADP,ballot count for one of,17_20_CARDINAL,3,ballot count for one of,NOUN NOUN ADP NUM ADP,en,True,5,0,2
1066737,barley_NOUN loaves_NOUN and_CONJ two_NUM fishe...,813,barley loaves and two fishes,NOUN NOUN CONJ NUM NOUN,barley loaves and two fishes,18_21_CARDINAL,3,barley loaf and two fish,NOUN NOUN CCONJ NUM NOUN,en,True,5,0,2
216478,"Battle_NOUN Creek_NOUN ,_. Michigan_NOUN 49017...",62,"Battle Creek , Michigan 49017",NOUN NOUN . NOUN NOUN,"Battle Creek , Michigan 49017",0_12_GPE 15_23_GPE 24_29_CARDINAL,25,"battle creek , michigan 49017",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
759188,"baking_NOUN dish_NOUN ,_. layer_NOUN half_DET",58,"baking dish , layer half",NOUN NOUN . NOUN DET,"baking dish , layer half",20_24_CARDINAL,4,"baking dish , layer half",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
1159355,baseball_NOUN game_NOUN between_ADP the_DET tw...,55,baseball game between the two,NOUN NOUN ADP DET NUM,baseball game between the two,26_29_CARDINAL,3,baseball game between the two,NOUN NOUN ADP DET NUM,en,True,5,0,2
1278140,based_VERB on_ADP two_NUM data_NOUN sources_NOUN,53,based on two data sources,VERB ADP NUM NOUN NOUN,based on two data sources,9_12_CARDINAL,3,base on two datum source,VERB ADP NUM NOUN NOUN,en,True,5,0,5
191083,"Basic_ADJ Books_NOUN ,_. 1_NUM 97_NUM",103,"Basic Books , 1 97",ADJ NOUN . NUM NUM,"Basic Books , 1 97",0_11_ORG 14_18_CARDINAL,15,"basic books , 1 97",NOUN NOUN PUNCT NUM NUM,en,True,5,0,2
146506,"Barge_NOUN Corp._NOUN ,_. 314_. U.S._NOUN",68,"Barge Corp. , 314 U.S.",NOUN NOUN . . NOUN,"Barge Corp. , 314 U.S.",0_11_ORG 14_17_CARDINAL 18_22_GPE,18,"barge corp. , 314 u.s.",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
1056757,barium_NOUN flint_PRON BaF3_VERB 0578_NUM 3_NUM,51,barium flint BaF3 0578 3,NOUN PRON VERB NUM NUM,barium flint BaF3 0578 3,18_24_CARDINAL,6,barium flint baf3 0578 3,NOUN NOUN NUM NUM NUM,en,True,5,0,2
39855,Bag_NOUN 7_NOUN New_NOUN Delhi_NOUN 110_NUM,84,Bag 7 New Delhi 110,NOUN NOUN NOUN NOUN NUM,Bag 7 New Delhi 110,0_5_ORG 6_15_GPE 16_19_CARDINAL,17,bag 7 new delhi 110,NOUN NUM NOUN NOUN NUM,en,True,5,0,4
32318,"Bacon_NOUN Act_NOUN ,_. 40_NUM U.S.C._NOUN",63,"Bacon Act , 40 U.S.C.",NOUN NOUN . NUM NOUN,"Bacon Act , 40 U.S.C.",12_14_CARDINAL,2,"bacon act , 40 u.s.c.",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
1001884,"bar_NOUN iron_NOUN ,_. and_CONJ one_NUM",48,"bar iron , and one",NOUN NOUN . CONJ NUM,"bar iron , and one",15_18_CARDINAL,3,"bar iron , and one",NOUN NOUN PUNCT CCONJ NUM,en,True,5,0,2
1052188,bargaining_NOUN position_NOUN between_ADP the_...,42,bargaining position between the two,NOUN NOUN ADP DET NUM,bargaining position between the two,32_35_CARDINAL,3,bargaining position between the two,NOUN NOUN ADP DET NUM,en,True,5,0,2
1473436,"bass_NOUN clarinet_NOUN ,_. two_NUM horns_NOUN",90,"bass clarinet , two horns",NOUN NOUN . NUM NOUN,"bass clarinet , two horns",16_19_CARDINAL,3,"bass clarinet , two horn",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
40600,"Baggot_NOUN Street_NOUN ,_. Dublin_NOUN 2_.",91,"Baggot Street , Dublin 2",NOUN NOUN . NOUN .,"Baggot Street , Dublin 2",0_13_FAC 16_22_GPE 23_24_CARDINAL,20,"baggot street , dublin 2",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
1503093,battered_ADJ four_ADJ -_. wheel_NOUN drive_NOUN,55,battered four - wheel drive,ADJ ADJ . NOUN NOUN,battered four - wheel drive,9_13_CARDINAL,4,batter four - wheel drive,VERB NUM PUNCT NOUN NOUN,en,True,5,0,5
955604,banks_NOUN and_CONJ two_NUM insurance_NOUN com...,92,banks and two insurance companies,NOUN CONJ NUM NOUN NOUN,banks and two insurance companies,10_13_CARDINAL,3,bank and two insurance company,NOUN CCONJ NUM NOUN NOUN,en,True,5,0,5
57534,"Balance_NOUN November_NOUN 30_NUM ,_. 19_NUM",74,"Balance November 30 , 19",NOUN NOUN NUM . NUM,"Balance November 30 , 19",8_19_DATE 22_24_CARDINAL,13,"balance november 30 , 19",NOUN NOUN NUM PUNCT NUM,en,True,5,0,2
3416,BASS_NOUN A_NOUN Wiley_NOUN Company_NOUN 989_NOUN,45,BASS A Wiley Company 989,NOUN NOUN NOUN NOUN NOUN,BASS A Wiley Company 989,7_20_ORG 21_24_CARDINAL,16,bass a wiley company 989,NOUN DET NOUN NOUN NUM,en,True,5,0,4
146151,Bargaining_NOUN in_ADP Seven_NUM Countries_NOU...,69,Bargaining in Seven Countries .,NOUN ADP NUM NOUN .,Bargaining in Seven Countries .,14_19_CARDINAL,5,bargaining in seven countries .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
131954,Bar_NOUN News_NOUN 325_NUM (_. 1977_NUM,48,Bar News 325 ( 1977,NOUN NOUN NUM . NUM,Bar News 325 ( 1977,0_8_ORG 9_12_CARDINAL 15_19_DATE,15,bar news 325 ( 1977,NOUN NOUN NUM PUNCT NUM,en,True,5,0,2

DATE
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
366716,back_ADV for_ADP the_DET spring_NOUN semester_...,43,back for the spring semester,ADV ADP DET NOUN NOUN,back for the spring semester,9_28_DATE,19,back for the spring semester,ADV ADP DET NOUN NOUN,en,True,5,0,5
795190,balance_NOUN sheets_NOUN of_ADP December_NOUN ...,66,balance sheets of December 31,NOUN NOUN ADP NOUN NUM,balance sheets of December 31,18_29_DATE,11,balance sheet of december 31,NOUN NOUN ADP NOUN NUM,en,True,5,0,2
80810,"Baltimore_NOUN Sun_NOUN ,_. April_NOUN 30_NUM",65,"Baltimore Sun , April 30",NOUN NOUN . NOUN NUM,"Baltimore Sun , April 30",0_13_PERSON 16_24_DATE,21,"baltimore sun , april 30",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
148921,Barker_NOUN Lunn_NOUN (_. 1970_NUM )_.,114,Barker Lunn ( 1970 ),NOUN NOUN . NUM .,Barker Lunn ( 1970 ),0_11_PERSON 14_18_DATE,15,barker lunn ( 1970 ),NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
647613,backward_ADV into_ADP the_DET Middle_NOUN Ages...,106,backward into the Middle Ages,ADV ADP DET NOUN NOUN,backward into the Middle Ages,14_29_DATE,15,backward into the middle ages,ADV ADP DET NOUN NOUN,en,True,5,0,5
81871,Baltimore_NOUN convention_NOUN of_ADP 1844_NUM...,67,"Baltimore convention of 1844 ,",NOUN NOUN ADP NUM .,"Baltimore convention of 1844 ,",0_9_GPE 24_28_DATE,13,"baltimore convention of 1844 ,",NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
116506,Bankruptcy_NOUN Act_NOUN of_ADP 1898_NUM ._.,1016,Bankruptcy Act of 1898 .,NOUN NOUN ADP NUM .,Bankruptcy Act of 1898 .,18_22_DATE,4,bankruptcy act of 1898 .,NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
80976,"Baltimore_NOUN Sun_NOUN ,_. March_NOUN 21_NUM",82,"Baltimore Sun , March 21",NOUN NOUN . NOUN NUM,"Baltimore Sun , March 21",0_13_PERSON 16_24_DATE,21,"baltimore sun , march 21",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
190894,"Basic_ADJ Books_NOUN ,_. 1965_NUM ,_.",565,"Basic Books , 1965 ,",ADJ NOUN . NUM .,"Basic Books , 1965 ,",0_11_ORG 14_18_DATE,15,"basic books , 1965 ,",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
73445,"Ballston_NOUN Spa_NOUN ,_. NY_NOUN 12020_.",48,"Ballston Spa , NY 12020",NOUN NOUN . NOUN .,"Ballston Spa , NY 12020",0_12_GPE 15_17_GPE 18_23_DATE,19,"ballston spa , ny 12020",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
114819,"Banking_NOUN Act_NOUN of_ADP March_NOUN ,_.",48,"Banking Act of March ,",NOUN NOUN ADP NOUN .,"Banking Act of March ,",15_20_DATE,5,"banking act of march ,",NOUN NOUN ADP NOUN PUNCT,en,True,5,0,2
203742,"Bass_NOUN Publishers_NOUN ,_. 1976_NUM )_.",67,"Bass Publishers , 1976 )",NOUN NOUN . NUM .,"Bass Publishers , 1976 )",0_15_ORG 18_22_DATE,19,"bass publishers , 1976 )",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
196665,"Basil_NOUN Blackwell_NOUN ,_. 1982_NUM ,_.",223,"Basil Blackwell , 1982 ,",NOUN NOUN . NUM .,"Basil Blackwell , 1982 ,",0_15_PERSON 18_22_DATE,19,"basil blackwell , 1982 ,",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
89195,"Bangkok_NOUN Post_NOUN ,_. 12_NUM March_NOUN",60,"Bangkok Post , 12 March",NOUN NOUN . NUM NOUN,"Bangkok Post , 12 March",0_12_ORG 15_23_DATE,20,"bangkok post , 12 march",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
89166,Bangkok_NOUN Declaration_NOUN of_ADP 8_NUM Aug...,80,Bangkok Declaration of 8 August,NOUN NOUN ADP NUM NOUN,Bangkok Declaration of 8 August,0_7_GPE 23_31_DATE,15,bangkok declaration of 8 august,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
234821,"Bay_NOUN Colony_NOUN ,_. 7_NUM ,_.",46,"Bay Colony , 7 ,",NOUN NOUN . NUM .,"Bay Colony , 7 ,",0_10_LOC 13_14_DATE,11,"bay colony , 7 ,",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
190922,"Basic_ADJ Books_NOUN ,_. 1971_NUM ,_.",891,"Basic Books , 1971 ,",ADJ NOUN . NUM .,"Basic Books , 1971 ,",0_11_ORG 14_18_DATE,15,"basic books , 1971 ,",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
80831,"Baltimore_NOUN Sun_NOUN ,_. August_NOUN 26_NUM",58,"Baltimore Sun , August 26",NOUN NOUN . NOUN NUM,"Baltimore Sun , August 26",0_13_PERSON 16_25_DATE,22,"baltimore sun , august 26",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
77257,"Baltimore_NOUN ,_. April_NOUN 19th_NOUN ,_.",87,"Baltimore , April 19th ,",NOUN . NOUN NOUN .,"Baltimore , April 19th ,",0_9_GPE 12_22_DATE,19,"baltimore , april 19th ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
55663,"Bakke_NOUN case_NOUN in_ADP 1978_NUM ,_.",57,"Bakke case in 1978 ,",NOUN NOUN ADP NUM .,"Bakke case in 1978 ,",0_5_ORG 14_18_DATE,9,"bakke case in 1978 ,",NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
1119502,base_ADJ date_NOUN of_ADP January_NOUN 1_NUM,75,base date of January 1,ADJ NOUN ADP NOUN NUM,base date of January 1,13_22_DATE,9,base date of january 1,NOUN NOUN ADP NOUN NUM,en,True,5,0,2
90829,Bangor_NOUN in_ADP the_DET Twentieth_NOUN Cent...,109,Bangor in the Twentieth Century,NOUN ADP DET NOUN NOUN,Bangor in the Twentieth Century,0_6_GPE 10_31_DATE,27,bangor in the twentieth century,NOUN ADP DET NOUN NOUN,en,True,5,0,5
73073,Ballot_NOUN Act_NOUN of_ADP 1872_NUM ;_.,69,Ballot Act of 1872 ;,NOUN NOUN ADP NUM .,Ballot Act of 1872 ;,14_18_DATE,4,ballot act of 1872 ;,NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
80911,"Baltimore_NOUN Sun_NOUN ,_. July_NOUN 17_NUM",60,"Baltimore Sun , July 17",NOUN NOUN . NOUN NUM,"Baltimore Sun , July 17",0_13_PERSON 16_23_DATE,20,"baltimore sun , july 17",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
70766,"Ballantine_NOUN Books_NOUN ,_. 1962_NUM )_.",254,"Ballantine Books , 1962 )",NOUN NOUN . NUM .,"Ballantine Books , 1962 )",0_16_ORG 19_23_DATE,20,"ballantine books , 1962 )",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
196633,"Basil_NOUN Blackwell_NOUN ,_. 1969_NUM ._.",537,"Basil Blackwell , 1969 .",NOUN NOUN . NUM .,"Basil Blackwell , 1969 .",0_15_PERSON 18_22_DATE,19,"basil blackwell , 1969 .",NOUN NOUN PUNCT NUM PUNCT,en,True,5,0,2
84050,Ban_NOUN Treaty_NOUN of_ADP July_NOUN 1963_NUM,61,Ban Treaty of July 1963,NOUN NOUN ADP NOUN NUM,Ban Treaty of July 1963,14_23_DATE,9,ban treaty of july 1963,NOUN NOUN ADP NOUN NUM,en,True,5,0,2
1023917,"bare_ADJ As_ADP winter_NOUN trees_NOUN ,_.",49,"bare As winter trees ,",ADJ ADP NOUN NOUN .,"bare As winter trees ,",8_14_DATE,6,"bare as winter tree ,",ADJ ADP NOUN NOUN PUNCT,en,True,5,0,4
57591,"Balance_NOUN Sheet_NOUN ,_. July_NOUN 1_NUM",55,"Balance Sheet , July 1",NOUN NOUN . NOUN NUM,"Balance Sheet , July 1",16_22_DATE,6,"balance sheet , july 1",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
181140,Based_VERB on_ADP 1980_NUM census_NOUN data_NOUN,70,Based on 1980 census data,VERB ADP NUM NOUN NOUN,Based on 1980 census data,9_13_DATE,4,base on 1980 census datum,VERB ADP NUM NOUN NOUN,en,True,5,0,5

EVENT
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
116163,Banking_NOUN in_ADP the_DET Industrial_NOUN Re...,1017,Banking in the Industrial Revolution,NOUN ADP DET NOUN NOUN,Banking in the Industrial Revolution,11_36_EVENT,25,banking in the industrial revolution,NOUN ADP DET NOUN NOUN,en,True,5,0,5
41290,Baghdad_NOUN in_ADP the_DET Gulf_NOUN War_NOUN,48,Baghdad in the Gulf War,NOUN ADP DET NOUN NOUN,Baghdad in the Gulf War,0_7_GPE 11_23_EVENT,19,baghdad in the gulf war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1529353,battle_NOUN during_ADP the_DET Revolutionary_N...,309,battle during the Revolutionary War,NOUN ADP DET NOUN NOUN,battle during the Revolutionary War,14_35_EVENT,21,battle during the revolutionary war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
504309,back_ADV to_PRT the_DET Twentieth_NOUN Century...,46,back to the Twentieth Century,ADV PRT DET NOUN NOUN,back to the Twentieth Century,8_29_EVENT,21,back to the twentieth century,ADV ADP DET NOUN NOUN,en,True,5,0,5
241452,"Bayard_NOUN Series_NOUN )_. ,_. 2s_NOUN",54,"Bayard Series ) , 2s",NOUN NOUN . . NOUN,"Bayard Series ) , 2s",0_13_EVENT 18_20_CARDINAL,15,"bayard series ) , 2s",NOUN NOUN PUNCT PUNCT NUM,en,True,5,0,2
504699,back_ADV to_PRT the_DET Winter_NOUN Garden_NOUN,42,back to the Winter Garden,ADV PRT DET NOUN NOUN,back to the Winter Garden,8_25_EVENT,17,back to the winter garden,ADV ADP DET NOUN NOUN,en,True,5,0,5
960321,banks_NOUN in_ADP the_DET Third_ADJ World_NOUN,96,banks in the Third World,NOUN ADP DET ADJ NOUN,banks in the Third World,9_24_EVENT,15,bank in the third world,NOUN ADP DET NOUN NOUN,en,True,5,0,5
723582,badly_ADV damaged_VERB during_ADP World_NOUN W...,592,badly damaged during World War,ADV VERB ADP NOUN NOUN,badly damaged during World War,21_30_EVENT,9,badly damage during world war,ADV VERB ADP NOUN NOUN,en,True,5,0,5
1434156,basis_NOUN of_ADP the_DET Old_NOUN Testament_NOUN,836,basis of the Old Testament,NOUN ADP DET NOUN NOUN,basis of the Old Testament,9_26_EVENT,17,basis of the old testament,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1543682,battle_NOUN of_ADP the_DET First_NOUN World_NOUN,348,battle of the First World,NOUN ADP DET NOUN NOUN,battle of the First World,10_25_EVENT,15,battle of the first world,NOUN ADP DET NOUN NOUN,en,True,5,0,5
501203,back_ADV to_PRT the_DET English_NOUN Revolutio...,77,back to the English Revolution,ADV PRT DET NOUN NOUN,back to the English Revolution,8_30_EVENT,22,back to the english revolution,ADV ADP DET NOUN NOUN,en,True,5,0,5
1555293,battlefields_NOUN of_ADP the_DET Civil_NOUN Wa...,2159,battlefields of the Civil War,NOUN ADP DET NOUN NOUN,battlefields of the Civil War,16_29_EVENT,13,battlefield of the civil war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1241376,based_VERB on_ADP the_DET Brown_NOUN Corpus_NOUN,45,based on the Brown Corpus,VERB ADP DET NOUN NOUN,based on the Brown Corpus,9_25_EVENT,16,base on the brown corpus,VERB ADP DET NOUN NOUN,en,True,5,0,5
627275,background_NOUN of_ADP the_DET Cultural_NOUN R...,83,background of the Cultural Revolution,NOUN ADP DET NOUN NOUN,background of the Cultural Revolution,14_37_EVENT,23,background of the cultural revolution,NOUN ADP DET NOUN NOUN,en,True,5,0,5
9799,Babesia_NOUN bigemina_NOUN (_. Smith_NOUN and_...,86,Babesia bigemina ( Smith and,NOUN NOUN . NOUN CONJ,Babesia bigemina ( Smith and,0_7_EVENT,7,babesia bigemina ( smith and,NOUN NOUN PUNCT NOUN CCONJ,en,True,5,0,2
1559316,battles_NOUN in_ADP the_DET Old_NOUN Testament...,66,battles in the Old Testament,NOUN ADP DET NOUN NOUN,battles in the Old Testament,11_28_EVENT,17,battle in the old testament,NOUN ADP DET NOUN NOUN,en,True,5,0,5
66975,Balkan_NOUN War_NOUN of_ADP 1912_NUM ._.,444,Balkan War of 1912 .,NOUN NOUN ADP NUM .,Balkan War of 1912 .,0_18_EVENT,18,balkan war of 1912 .,NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
57033,Balaklava_NOUN in_ADP the_DET Crimean_ADJ War_...,112,Balaklava in the Crimean War,NOUN ADP DET ADJ NOUN,Balaklava in the Crimean War,0_9_PERSON 13_28_EVENT,24,balaklava in the crimean war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
392494,back_ADV in_ADP the_DET Pre_ADJ -_.,50,back in the Pre -,ADV ADP DET ADJ .,back in the Pre -,8_17_EVENT,9,back in the pre -,ADV ADP DET NOUN NOUN,en,True,5,0,5
1242376,based_VERB on_ADP the_DET International_ADJ St...,155,based on the International Standard,VERB ADP DET ADJ ADJ,based on the International Standard,9_35_EVENT,26,base on the international standard,VERB ADP DET NOUN NOUN,en,True,5,0,5
1141380,base_NOUN of_ADP the_DET Silurian_NOUN System_...,77,base of the Silurian System,NOUN ADP DET NOUN NOUN,base of the Silurian System,8_27_EVENT,19,base of the silurian system,NOUN ADP DET NOUN NOUN,en,True,5,0,5
502865,back_ADV to_PRT the_DET October_NOUN Revolutio...,80,back to the October Revolution,ADV PRT DET NOUN NOUN,back to the October Revolution,8_30_EVENT,22,back to the october revolution,ADV ADP DET NOUN NOUN,en,True,5,0,5
503460,back_ADV to_PRT the_DET Revolutionary_ADJ War_...,117,back to the Revolutionary War,ADV PRT DET ADJ NOUN,back to the Revolutionary War,8_29_EVENT,21,back to the revolutionary war,ADV ADP DET NOUN NOUN,en,True,5,0,5
1559303,battles_NOUN in_ADP the_DET Mexican_NOUN War_NOUN,93,battles in the Mexican War,NOUN ADP DET NOUN NOUN,battles in the Mexican War,11_26_EVENT,15,battle in the mexican war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1004367,bar_NOUN of_ADP the_DET French_NOUN Convention...,79,bar of the French Convention,NOUN ADP DET NOUN NOUN,bar of the French Convention,7_28_EVENT,21,bar of the french convention,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1560698,battles_NOUN of_ADP the_DET Revolutionary_ADJ ...,260,battles of the Revolutionary War,NOUN ADP DET ADJ NOUN,battles of the Revolutionary War,11_32_EVENT,21,battle of the revolutionary war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1213194,based_VERB on_ADP his_PRON World_NOUN War_NOUN,109,based on his World War,VERB ADP PRON NOUN NOUN,based on his World War,13_22_EVENT,9,base on his world war,VERB ADP PRON NOUN NOUN,en,True,5,0,5
237396,Bay_NOUN during_ADP the_DET Boer_NOUN War_NOUN,49,Bay during the Boer War,NOUN ADP DET NOUN NOUN,Bay during the Boer War,11_23_EVENT,12,bay during the boer war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
66951,Balkan_NOUN War_NOUN :_. Origins_VERB Reconsid...,113,Balkan War : Origins Reconsidered,NOUN NOUN . VERB VERB,Balkan War : Origins Reconsidered,0_20_EVENT,20,balkan war : origin reconsider,NOUN NOUN PUNCT NOUN VERB,en,True,5,0,2
1433919,basis_NOUN of_ADP the_DET Helsinki_NOUN Final_...,48,basis of the Helsinki Final,NOUN ADP DET NOUN NOUN,basis of the Helsinki Final,9_27_EVENT,18,basis of the helsinki final,NOUN ADP DET NOUN NOUN,en,True,5,0,5

FAC
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
1129016,base_NOUN at_ADP Holy_NOUN Loch_NOUN in_ADP,74,base at Holy Loch in,NOUN ADP NOUN NOUN ADP,base at Holy Loch in,8_17_FAC,9,base at holy loch in,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
464640,back_ADV to_PRT Pearl_NOUN Harbor_NOUN and_CONJ,160,back to Pearl Harbor and,ADV PRT NOUN NOUN CONJ,back to Pearl Harbor and,8_20_FAC,12,back to pearl harbor and,ADV ADP NOUN NOUN CCONJ,en,True,5,0,4
977885,banner_NOUN on_ADP the_DET Castle_NOUN battlem...,59,banner on the Castle battlements,NOUN ADP DET NOUN NOUN,banner on the Castle battlements,14_20_FAC,6,banner on the castle battlement,NOUN ADP DET NOUN NOUN,en,True,5,0,5
140515,"Barberini_NOUN Palace_NOUN ,_. St._NOUN John_NOUN",79,"Barberini Palace , St. John",NOUN NOUN . NOUN NOUN,"Barberini Palace , St. John",0_16_FAC 19_27_GPE,24,"barberini palace , st. john",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
1563342,battleships_NOUN of_ADP the_DET Great_NOUN Whi...,59,battleships of the Great White,NOUN ADP DET NOUN NOUN,battleships of the Great White,15_30_FAC,15,battleship of the great white,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1129219,"base_NOUN at_ADP Wheelus_NOUN Field_NOUN ,_.",59,"base at Wheelus Field ,",NOUN ADP NOUN NOUN .,"base at Wheelus Field ,",8_21_FAC,13,"base at wheelus field ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
241719,Baycrest_NOUN Centre_NOUN for_ADP Geriatric_AD...,112,Baycrest Centre for Geriatric Care,NOUN NOUN ADP ADJ NOUN,Baycrest Centre for Geriatric Care,0_34_FAC,34,baycrest centre for geriatric care,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
981210,"banquet_NOUN at_ADP Faneuil_NOUN Hall_NOUN ,_.",43,"banquet at Faneuil Hall ,",NOUN ADP NOUN NOUN .,"banquet at Faneuil Hall ,",11_23_FAC,12,"banquet at faneuil hall ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
383398,back_ADV in_ADP Baker_NOUN Street_NOUN for_ADP,80,back in Baker Street for,ADV ADP NOUN NOUN ADP,back in Baker Street for,8_20_FAC,12,back in baker street for,ADV ADP NOUN NOUN ADP,en,True,5,0,4
87991,Banff_NOUN Centre_NOUN for_ADP Continuing_VERB...,96,Banff Centre for Continuing Education,NOUN NOUN ADP VERB NOUN,Banff Centre for Continuing Education,0_37_FAC,37,banff centre for continuing education,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
197904,Basilica_NOUN of_ADP the_DET Holy_NOUN Sepulch...,572,Basilica of the Holy Sepulchre,NOUN ADP DET NOUN NOUN,Basilica of the Holy Sepulchre,12_30_FAC,18,basilica of the holy sepulchre,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1540350,battle_NOUN of_ADP Monmouth_NOUN Courthouse_NO...,88,"battle of Monmouth Courthouse ,",NOUN ADP NOUN NOUN .,"battle of Monmouth Courthouse ,",10_29_FAC,19,"battle of monmouth courthouse ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
120702,"Bannister_NOUN Road_NOUN ,_. Kansas_NOUN City_...",120,"Bannister Road , Kansas City",NOUN NOUN . NOUN NOUN,"Bannister Road , Kansas City",0_14_FAC 17_28_GPE,25,"bannister road , kansas city",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
163284,Barren_NOUN Ground_NOUN by_ADP Ellen_NOUN Glas...,76,Barren Ground by Ellen Glasgow,NOUN NOUN ADP NOUN NOUN,Barren Ground by Ellen Glasgow,0_13_FAC 17_30_PERSON,26,barren ground by ellen glasgow,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
143062,"Barclay_NOUN Street_NOUN ,_. and_CONJ the_DET",49,"Barclay Street , and the",NOUN NOUN . CONJ DET,"Barclay Street , and the",0_14_FAC,14,"barclay street , and the",NOUN NOUN PUNCT CCONJ DET,en,True,5,0,2
499971,back_ADV to_PRT the_DET Astor_NOUN House_NOUN,113,back to the Astor House,ADV PRT DET NOUN NOUN,back to the Astor House,8_23_FAC,15,back to the astor house,ADV ADP DET NOUN NOUN,en,True,5,0,5
593537,back_NOUN on_ADP the_DET Florian_NOUN Gate_NOUN,63,back on the Florian Gate,NOUN ADP DET NOUN NOUN,back on the Florian Gate,8_24_FAC,16,back on the florian gate,ADV ADP DET NOUN NOUN,en,True,5,0,5
76798,Baltimore_NOUN 's_PRT Camden_NOUN Yards_NOUN ._.,63,Baltimore 's Camden Yards .,NOUN PRT NOUN NOUN .,Baltimore 's Camden Yards .,0_9_GPE 13_25_FAC,21,baltimore 's camden yards .,NOUN PART NOUN NOUN PUNCT,en,True,5,0,4
243649,"Bayme_NOUN ,_. and_CONJ Jean_NOUN Bethke_NOUN",243,"Bayme , and Jean Bethke",NOUN . CONJ NOUN NOUN,"Bayme , and Jean Bethke",0_5_FAC 12_23_PERSON,16,"bayme , and jean bethke",NOUN PUNCT CCONJ NOUN NOUN,en,True,5,0,5
1150603,base_NOUN of_ADP this_DET Round_NOUN Tower_NOUN,63,base of this Round Tower,NOUN ADP DET NOUN NOUN,base of this Round Tower,8_24_FAC,16,base of this round tower,NOUN ADP DET NOUN NOUN,en,True,5,0,5
163287,"Barren_NOUN Grounds_NOUN ,_. and_CONJ the_DET",53,"Barren Grounds , and the",NOUN NOUN . CONJ DET,"Barren Grounds , and the",0_14_FAC,14,"barren grounds , and the",NOUN NOUN PUNCT CCONJ DET,en,True,5,0,2
349181,back_ADV at_ADP Green_NOUN Gables_NOUN !_.,62,back at Green Gables !,ADV ADP NOUN NOUN .,back at Green Gables !,8_20_FAC,12,back at green gables !,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
981246,banquet_NOUN at_ADP the_DET London_NOUN Tavern...,55,banquet at the London Tavern,NOUN ADP DET NOUN NOUN,banquet at the London Tavern,11_28_FAC,17,banquet at the london tavern,NOUN ADP DET NOUN NOUN,en,True,5,0,5
97454,"Bank_NOUN Building_NOUN ,_. Indianapolis_NOUN ,_.",91,"Bank Building , Indianapolis ,",NOUN NOUN . NOUN .,"Bank Building , Indianapolis ,",0_13_FAC 16_28_GPE,25,"bank building , indianapolis ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
131843,"Bar_NOUN Harbour_NOUN ,_. Maine_NOUN ._.",76,"Bar Harbour , Maine .",NOUN NOUN . NOUN .,"Bar Harbour , Maine .",0_11_FAC 14_19_GPE,16,"bar harbour , maine .",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
1129197,base_NOUN at_ADP Subic_NOUN Bay_NOUN in_ADP,280,base at Subic Bay in,NOUN ADP NOUN NOUN ADP,base at Subic Bay in,8_17_FAC,9,base at subic bay in,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
1556080,battlements_NOUN of_ADP Edinburgh_NOUN Castle_...,50,"battlements of Edinburgh Castle ,",NOUN ADP NOUN NOUN .,"battlements of Edinburgh Castle ,",15_31_FAC,16,"battlement of edinburgh castle ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
87985,Banff_NOUN Center_NOUN for_ADP the_DET Arts_NOUN,293,Banff Center for the Arts,NOUN NOUN ADP DET NOUN,Banff Center for the Arts,0_12_FAC,12,banff center for the art,NOUN NOUN ADP DET NOUN,en,True,5,0,2
1307088,bases_NOUN of_ADP old_ADJ Warwick_NOUN Castle_...,64,bases of old Warwick Castle,NOUN ADP ADJ NOUN NOUN,bases of old Warwick Castle,13_27_FAC,14,basis of old warwick castle,NOUN ADP ADJ NOUN NOUN,en,True,5,0,5
81638,Baltimore_NOUN and_CONJ Susquehanna_NOUN Railr...,308,"Baltimore and Susquehanna Railroad ,",NOUN CONJ NOUN NOUN .,"Baltimore and Susquehanna Railroad ,",0_9_GPE 14_34_FAC,29,"baltimore and susquehanna railroad ,",NOUN CCONJ NOUN NOUN PUNCT,en,True,5,0,4

GPE
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
153292,"Barnes_NOUN ,_. J._NOUN A._NOUN ,_.",1295,"Barnes , J. A. ,",NOUN . NOUN NOUN .,"Barnes , J. A. ,",0_6_GPE 9_14_PERSON,11,"barnes , j. a. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
136119,"Barbara_NOUN Island_NOUN ,_. California_NOUN ,_.",58,"Barbara Island , California ,",NOUN NOUN . NOUN .,"Barbara Island , California ,",0_14_GPE 17_27_GPE,24,"barbara island , california ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
8439,"Babbie_NOUN ,_. E._NOUN R._NOUN (_.",497,"Babbie , E. R. (",NOUN . NOUN NOUN .,"Babbie , E. R. (",0_6_GPE 9_14_PERSON,11,"babbie , e. r. (",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
26692,Background_NOUN (_. Hong_NOUN Kong_NOUN )_.,84,Background ( Hong Kong ),NOUN . NOUN NOUN .,Background ( Hong Kong ),13_22_GPE,9,background ( hong kong ),NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1133533,base_NOUN in_ADP San_NOUN Francisco_NOUN ._.,195,base in San Francisco .,NOUN ADP NOUN NOUN .,base in San Francisco .,8_21_GPE,13,base in san francisco .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
234618,Bay_NOUN Area_NOUN of_ADP San_NOUN Francisco_NOUN,493,Bay Area of San Francisco,NOUN NOUN ADP NOUN NOUN,Bay Area of San Francisco,0_8_LOC 12_25_GPE,21,bay area of san francisco,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
24531,Back_ADV to_PRT San_NOUN Francisco_NOUN ._.,46,Back to San Francisco .,ADV PRT NOUN NOUN .,Back to San Francisco .,8_21_GPE,13,back to san francisco .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
238489,Bay_NOUN of_ADP Bengal_NOUN north_NOUN of_ADP,48,Bay of Bengal north of,NOUN ADP NOUN NOUN ADP,Bay of Bengal north of,7_13_GPE,6,bay of bengal north of,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
149617,"Barksdale_NOUN Road_NOUN ,_. Newark_NOUN ,_.",271,"Barksdale Road , Newark ,",NOUN NOUN . NOUN .,"Barksdale Road , Newark ,",0_14_FAC 17_23_GPE,20,"barksdale road , newark ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
120193,"Banner_NOUN Elk_NOUN ,_. North_NOUN Carolina_NOUN",477,"Banner Elk , North Carolina",NOUN NOUN . NOUN NOUN,"Banner Elk , North Carolina",0_10_ORG 13_27_GPE,24,"banner elk , north carolina",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
153676,"Barnes_NOUN ,_. W._NOUN A._NOUN ,_.",127,"Barnes , W. A. ,",NOUN . NOUN NOUN .,"Barnes , W. A. ,",0_6_GPE 9_14_PERSON,11,"barnes , w. a. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
234817,Bay_NOUN Colony_NOUN (_. New_NOUN York_NOUN,94,Bay Colony ( New York,NOUN NOUN . NOUN NOUN,Bay Colony ( New York,0_10_LOC 13_21_GPE,18,bay colony ( new york,NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
1243612,based_VERB on_ADP the_DET United_NOUN States_NOUN,2942,based on the United States,VERB ADP DET NOUN NOUN,based on the United States,9_26_GPE,17,base on the united states,VERB ADP DET NOUN NOUN,en,True,5,0,5
191503,Basic_ADJ Econometrics_NOUN (_. New_NOUN York_...,60,Basic Econometrics ( New York,ADJ NOUN . NOUN NOUN,Basic Econometrics ( New York,21_29_GPE,8,basic econometrics ( new york,ADJ NOUN PUNCT NOUN NOUN,en,True,5,0,5
368024,back_ADV from_ADP New_NOUN Mexico_NOUN ._.,102,back from New Mexico .,ADV ADP NOUN NOUN .,back from New Mexico .,10_20_GPE,10,back from new mexico .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
86565,Bandbox_NOUN Theatre_NOUN in_ADP New_NOUN York...,40,Bandbox Theatre in New York,NOUN NOUN ADP NOUN NOUN,Bandbox Theatre in New York,0_15_ORG 19_27_GPE,23,bandbox theatre in new york,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
160944,"Baroque_ADJ (_. New_NOUN Haven_NOUN ,_.",48,"Baroque ( New Haven ,",ADJ . NOUN NOUN .,"Baroque ( New Haven ,",10_19_GPE,9,"baroque ( new haven ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
923011,bank_NOUN of_ADP the_DET river_NOUN Ohio_NOUN,125,bank of the river Ohio,NOUN ADP DET NOUN NOUN,bank of the river Ohio,18_22_GPE,4,bank of the river ohio,NOUN ADP DET NOUN NOUN,en,True,5,0,5
40778,"Baghdad_NOUN ,_. Harun_NOUN al_ADJ -_.",60,"Baghdad , Harun al -",NOUN . NOUN ADJ .,"Baghdad , Harun al -",0_7_GPE 10_20_PERSON,17,"baghdad , harun al -",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1133491,base_NOUN in_ADP North_NOUN Carolina_NOUN ._.,193,base in North Carolina .,NOUN ADP NOUN NOUN .,base in North Carolina .,8_22_GPE,14,base in north carolina .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
460954,back_ADV to_PRT Hong_NOUN Kong_NOUN by_ADP,88,back to Hong Kong by,ADV PRT NOUN NOUN ADP,back to Hong Kong by,8_17_GPE,9,back to hong kong by,ADV ADP NOUN NOUN ADP,en,True,5,0,4
156706,"Barnum_NOUN Museum_NOUN ,_. Bridgeport_NOUN ,_.",111,"Barnum Museum , Bridgeport ,",NOUN NOUN . NOUN .,"Barnum Museum , Bridgeport ,",0_13_ORG 16_26_GPE,23,"barnum museum , bridgeport ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
381454,back_ADV home_NOUN in_ADP Kansas_NOUN City_NOUN,67,back home in Kansas City,ADV NOUN ADP NOUN NOUN,back home in Kansas City,13_24_GPE,11,back home in kansas city,ADV ADV ADP NOUN NOUN,en,True,5,0,5
75051,"Baltic_ADJ Question_NOUN (_. Newark_NOUN ,_.",51,"Baltic Question ( Newark ,",ADJ NOUN . NOUN .,"Baltic Question ( Newark ,",0_15_ORG 18_24_GPE,21,"baltic question ( newark ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
807745,balances_NOUN from_ADP New_NOUN York_NOUN to_PRT,45,balances from New York to,NOUN ADP NOUN NOUN PRT,balances from New York to,14_22_GPE,8,balance from new york to,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
93250,"Bank_NOUN ,_. Buenos_NOUN Aires_NOUN ,_.",66,"Bank , Buenos Aires ,",NOUN . NOUN NOUN .,"Bank , Buenos Aires ,",0_4_ORG 7_19_GPE,16,"bank , buenos aires ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
63166,Baldwin_NOUN Archbishop_NOUN of_ADP Canterbury...,38,"Baldwin Archbishop of Canterbury ,",NOUN NOUN ADP NOUN .,"Baldwin Archbishop of Canterbury ,",0_18_ORG 22_32_GPE,28,"baldwin archbishop of canterbury ,",NOUN NOUN ADP NOUN PUNCT,en,True,5,0,2
1541834,battle_NOUN of_ADP St._NOUN Albans_NOUN was_VERB,148,battle of St. Albans was,NOUN ADP NOUN NOUN VERB,battle of St. Albans was,10_20_GPE,10,battle of st. albans be,NOUN ADP NOUN NOUN AUX,en,True,5,0,4
465583,back_ADV to_PRT San_NOUN Antonio_NOUN and_CONJ,330,back to San Antonio and,ADV PRT NOUN NOUN CONJ,back to San Antonio and,8_19_GPE,11,back to san antonio and,ADV ADP NOUN NOUN CCONJ,en,True,5,0,4
153532,"Barnes_NOUN ,_. R._NOUN S._NOUN ,_.",186,"Barnes , R. S. ,",NOUN . NOUN NOUN .,"Barnes , R. S. ,",0_6_GPE 9_14_PERSON,11,"barnes , r. s. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4

LANGUAGE
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
1311777,basic_ADJ English_ADJ and_CONJ math_ADJ skills...,48,basic English and math skills,ADJ ADJ CONJ ADJ NOUN,basic English and math skills,6_13_LANGUAGE,7,basic english and math skill,ADJ NOUN CCONJ NOUN NOUN,en,True,5,0,5
501199,back_ADV to_PRT the_DET English_NOUN Channel_NOUN,231,back to the English Channel,ADV PRT DET NOUN NOUN,back to the English Channel,12_19_LANGUAGE,7,back to the english channel,ADV ADP DET NOUN NOUN,en,True,5,0,5
3828,BA_NOUN in_ADP English_NOUN Literature_NOUN fr...,153,BA in English Literature from,NOUN ADP NOUN NOUN ADP,BA in English Literature from,6_13_LANGUAGE,7,ba in english literature from,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
164627,Barrett_NOUN Wendell_NOUN '_PRT s_PRT English_...,45,Barrett Wendell ' s English,NOUN NOUN PRT PRT NOUN,Barrett Wendell ' s English,0_17_PERSON 20_27_LANGUAGE,24,barrett wendell ' s english,NOUN NOUN PART PART NOUN,en,True,5,0,2
319829,back_ADV across_ADP the_DET English_NOUN Chann...,295,back across the English Channel,ADV ADP DET NOUN NOUN,back across the English Channel,16_23_LANGUAGE,7,back across the english channel,ADV ADP DET NOUN NOUN,en,True,5,0,5
1281,B.A._NOUN in_ADP English_ADJ literature_NOUN a...,68,B.A. in English literature at,NOUN ADP ADJ NOUN ADP,B.A. in English literature at,0_4_GPE 8_15_LANGUAGE,11,b.a. in english literature at,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
1242666,based_VERB on_ADP the_DET Mandarin_ADJ dialect...,46,based on the Mandarin dialect,VERB ADP DET ADJ NOUN,based on the Mandarin dialect,13_21_LANGUAGE,8,base on the mandarin dialect,VERB ADP DET NOUN NOUN,en,True,5,0,5
1283,B.A._NOUN in_ADP English_ADJ literature_NOUN i...,81,B.A. in English literature in,NOUN ADP ADJ NOUN ADP,B.A. in English literature in,0_4_GPE 8_15_LANGUAGE,11,b.a. in english literature in,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
29272,Bacon_NOUN '_PRT s_PRT Latin_NOUN ._.,166,Bacon ' s Latin .,NOUN PRT PRT NOUN .,Bacon ' s Latin .,0_9_ORG 10_15_LANGUAGE,14,bacon ' s latin .,NOUN PART NOUN NOUN PUNCT,en,True,5,0,4
1288,B.A._NOUN in_ADP English_NOUN Language_NOUN an...,131,B.A. in English Language and,NOUN ADP NOUN NOUN CONJ,B.A. in English Language and,0_4_GPE 8_15_LANGUAGE,11,b.a. in english language and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
173791,"Bartholomew_NOUN Gosnold_NOUN ,_. an_DET Engli...",87,"Bartholomew Gosnold , an English",NOUN NOUN . DET ADJ,"Bartholomew Gosnold , an English",0_19_PERSON 25_32_LANGUAGE,26,"bartholomew gosnold , an english",NOUN NOUN PUNCT DET NOUN,en,True,5,0,2
1474846,bastard_NOUN Pushto_VERB that_ADP he_PRON had_...,48,bastard Pushto that he had,NOUN VERB ADP PRON VERB,bastard Pushto that he had,8_14_LANGUAGE,6,bastard pushto that he have,NOUN NOUN SCONJ PRON VERB,en,True,5,0,2
196905,"Basil_NOUN Hall_NOUN ,_. an_DET English_ADJ",132,"Basil Hall , an English",NOUN NOUN . DET ADJ,"Basil Hall , an English",0_10_PERSON 16_23_LANGUAGE,17,"basil hall , an english",NOUN NOUN PUNCT DET NOUN,en,True,5,0,2
48151,Baines_NOUN Professor_NOUN of_ADP English_NOUN...,52,Baines Professor of English Language,NOUN NOUN ADP NOUN NOUN,Baines Professor of English Language,0_6_PERSON 20_27_LANGUAGE,13,baines professor of english language,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
43108,Bahasa_NOUN Malaysia_NOUN and_CONJ English_NOU...,70,"Bahasa Malaysia and English ,",NOUN NOUN CONJ NOUN .,"Bahasa Malaysia and English ,",7_15_GPE 20_27_LANGUAGE,15,"bahasa malaysia and english ,",NOUN NOUN CCONJ NOUN PUNCT,en,True,5,0,2
54951,Bakhmeteff_NOUN Archive_NOUN of_ADP Russian_AD...,124,Bakhmeteff Archive of Russian and,NOUN NOUN ADP ADJ CONJ,Bakhmeteff Archive of Russian and,0_18_ORG 22_29_LANGUAGE,25,bakhmeteff archive of russian and,NOUN NOUN ADP NOUN CCONJ,en,True,5,0,2
3796,BA_NOUN degree_NOUN in_ADP English_NOUN from_ADP,88,BA degree in English from,NOUN NOUN ADP NOUN ADP,BA degree in English from,13_20_LANGUAGE,7,ba degree in english from,NOUN NOUN ADP NOUN ADP,en,True,5,0,2
1280,B.A._NOUN in_ADP English_ADJ literature_NOUN a...,160,B.A. in English literature and,NOUN ADP ADJ NOUN CONJ,B.A. in English literature and,0_4_GPE 8_15_LANGUAGE,11,b.a. in english literature and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
1290,B.A._NOUN in_ADP English_NOUN Literature_NOUN ._.,79,B.A. in English Literature .,NOUN ADP NOUN NOUN .,B.A. in English Literature .,0_4_GPE 8_15_LANGUAGE,11,b.a. in english literature .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
622210,background_NOUN in_ADP English_ADJ literature_...,85,background in English literature and,NOUN ADP ADJ NOUN CONJ,background in English literature and,14_21_LANGUAGE,7,background in english literature and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
271293,baccata_NOUN (_. English_ADJ yew_NOUN )_.,93,baccata ( English yew ),NOUN . ADJ NOUN .,baccata ( English yew ),10_17_LANGUAGE,7,baccata ( english yew ),NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1279,B.A._NOUN in_ADP English_ADJ literature_NOUN ._.,148,B.A. in English literature .,NOUN ADP ADJ NOUN .,B.A. in English literature .,0_4_GPE 8_15_LANGUAGE,11,b.a. in english literature .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1343834,basic_ADJ sentence_NOUN patterns_NOUN in_ADP E...,95,basic sentence patterns in English,ADJ NOUN NOUN ADP NOUN,basic sentence patterns in English,27_34_LANGUAGE,7,basic sentence pattern in english,ADJ NOUN NOUN ADP NOUN,en,True,5,0,3
190772,Basic_ADJ Aims_NOUN for_ADP English_NOUN Instr...,72,Basic Aims for English Instruction,ADJ NOUN ADP NOUN NOUN,Basic Aims for English Instruction,15_22_LANGUAGE,7,basic aims for english instruction,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
40383,Bagehot_NOUN '_PRT s_PRT English_NOUN Constitu...,167,Bagehot ' s English Constitution,NOUN PRT PRT NOUN NOUN,Bagehot ' s English Constitution,0_7_ORG 12_19_LANGUAGE,14,bagehot ' s english constitution,NOUN PART PART NOUN NOUN,en,True,5,0,5
1063,B.A._NOUN degree_NOUN in_ADP English_NOUN from...,358,B.A. degree in English from,NOUN NOUN ADP NOUN ADP,B.A. degree in English from,0_4_GPE 15_22_LANGUAGE,11,b.a. degree in english from,NOUN NOUN ADP NOUN ADP,en,True,5,0,2
1474841,"bastard_NOUN Latin_NOUN ,_. Which_DET melts_VERB",233,"bastard Latin , Which melts",NOUN NOUN . DET VERB,"bastard Latin , Which melts",8_13_LANGUAGE,5,"bastard latin , which melt",NOUN NOUN PUNCT DET VERB,en,True,5,0,2
1059,"B.A._NOUN degree_NOUN in_ADP English_NOUN ,_.",67,"B.A. degree in English ,",NOUN NOUN ADP NOUN .,"B.A. degree in English ,",0_4_GPE 15_22_LANGUAGE,11,"b.a. degree in english ,",NOUN NOUN ADP NOUN PUNCT,en,True,5,0,2
3826,BA_NOUN in_ADP English_NOUN Literature_NOUN ._.,40,BA in English Literature .,NOUN ADP NOUN NOUN .,BA in English Literature .,6_13_LANGUAGE,7,ba in english literature .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
138933,Barbarous_ADJ Proceedings_NOUN against_ADP the...,96,Barbarous Proceedings against the English,ADJ NOUN ADP DET NOUN,Barbarous Proceedings against the English,0_21_ORG 34_41_LANGUAGE,28,barbarous proceedings against the english,NOUN NOUN ADP DET NOUN,en,True,5,0,2

LAW
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
674641,"bad_ADJ ,_. the_DET Sixth_NOUN Amendment_NOUN",49,"bad , the Sixth Amendment",ADJ . DET NOUN NOUN,"bad , the Sixth Amendment",6_25_LAW,19,"bad , the sixth amendment",ADJ PUNCT DET NOUN NOUN,en,True,5,0,5
189531,Basel_NOUN --_. the_DET Papal_ADJ Restoration_...,68,Basel -- the Papal Restoration,NOUN . DET ADJ NOUN,Basel -- the Papal Restoration,0_5_GPE 9_30_LAW,26,basel -- the papal restoration,NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
1434159,basis_NOUN of_ADP the_DET Optional_ADJ Clause_...,70,basis of the Optional Clause,NOUN ADP DET ADJ NOUN,basis of the Optional Clause,9_28_LAW,19,basis of the optional clause,NOUN ADP DET NOUN NOUN,en,True,5,0,5
797686,balance_NOUN with_ADP the_DET Warsaw_NOUN Pact...,58,balance with the Warsaw Pact,NOUN ADP DET NOUN NOUN,balance with the Warsaw Pact,13_28_LAW,15,balance with the warsaw pact,NOUN ADP DET NOUN NOUN,en,True,5,0,5
457374,back_ADV to_PRT Chapter_NOUN XI_NOUN ._.,40,back to Chapter XI .,ADV PRT NOUN NOUN .,back to Chapter XI .,8_18_LAW,10,back to chapter xi .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
1241926,based_VERB on_ADP the_DET Final_NOUN Act_NOUN,52,based on the Final Act,VERB ADP DET NOUN NOUN,based on the Final Act,9_22_LAW,13,base on the final act,VERB ADP DET NOUN NOUN,en,True,5,0,5
1433436,basis_NOUN of_ADP the_DET Basic_NOUN Law_NOUN,54,basis of the Basic Law,NOUN ADP DET NOUN NOUN,basis of the Basic Law,9_22_LAW,13,basis of the basic law,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1243616,based_VERB on_ADP the_DET Universal_NOUN Decla...,544,based on the Universal Declaration,VERB ADP DET NOUN NOUN,based on the Universal Declaration,9_34_LAW,25,base on the universal declaration,VERB ADP DET NOUN NOUN,en,True,5,0,5
1243632,based_VERB on_ADP the_DET Value_NOUN Line_NOUN,94,based on the Value Line,VERB ADP DET NOUN NOUN,based on the Value Line,9_23_LAW,14,base on the value line,VERB ADP DET NOUN NOUN,en,True,5,0,5
1079557,barred_VERB by_ADP the_DET Eleventh_NOUN Amend...,2531,barred by the Eleventh Amendment,VERB ADP DET NOUN NOUN,barred by the Eleventh Amendment,10_32_LAW,22,bar by the eleventh amendment,VERB ADP DET NOUN NOUN,en,True,5,0,5
1292144,based_VERB upon_ADP the_DET Commerce_NOUN Clau...,64,based upon the Commerce Clause,VERB ADP DET NOUN NOUN,based upon the Commerce Clause,11_30_LAW,19,base upon the commerce clause,VERB SCONJ DET NOUN NOUN,en,True,5,0,5
1241208,based_VERB on_ADP the_DET Augsburg_NOUN Confes...,161,based on the Augsburg Confession,VERB ADP DET NOUN NOUN,based on the Augsburg Confession,9_32_LAW,23,base on the augsburg confession,VERB ADP DET NOUN NOUN,en,True,5,0,5
870192,band_NOUN played_VERB the_DET National_NOUN An...,844,band played the National Anthem,NOUN VERB DET NOUN NOUN,band played the National Anthem,12_31_LAW,19,band play the national anthem,NOUN VERB DET NOUN NOUN,en,True,5,0,5
145222,Barents_NOUN Euro_NOUN --_. Arctic_NOUN Counci...,114,Barents Euro -- Arctic Council,NOUN NOUN . NOUN NOUN,Barents Euro -- Arctic Council,0_12_LAW 16_30_ORG,26,barents euro -- arctic council,NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
1242378,based_VERB on_ADP the_DET International_NOUN C...,89,based on the International Code,VERB ADP DET NOUN NOUN,based on the International Code,9_31_LAW,22,base on the international code,VERB ADP DET NOUN NOUN,en,True,5,0,5
145223,Barents_NOUN Euro_NOUN --_. Arctic_NOUN Region...,117,Barents Euro -- Arctic Region,NOUN NOUN . NOUN NOUN,Barents Euro -- Arctic Region,0_12_LAW 16_29_LOC,25,barents euro -- arctic region,NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
942835,bankrupt_ADJ under_ADP the_DET Bankruptcy_NOUN...,350,bankrupt under the Bankruptcy Act,ADJ ADP DET NOUN NOUN,bankrupt under the Bankruptcy Act,15_33_LAW,18,bankrupt under the bankruptcy act,ADJ ADP DET NOUN NOUN,en,True,5,0,5
1292238,based_VERB upon_ADP the_DET Ordnance_NOUN Surv...,229,based upon the Ordnance Survey,VERB ADP DET NOUN NOUN,based upon the Ordnance Survey,11_30_LAW,19,base upon the ordnance survey,VERB SCONJ DET NOUN NOUN,en,True,5,0,5
1079556,barred_VERB by_ADP the_DET Eleventh_ADJ Amendm...,84,barred by the Eleventh Amendment,VERB ADP DET ADJ NOUN,barred by the Eleventh Amendment,10_32_LAW,22,bar by the eleventh amendment,VERB ADP DET NOUN NOUN,en,True,5,0,5
3224,BASIC_ADJ PRINCIPLES_NOUN Article_VERB 1_NUM N...,101,BASIC PRINCIPLES Article 1 Nature,ADJ NOUN VERB NUM NOUN,BASIC PRINCIPLES Article 1 Nature,17_33_LAW,16,basic principle article 1 nature,ADJ NOUN NOUN NUM NOUN,en,True,5,0,3
1178811,based_VERB on_ADP Chapter_NOUN VII_NOUN of_ADP,234,based on Chapter VII of,VERB ADP NOUN NOUN ADP,based on Chapter VII of,9_20_LAW,11,base on chapter vii of,VERB ADP NOUN NOUN ADP,en,True,5,0,4
1434494,basis_NOUN of_ADP the_DET Universal_NOUN Decla...,141,basis of the Universal Declaration,NOUN ADP DET NOUN NOUN,basis of the Universal Declaration,9_34_LAW,25,basis of the universal declaration,NOUN ADP DET NOUN NOUN,en,True,5,0,5
942836,bankrupt_ADJ under_ADP the_DET Federal_NOUN Ba...,308,bankrupt under the Federal Bankruptcy,ADJ ADP DET NOUN NOUN,bankrupt under the Federal Bankruptcy,15_37_LAW,22,bankrupt under the federal bankruptcy,ADJ ADP DET NOUN NOUN,en,True,5,0,5
1242749,based_VERB on_ADP the_DET Model_NOUN Code_NOUN,148,based on the Model Code,VERB ADP DET NOUN NOUN,based on the Model Code,9_23_LAW,14,base on the model code,VERB ADP DET NOUN NOUN,en,True,5,0,5
1434185,basis_NOUN of_ADP the_DET Peace_NOUN Treaty_NOUN,111,basis of the Peace Treaty,NOUN ADP DET NOUN NOUN,basis of the Peace Treaty,9_25_LAW,16,basis of the peace treaty,NOUN ADP DET NOUN NOUN,en,True,5,0,5
83280,Bamako_NOUN Convention_NOUN on_ADP the_DET Ban...,521,Bamako Convention on the Ban,NOUN NOUN ADP DET NOUN,Bamako Convention on the Ban,0_17_LAW,17,bamako convention on the ban,NOUN NOUN ADP DET NOUN,en,True,5,0,2
502421,back_ADV to_PRT the_DET Main_NOUN Menu_NOUN,533,back to the Main Menu,ADV PRT DET NOUN NOUN,back to the Main Menu,8_21_LAW,13,back to the main menu,ADV ADP DET NOUN NOUN,en,True,5,0,5
1243133,based_VERB on_ADP the_DET Rehabilitation_NOUN ...,68,based on the Rehabilitation Act,VERB ADP DET NOUN NOUN,based on the Rehabilitation Act,9_31_LAW,22,base on the rehabilitation act,VERB ADP DET NOUN NOUN,en,True,5,0,5
504463,back_ADV to_PRT the_DET Universal_NOUN Declara...,44,back to the Universal Declaration,ADV PRT DET NOUN NOUN,back to the Universal Declaration,8_33_LAW,25,back to the universal declaration,ADV ADP DET NOUN NOUN,en,True,5,0,5
1079564,barred_VERB by_ADP the_DET First_ADJ Amendment...,532,barred by the First Amendment,VERB ADP DET ADJ NOUN,barred by the First Amendment,10_29_LAW,19,bar by the first amendment,VERB ADP DET NOUN NOUN,en,True,5,0,5

LOC
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
968691,banks_NOUN of_ADP the_DET river_NOUN Wye_.,289,banks of the river Wye,NOUN ADP DET NOUN .,banks of the river Wye,19_22_LOC,3,bank of the river wye,NOUN ADP DET NOUN NOUN,en,True,5,0,5
14907,"Babylonian_ADJ Chronicles_NOUN ,_. Locust_NOUN...",48,"Babylonian Chronicles , Locust Valley",ADJ NOUN . NOUN NOUN,"Babylonian Chronicles , Locust Valley",24_37_LOC,13,"babylonian chronicle , locust valley",ADJ NOUN PUNCT NOUN NOUN,en,True,5,0,5
1359793,basin_NOUN of_ADP the_DET Gila_NOUN River_NOUN,56,basin of the Gila River,NOUN ADP DET NOUN NOUN,basin of the Gila River,9_23_LOC,14,basin of the gila river,NOUN ADP DET NOUN NOUN,en,True,5,0,5
893644,"banished_VERB to_PRT New_NOUN England_NOUN ,_.",76,"banished to New England ,",VERB PRT NOUN NOUN .,"banished to New England ,",12_23_LOC,11,"banish to new england ,",VERB ADP NOUN NOUN PUNCT,en,True,5,0,4
118266,"Banks_NOUN Peninsula_NOUN ,_. South_ADJ Island...",46,"Banks Peninsula , South Island",NOUN NOUN . ADJ NOUN,"Banks Peninsula , South Island",0_15_LOC 18_30_LOC,27,"banks peninsula , south island",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
502577,back_ADV to_PRT the_DET Middle_NOUN Stone_NOUN,80,back to the Middle Stone,ADV PRT DET NOUN NOUN,back to the Middle Stone,8_24_LOC,16,back to the middle stone,ADV ADP DET NOUN NOUN,en,True,5,0,5
1242849,based_VERB on_ADP the_DET New_NOUN South_NOUN,82,based on the New South,VERB ADP DET NOUN NOUN,based on the New South,9_22_LOC,13,base on the new south,VERB ADP DET NOUN NOUN,en,True,5,0,5
230948,"Bay_NOUN ,_. Trunk_NOUN Bay_NOUN ,_.",57,"Bay , Trunk Bay ,",NOUN . NOUN NOUN .,"Bay , Trunk Bay ,",6_15_LOC,9,"bay , trunk bay ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
463661,back_ADV to_PRT New_NOUN England_NOUN for_ADP,165,back to New England for,ADV PRT NOUN NOUN ADP,back to New England for,8_19_LOC,11,back to new england for,ADV ADP NOUN NOUN ADP,en,True,5,0,4
133808,Barbadoes_NOUN and_CONJ the_DET Western_ADJ Is...,41,Barbadoes and the Western Isles,NOUN CONJ DET ADJ NOUN,Barbadoes and the Western Isles,0_9_GPE 14_31_LOC,26,barbadoe and the western isles,NOUN CCONJ DET NOUN NOUN,en,True,5,0,5
1540288,battle_NOUN of_ADP Mobile_NOUN Bay_NOUN and_CONJ,92,battle of Mobile Bay and,NOUN ADP NOUN NOUN CONJ,battle of Mobile Bay and,10_20_LOC,10,battle of mobile bay and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
787271,balance_NOUN of_ADP the_DET Greenland_NOUN Ice...,97,balance of the Greenland Ice,NOUN ADP DET NOUN NOUN,balance of the Greenland Ice,11_28_LOC,17,balance of the greenland ice,NOUN ADP DET NOUN NOUN,en,True,5,0,5
966097,banks_NOUN of_ADP the_DET Patuxent_NOUN River_...,99,banks of the Patuxent River,NOUN ADP DET NOUN NOUN,banks of the Patuxent River,9_27_LOC,18,bank of the patuxent river,NOUN ADP DET NOUN NOUN,en,True,5,0,5
240604,"Bay_NOUN region_NOUN ,_. California_NOUN ._.",177,"Bay region , California .",NOUN NOUN . NOUN .,"Bay region , California .",0_10_LOC 13_23_GPE,20,"bay region , california .",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
969722,banks_NOUN on_ADP the_DET Pacific_NOUN Coast_NOUN,60,banks on the Pacific Coast,NOUN ADP DET NOUN NOUN,banks on the Pacific Coast,9_26_LOC,17,bank on the pacific coast,NOUN ADP DET NOUN NOUN,en,True,5,0,5
966307,banks_NOUN of_ADP the_DET Rhine_NOUN River_NOUN,416,banks of the Rhine River,NOUN ADP DET NOUN NOUN,banks of the Rhine River,9_24_LOC,15,bank of the rhine river,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1558239,battles_NOUN at_ADP Coral_NOUN Sea_NOUN and_CONJ,43,battles at Coral Sea and,NOUN ADP NOUN NOUN CONJ,battles at Coral Sea and,11_20_LOC,9,battle at coral sea and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
964677,banks_NOUN of_ADP the_DET Genesee_NOUN River_NOUN,262,banks of the Genesee River,NOUN ADP DET NOUN NOUN,banks of the Genesee River,9_26_LOC,17,bank of the genesee river,NOUN ADP DET NOUN NOUN,en,True,5,0,5
75216,Baltic_ADJ Sea_NOUN by_ADP way_NOUN of_ADP,102,Baltic Sea by way of,ADJ NOUN ADP NOUN ADP,Baltic Sea by way of,0_10_LOC,10,baltic sea by way of,NOUN NOUN ADP NOUN ADP,en,True,5,0,2
76345,Baltic_ADJ with_ADP the_DET North_NOUN Sea_NOUN,487,Baltic with the North Sea,ADJ ADP DET NOUN NOUN,Baltic with the North Sea,0_6_LOC 12_25_LOC,19,baltic with the north sea,NOUN ADP DET NOUN NOUN,en,True,5,0,5
122113,"Bantry_NOUN Bay_NOUN ,_. and_CONJ whether_ADP",74,"Bantry Bay , and whether",NOUN NOUN . CONJ ADP,"Bantry Bay , and whether",0_10_LOC,10,"bantry bay , and whether",NOUN NOUN PUNCT CCONJ SCONJ,en,True,5,0,2
915676,bank_NOUN lending_NOUN to_PRT Latin_NOUN Ameri...,194,bank lending to Latin America,NOUN NOUN PRT NOUN NOUN,bank lending to Latin America,16_29_LOC,13,bank lending to latin america,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
76457,Baltic_NOUN Sea_NOUN and_CONJ German_NOUN Ocea...,46,Baltic Sea and German Ocean,NOUN NOUN CONJ NOUN NOUN,Baltic Sea and German Ocean,0_10_LOC 15_21_NORP,16,baltic sea and german ocean,NOUN NOUN CCONJ NOUN NOUN,en,True,5,0,1
1560668,battles_NOUN of_ADP the_DET Philippine_NOUN Se...,149,battles of the Philippine Sea,NOUN ADP DET NOUN NOUN,battles of the Philippine Sea,11_29_LOC,18,battle of the philippine sea,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1559828,battles_NOUN of_ADP Bunker_NOUN Hill_NOUN and_...,262,battles of Bunker Hill and,NOUN ADP NOUN NOUN CONJ,battles of Bunker Hill and,11_22_LOC,11,battle of bunker hill and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
965726,banks_NOUN of_ADP the_DET Neosho_NOUN River_NOUN,82,banks of the Neosho River,NOUN ADP DET NOUN NOUN,banks of the Neosho River,9_25_LOC,16,bank of the neosho river,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1134102,base_NOUN in_ADP the_DET Persian_NOUN Gulf_NOUN,342,base in the Persian Gulf,NOUN ADP DET NOUN NOUN,base in the Persian Gulf,8_24_LOC,16,base in the persian gulf,NOUN ADP DET NOUN NOUN,en,True,5,0,5
234866,"Bay_NOUN Colony_NOUN in_ADP 1630_NUM ,_.",150,"Bay Colony in 1630 ,",NOUN NOUN ADP NUM .,"Bay Colony in 1630 ,",0_10_LOC 14_18_DATE,14,"bay colony in 1630 ,",NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
457257,back_ADV to_PRT Central_NOUN Asia_NOUN ._.,131,back to Central Asia .,ADV PRT NOUN NOUN .,back to Central Asia .,8_20_LOC,12,back to central asia .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
1134034,base_NOUN in_ADP the_DET Eastern_NOUN Mediterr...,217,base in the Eastern Mediterranean,NOUN ADP DET NOUN NOUN,base in the Eastern Mediterranean,8_33_LOC,25,base in the eastern mediterranean,NOUN ADP DET NOUN NOUN,en,True,5,0,5

MONEY
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
1047099,bargain_NOUN price_NOUN of_ADP $_. 4.24_NUM,755,bargain price of $ 4.24,NOUN NOUN ADP . NUM,bargain price of $ 4.24,19_23_MONEY,4,bargain price of $ 4.24,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1178282,based_VERB on_ADP 75_NUM per_ADP cent_NOUN,147,based on 75 per cent,VERB ADP NUM ADP NOUN,based on 75 per cent,9_20_MONEY,11,base on 75 per cent,VERB ADP NUM NOUN NOUN,en,True,5,0,5
1047105,bargain_NOUN price_NOUN of_ADP $_. 5.24_NUM,393,bargain price of $ 5.24,NOUN NOUN ADP . NUM,bargain price of $ 5.24,19_23_MONEY,4,bargain price of $ 5.24,NOUN NOUN ADP SYM NUM,en,True,5,0,2
915827,"bank_NOUN loan_NOUN of_ADP $_. 25,000_NUM",63,"bank loan of $ 25,000",NOUN NOUN ADP . NUM,"bank loan of $ 25,000",15_21_MONEY,6,"bank loan of $ 25,000",NOUN NOUN ADP SYM NUM,en,True,5,0,2
1152425,base_NOUN rate_NOUN of_ADP $_. 1.00_NUM,61,base rate of $ 1.00,NOUN NOUN ADP . NUM,base rate of $ 1.00,15_19_MONEY,4,base rate of $ 1.00,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1484340,bath_NOUN of_ADP 100_NUM _NUM F._NOUN,56,bath of 100 F.,NOUN ADP NUM NUM NOUN,bath of 100 F.,8_16_MONEY,8,bath of 100 f.,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1178197,based_VERB on_ADP 35_NUM U.S.C._NUM _NUM,91,based on 35 U.S.C.,VERB ADP NUM NUM NUM,based on 35 U.S.C.,9_20_MONEY,11,base on 35 u.s.c.,VERB ADP NUM NOUN NOUN,en,True,5,0,5
756491,baked_VERB at_ADP 200_NUM _NUM C._NOUN,50,baked at 200 C.,VERB ADP NUM NUM NOUN,baked at 200 C.,9_17_MONEY,8,bake at 200 c.,VERB ADP NUM NOUN NOUN,en,True,5,0,5
1047087,bargain_NOUN price_NOUN of_ADP $_. 3.25_NUM,121,bargain price of $ 3.25,NOUN NOUN ADP . NUM,bargain price of $ 3.25,19_23_MONEY,4,bargain price of $ 3.25,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1130698,base_NOUN fee_NOUN of_ADP $_. .10_NUM,437,base fee of $ .10,NOUN NOUN ADP . NUM,base fee of $ .10,14_17_MONEY,3,base fee of $ .10,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1178281,based_VERB on_ADP 75_NUM per_ADP cent_ADJ,80,based on 75 per cent,VERB ADP NUM ADP ADJ,based on 75 per cent,9_20_MONEY,11,base on 75 per cent,VERB ADP NUM NOUN NOUN,en,True,5,0,5
1047106,bargain_NOUN price_NOUN of_ADP $_. 5.49_NUM,130,bargain price of $ 5.49,NOUN NOUN ADP . NUM,bargain price of $ 5.49,19_23_MONEY,4,bargain price of $ 5.49,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1400583,basis_NOUN of_ADP 15_NUM per_ADP cent_ADJ,56,basis of 15 per cent,NOUN ADP NUM ADP ADJ,basis of 15 per cent,9_20_MONEY,11,basis of 15 per cent,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
93050,"Bank_NOUN ,_. 45_NUM N._NOUN Y._NOUN",124,"Bank , 45 N. Y.",NOUN . NUM NOUN NOUN,"Bank , 45 N. Y.",7_15_MONEY,8,"bank , 45 n. y.",NOUN PUNCT NUM NOUN NOUN,en,True,5,0,5
917400,bank_NOUN notes_NOUN of_ADP _. 1_NUM,40,bank notes of 1,NOUN NOUN ADP . NUM,bank notes of 1,14_17_MONEY,3,bank note of 1,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1371575,basis_NOUN adjustment_NOUN of_ADP $_. 300_NUM,45,basis adjustment of $ 300,NOUN NOUN ADP . NUM,basis adjustment of $ 300,22_25_MONEY,3,basis adjustment of $ 300,NOUN NOUN ADP SYM NUM,en,True,5,0,2
778439,balance_NOUN of_ADP 20_NUM per_ADP cent_NOUN,322,balance of 20 per cent,NOUN ADP NUM ADP NOUN,balance of 20 per cent,11_22_MONEY,11,balance of 20 per cent,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
93049,"Bank_NOUN ,_. 45_NUM N._NOUN H._NOUN",120,"Bank , 45 N. H.",NOUN . NUM NOUN NOUN,"Bank , 45 N. H.",7_15_MONEY,8,"bank , 45 n. h.",NOUN PUNCT NUM NOUN NOUN,en,True,5,0,5
1400676,basis_NOUN of_ADP 60_NUM per_ADP cent_NOUN,255,basis of 60 per cent,NOUN ADP NUM ADP NOUN,basis of 60 per cent,9_20_MONEY,11,basis of 60 per cent,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1130720,base_NOUN fee_NOUN of_ADP $_. 6.00_NUM,170,base fee of $ 6.00,NOUN NOUN ADP . NUM,base fee of $ 6.00,14_18_MONEY,4,base fee of $ 6.00,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1047103,bargain_NOUN price_NOUN of_ADP $_. 4.99_NUM,598,bargain price of $ 4.99,NOUN NOUN ADP . NUM,bargain price of $ 4.99,19_23_MONEY,4,bargain price of $ 4.99,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1130713,base_NOUN fee_NOUN of_ADP $_. 2.50_NUM,138,base fee of $ 2.50,NOUN NOUN ADP . NUM,base fee of $ 2.50,14_18_MONEY,4,base fee of $ 2.50,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1400617,basis_NOUN of_ADP 20_NUM per_ADP cent_ADJ,44,basis of 20 per cent,NOUN ADP NUM ADP ADJ,basis of 20 per cent,9_20_MONEY,11,basis of 20 per cent,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
49948,Bake_NOUN in_ADP 450_NUM _NUM F._NOUN,55,Bake in 450 F.,NOUN ADP NUM NUM NOUN,Bake in 450 F.,8_16_MONEY,8,bake in 450 f.,VERB ADP NUM NOUN NOUN,en,True,5,0,5
916868,bank_NOUN note_NOUN for_ADP _NUM 100_NUM,96,bank note for 100,NOUN NOUN ADP NUM NUM,bank note for 100,16_19_MONEY,3,bank note for 100,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1130703,base_NOUN fee_NOUN of_ADP $_. 02.00_NUM,62,base fee of $ 02.00,NOUN NOUN ADP . NUM,base fee of $ 02.00,14_19_MONEY,5,base fee of $ 02.00,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1047085,bargain_NOUN price_NOUN of_ADP $_. 3.12_NUM,115,bargain price of $ 3.12,NOUN NOUN ADP . NUM,bargain price of $ 3.12,19_23_MONEY,4,bargain price of $ 3.12,NOUN NOUN ADP SYM NUM,en,True,5,0,2
1047110,bargain_NOUN price_NOUN of_ADP only_ADV $_.,120,bargain price of only $,NOUN NOUN ADP ADV .,bargain price of only $,17_23_MONEY,6,bargain price of only $,NOUN NOUN ADP ADV SYM,en,True,5,0,2
778448,balance_NOUN of_ADP 40_NUM per_ADP cent_NOUN,187,balance of 40 per cent,NOUN ADP NUM ADP NOUN,balance of 40 per cent,11_22_MONEY,11,balance of 40 per cent,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1130708,base_NOUN fee_NOUN of_ADP $_. 15.00_NUM,116,base fee of $ 15.00,NOUN NOUN ADP . NUM,base fee of $ 15.00,14_19_MONEY,5,base fee of $ 15.00,NOUN NOUN ADP SYM NUM,en,True,5,0,2

NORP
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
11580,"Baby_NOUN Boom_NOUN ,_. ""_. American_ADJ",105,"Baby Boom , "" American",NOUN NOUN . . ADJ,"Baby Boom , "" American",14_22_NORP,8,"baby boom , "" american",NOUN NOUN PUNCT PUNCT ADJ,en,True,5,0,2
9156,Babe_NOUN Ruth_NOUN and_CONJ the_DET American_ADJ,115,Babe Ruth and the American,NOUN NOUN CONJ DET ADJ,Babe Ruth and the American,0_9_PERSON 18_26_NORP,17,babe ruth and the american,NOUN NOUN CCONJ DET NOUN,en,True,5,0,2
225346,Bauhaus_NOUN school_NOUN of_ADP art_NOUN and_CONJ,117,Bauhaus school of art and,NOUN NOUN ADP NOUN CONJ,Bauhaus school of art and,0_7_NORP,7,bauhaus school of art and,NOUN NOUN ADP NOUN CCONJ,en,True,5,0,2
131452,Bar_NOUN Association_NOUN and_CONJ the_DET Ame...,4004,Bar Association and the American,NOUN NOUN CONJ DET NOUN,Bar Association and the American,0_15_ORG 24_32_NORP,23,bar association and the american,NOUN NOUN CCONJ DET NOUN,en,True,5,0,2
156955,"Baroda_NOUN ,_. and_CONJ Central_ADJ Indian_ADJ",55,"Baroda , and Central Indian",NOUN . CONJ ADJ ADJ,"Baroda , and Central Indian",0_6_GPE 13_27_NORP,20,"baroda , and central indian",NOUN PUNCT CCONJ NOUN NOUN,en,True,5,0,5
86151,"Band_NOUN of_ADP Cherokee_NOUN Indians_NOUN ,_.",792,"Band of Cherokee Indians ,",NOUN ADP NOUN NOUN .,"Band of Cherokee Indians ,",17_24_NORP,7,"band of cherokee indians ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
733,"B.A._NOUN In_ADP crown_NOUN 8vo_. ,_.",474,"B.A. In crown 8vo ,",NOUN ADP NOUN . .,"B.A. In crown 8vo ,",0_4_GPE 14_17_NORP,7,"b.a. in crown 8vo ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
74914,"Baltic_ADJ ,_. the_DET English_NOUN Channel_NOUN",53,"Baltic , the English Channel",ADJ . DET NOUN NOUN,"Baltic , the English Channel",0_6_GPE 13_20_NORP,13,"baltic , the english channel",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
90539,Bangladeshi_ADJ community_NOUN in_ADP Tower_NO...,72,Bangladeshi community in Tower Hamlets,ADJ NOUN ADP NOUN NOUN,Bangladeshi community in Tower Hamlets,0_11_NORP 25_38_LOC,24,bangladeshi community in tower hamlets,ADJ NOUN ADP NOUN NOUN,en,True,5,0,5
58969,Balance_NOUN of_ADP the_DET Soviet_NOUN Nation...,73,Balance of the Soviet National,NOUN ADP DET NOUN NOUN,Balance of the Soviet National,15_21_NORP,6,balance of the soviet national,NOUN ADP DET NOUN NOUN,en,True,5,0,5
16935,Bach_NOUN 's_PRT Italian_NOUN Concerto_NOUN an...,54,Bach 's Italian Concerto and,NOUN PRT NOUN NOUN CONJ,Bach 's Italian Concerto and,0_4_PERSON 8_15_NORP,11,bach 's italian concerto and,NOUN PART NOUN NOUN CCONJ,en,True,5,0,4
173683,"Bartholomew_NOUN Diaz_NOUN ,_. a_DET Portugues...",146,"Bartholomew Diaz , a Portuguese",NOUN NOUN . DET ADJ,"Bartholomew Diaz , a Portuguese",0_16_PERSON 21_31_NORP,26,"bartholomew diaz , a portuguese",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
86150,Band_NOUN of_ADP Cherokee_NOUN Indians_NOUN (_.,65,Band of Cherokee Indians (,NOUN ADP NOUN NOUN .,Band of Cherokee Indians (,17_24_NORP,7,band of cherokee indians (,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
85587,Bancroft_NOUN in_ADP his_PRON Native_ADJ Races...,47,Bancroft in his Native Races,NOUN ADP PRON ADJ NOUN,Bancroft in his Native Races,0_8_PERSON 16_22_NORP,14,bancroft in his native races,NOUN ADP PRON NOUN NOUN,en,True,5,0,5
968603,banks_NOUN of_ADP the_DET river_NOUN Parret_NOUN,62,banks of the river Parret,NOUN ADP DET NOUN NOUN,banks of the river Parret,19_25_NORP,6,bank of the river parret,NOUN ADP DET NOUN NOUN,en,True,5,0,5
164605,Barrett_NOUN Library_NOUN of_ADP American_ADJ ...,368,Barrett Library of American Literature,NOUN NOUN ADP ADJ NOUN,Barrett Library of American Literature,0_15_PERSON 19_27_NORP,23,barrett library of american literature,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
36564,"Bad_NOUN Wildungen_NOUN ,_. German_ADJ Federal...",61,"Bad Wildungen , German Federal",NOUN NOUN . ADJ NOUN,"Bad Wildungen , German Federal",4_13_PERSON 16_22_NORP,15,"bad wildungen , german federal",ADJ NOUN PUNCT NOUN NOUN,en,True,5,0,5
70562,Ballads_NOUN of_ADP American_ADJ Bravery_NOUN ._.,48,Ballads of American Bravery .,NOUN ADP ADJ NOUN .,Ballads of American Bravery .,11_19_NORP,8,ballad of american bravery .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1047978,bargain_NOUN with_ADP the_DET Massachusetts_NO...,53,bargain with the Massachusetts Democrats,NOUN ADP DET NOUN NOUN,bargain with the Massachusetts Democrats,17_30_GPE 31_40_NORP,22,bargain with the massachusetts democrats,NOUN ADP DET NOUN NOUN,en,True,5,0,5
162006,Barra_NOUN and_CONJ South_NOUN Uist_NOUN ;_.,76,Barra and South Uist ;,NOUN CONJ NOUN NOUN .,Barra and South Uist ;,0_5_ORG 10_20_NORP,15,barra and south uist ;,NOUN CCONJ NOUN NOUN PUNCT,en,True,5,0,4
28133,Backgrounds_NOUN for_ADP English_NOUN Literatu...,104,"Backgrounds for English Literature ,",NOUN ADP NOUN NOUN .,"Backgrounds for English Literature ,",16_23_NORP,7,"background for english literature ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
201661,"Baskerville_NOUN ,_. English_ADJ Monks_NOUN an...",337,"Baskerville , English Monks and",NOUN . ADJ NOUN CONJ,"Baskerville , English Monks and",0_11_ORG 14_21_NORP,18,"baskerville , english monks and",NOUN PUNCT NOUN NOUN CCONJ,en,True,5,0,4
1029802,bare_ADJ ragged_ADJ Northumbrian_ADJ moor_NOUN...,71,"bare ragged Northumbrian moor ,",ADJ ADJ ADJ NOUN .,"bare ragged Northumbrian moor ,",12_24_NORP,12,"bare ragged northumbrian moor ,",ADJ ADJ NOUN NOUN PUNCT,en,True,5,0,4
1501812,battened_VERB on_ADP the_DET Egyptian_NOUN Tre...,50,battened on the Egyptian Treasury,VERB ADP DET NOUN NOUN,battened on the Egyptian Treasury,16_24_NORP 25_33_ORG,16,batten on the egyptian treasury,VERB ADP DET NOUN NOUN,en,True,5,0,5
196891,"Basil_NOUN Hall_NOUN ,_. ""_. Puritanism_NOUN",51,"Basil Hall , "" Puritanism",NOUN NOUN . . NOUN,"Basil Hall , "" Puritanism",0_10_PERSON 15_25_NORP,20,"basil hall , "" puritanism",NOUN NOUN PUNCT PUNCT NOUN,en,True,5,0,2
1112914,barter_NOUN agreement_NOUN with_ADP the_DET So...,69,barter agreement with the Soviet,NOUN NOUN ADP DET NOUN,barter agreement with the Soviet,26_32_NORP,6,barter agreement with the soviet,NOUN NOUN ADP DET NOUN,en,True,5,0,2
192338,Basic_ADJ Themes_NOUN in_ADP Christian_ADJ Eth...,55,Basic Themes in Christian Ethics,ADJ NOUN ADP ADJ NOUN,Basic Themes in Christian Ethics,16_25_NORP,9,basic themes in christian ethic,ADJ NOUN ADP NOUN NOUN,en,True,5,0,5
76014,Baltic_ADJ salmon_NOUN (_. Salmo_ADJ salar_ADJ,109,Baltic salmon ( Salmo salar,ADJ NOUN . ADJ ADJ,Baltic salmon ( Salmo salar,0_6_LOC 16_21_NORP,11,baltic salmon ( salmo salar,ADJ NOUN PUNCT NOUN NOUN,en,True,5,0,5
244724,Bazar_NOUN Patrika_NOUN (_. Bengali_NOUN )_.,73,Bazar Patrika ( Bengali ),NOUN NOUN . NOUN .,Bazar Patrika ( Bengali ),0_13_PERSON 16_23_NORP,20,bazar patrika ( bengali ),NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
75552,Baltic_ADJ and_CONJ White_ADJ seas_NOUN ._.,61,Baltic and White seas .,ADJ CONJ ADJ NOUN .,Baltic and White seas .,0_6_LOC 11_16_NORP,11,baltic and white sea .,NOUN CCONJ NOUN NOUN PUNCT,en,True,5,0,4

ORDINAL
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
234845,"Bay_NOUN Colony_NOUN ,_. the_DET first_ADJ",45,"Bay Colony , the first",NOUN NOUN . DET ADJ,"Bay Colony , the first",0_10_LOC 17_22_ORDINAL,15,"bay colony , the first",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
905887,"bank_NOUN account_NOUN ,_. the_DET first_ADJ",52,"bank account , the first",NOUN NOUN . DET ADJ,"bank account , the first",19_24_ORDINAL,5,"bank account , the first",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
1000279,bar_NOUN examination_NOUN on_ADP the_DET first...,84,bar examination on the first,NOUN NOUN ADP DET ADJ,bar examination on the first,23_28_ORDINAL,5,bar examination on the first,NOUN NOUN ADP DET ADJ,en,True,5,0,2
1434334,basis_NOUN of_ADP the_DET Seventh_ADJ Edition_...,77,basis of the Seventh Edition,NOUN ADP DET ADJ NOUN,basis of the Seventh Edition,13_20_ORDINAL,7,basis of the seventh edition,NOUN ADP DET NOUN NOUN,en,True,5,0,5
940650,banking_NOUN system_NOUN for_ADP the_DET first...,59,banking system for the first,NOUN NOUN ADP DET ADJ,banking system for the first,23_28_ORDINAL,5,banking system for the first,NOUN NOUN ADP DET ADJ,en,True,5,0,2
213447,"Battalion_NOUN ,_. Sixth_NOUN Marines_NOUN ,_.",117,"Battalion , Sixth Marines ,",NOUN . NOUN NOUN .,"Battalion , Sixth Marines ,",12_17_ORDINAL,5,"battalion , sixth marines ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1473666,bass_NOUN line_NOUN in_ADP the_DET first_ADJ,76,bass line in the first,NOUN NOUN ADP DET ADJ,bass line in the first,17_22_ORDINAL,5,bass line in the first,NOUN NOUN ADP DET ADJ,en,True,5,0,2
175559,Bartolommeo_NOUN Ammanato_NOUN a_DET fourth_AD...,43,Bartolommeo Ammanato a fourth in,NOUN NOUN DET ADJ ADP,Bartolommeo Ammanato a fourth in,0_20_PERSON 23_29_ORDINAL,26,bartolommeo ammanato a fourth in,NOUN NOUN DET ADJ ADP,en,True,5,0,2
72691,Ballistic_ADJ Missiles_NOUN in_ADP the_DET Thi...,548,Ballistic Missiles in the Third,ADJ NOUN ADP DET ADJ,Ballistic Missiles in the Third,0_18_PRODUCT 26_31_ORDINAL,23,ballistic missiles in the third,NOUN NOUN ADP DET NOUN,en,True,5,0,2
167723,"Barrow_NOUN Expedition_NOUN ,_. ""_. Ninth_ADJ",101,"Barrow Expedition , "" Ninth",NOUN NOUN . . ADJ,"Barrow Expedition , "" Ninth",0_17_ORG 22_27_ORDINAL,22,"barrow expedition , "" ninth",NOUN NOUN PUNCT PUNCT ADJ,en,True,5,0,2
260245,baby_NOUN bird_NOUN should_VERB first_ADV try_...,55,baby bird should first try,NOUN NOUN VERB ADV VERB,baby bird should first try,17_22_ORDINAL,5,baby bird should first try,NOUN NOUN AUX ADV VERB,en,True,5,0,2
83755,"Bampfylde_NOUN Fuller_NOUN ,_. the_DET first_ADJ",50,"Bampfylde Fuller , the first",NOUN NOUN . DET ADJ,"Bampfylde Fuller , the first",0_16_PERSON 23_28_ORDINAL,21,"bampfylde fuller , the first",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
285546,back_ADJ room_NOUN on_ADP the_DET fourth_ADJ,46,back room on the fourth,ADJ NOUN ADP DET ADJ,back room on the fourth,17_23_ORDINAL,6,back room on the fourth,NOUN NOUN ADP DET ADJ,en,True,5,0,2
197658,"Basilica_NOUN Vaticana_NOUN ,_. the_DET sixtee...",59,"Basilica Vaticana , the sixteenth",NOUN NOUN . DET ADJ,"Basilica Vaticana , the sixteenth",0_17_PERSON 24_33_ORDINAL,26,"basilica vaticana , the sixteenth",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
792685,"balance_NOUN sheet_NOUN ,_. the_DET first_ADJ",118,"balance sheet , the first",NOUN NOUN . DET ADJ,"balance sheet , the first",20_25_ORDINAL,5,"balance sheet , the first",NOUN NOUN PUNCT DET ADJ,en,True,5,0,2
1500900,battalions_NOUN of_ADP the_DET 15th_ADJ Infant...,56,battalions of the 15th Infantry,NOUN ADP DET ADJ NOUN,battalions of the 15th Infantry,18_22_ORDINAL,4,battalion of the 15th infantry,NOUN ADP DET NOUN NOUN,en,True,5,0,5
47092,Baillie_NOUN and_CONJ the_DET Second_ADJ Scots...,64,Baillie and the Second Scots,NOUN CONJ DET ADJ NOUN,Baillie and the Second Scots,16_22_ORDINAL,6,baillie and the second scots,NOUN CCONJ DET NOUN NOUN,en,True,5,0,5
146889,"Barham_NOUN ,_. the_DET First_ADJ Lord_NOUN",47,"Barham , the First Lord",NOUN . DET ADJ NOUN,"Barham , the First Lord",0_6_PERSON 13_18_ORDINAL,11,"barham , the first lord",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
1542835,battle_NOUN of_ADP first_ADJ Bull_NOUN Run_NOUN,48,battle of first Bull Run,NOUN ADP ADJ NOUN NOUN,battle of first Bull Run,10_15_ORDINAL,5,battle of first bull run,NOUN ADP ADJ NOUN NOUN,en,True,5,0,5
66863,Balkan_NOUN Peninsula_NOUN in_ADP the_DET seve...,52,Balkan Peninsula in the seventh,NOUN NOUN ADP DET ADJ,Balkan Peninsula in the seventh,0_16_LOC 24_31_ORDINAL,23,balkan peninsula in the seventh,NOUN NOUN ADP DET ADJ,en,True,5,0,2
223171,Battlefield_NOUN of_ADP the_DET First_NOUN Tex...,77,Battlefield of the First Texas,NOUN ADP DET NOUN NOUN,Battlefield of the First Texas,19_24_ORDINAL,5,battlefield of the first texas,NOUN ADP DET NOUN NOUN,en,True,5,0,5
64947,"Balfour_NOUN ,_. the_DET First_NOUN Lord_NOUN",77,"Balfour , the First Lord",NOUN . DET NOUN NOUN,"Balfour , the First Lord",0_7_ORG 14_19_ORDINAL,12,"balfour , the first lord",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
179480,Base_NOUN of_ADP fifth_ADJ metatarsal_NOUN bon...,67,Base of fifth metatarsal bone,NOUN ADP ADJ NOUN NOUN,Base of fifth metatarsal bone,8_13_ORDINAL,5,base of fifth metatarsal bone,NOUN ADP ADJ NOUN NOUN,en,True,5,0,5
184268,Based_VERB on_ADP the_DET Fourth_ADJ Servant_ADJ,52,Based on the Fourth Servant,VERB ADP DET ADJ ADJ,Based on the Fourth Servant,13_19_ORDINAL,6,base on the fourth servant,VERB ADP DET NOUN NOUN,en,True,5,0,5
72044,Ballet_NOUN :_. The_DET First_ADJ Fifty_NUM,110,Ballet : The First Fifty,NOUN . DET ADJ NUM,Ballet : The First Fifty,13_18_ORDINAL 19_24_CARDINAL,10,ballet : the first fifty,NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
1554753,battlefield_NOUN commission_NOUN as_ADP second...,44,battlefield commission as second lieutenant,NOUN NOUN ADP ADJ NOUN,battlefield commission as second lieutenant,26_32_ORDINAL,6,battlefield commission as second lieutenant,NOUN NOUN ADP ADJ NOUN,en,True,5,0,2
1300719,basement_NOUN of_ADP the_DET First_ADJ Presbyt...,90,basement of the First Presbyterian,NOUN ADP DET ADJ NOUN,basement of the First Presbyterian,16_21_ORDINAL,5,basement of the first presbyterian,NOUN ADP DET NOUN NOUN,en,True,5,0,5
46295,Bailey_NOUN of_ADP the_DET Fourth_ADJ Wisconsi...,57,Bailey of the Fourth Wisconsin,NOUN ADP DET ADJ NOUN,Bailey of the Fourth Wisconsin,0_6_ORG 14_20_ORDINAL,12,bailey of the fourth wisconsin,NOUN ADP DET NOUN NOUN,en,True,5,0,5
197176,Basil_NOUN Valentine_NOUN in_ADP the_DET fifte...,89,Basil Valentine in the fifteenth,NOUN NOUN ADP DET ADJ,Basil Valentine in the fifteenth,0_15_PERSON 23_32_ORDINAL,24,basil valentine in the fifteenth,NOUN NOUN ADP DET NOUN,en,True,5,0,2
137913,"Barbarian_ADJ West_NOUN ,_. Sixth_NOUN through...",157,"Barbarian West , Sixth through",ADJ NOUN . NOUN ADP,"Barbarian West , Sixth through",17_22_ORDINAL,5,"barbarian west , sixth through",NOUN NOUN PUNCT ADJ ADP,en,True,5,0,2

ORG
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
201877,Basket_NOUN Makers_NOUN of_ADP Southeastern_NO...,95,Basket Makers of Southeastern Utah,NOUN NOUN ADP NOUN NOUN,Basket Makers of Southeastern Utah,0_13_ORG 17_34_LOC,30,basket maker of southeastern utah,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
110860,Bank_NOUN of_ADP West_NOUN Africa_NOUN was_VERB,48,Bank of West Africa was,NOUN ADP NOUN NOUN VERB,Bank of West Africa was,0_19_ORG,19,bank of west africa be,NOUN ADP NOUN NOUN AUX,en,True,5,0,4
115600,Banking_NOUN and_CONJ Currency_NOUN Committee_...,45,Banking and Currency Committee approved,NOUN CONJ NOUN NOUN VERB,Banking and Currency Committee approved,0_30_ORG,30,banking and currency committee approve,NOUN CCONJ NOUN NOUN VERB,en,True,5,0,4
1243441,based_VERB on_ADP the_DET TNM_NOUN system_NOUN,203,based on the TNM system,VERB ADP DET NOUN NOUN,based on the TNM system,13_16_ORG,3,base on the tnm system,VERB ADP DET NOUN NOUN,en,True,5,0,5
921735,bank_NOUN of_ADP the_DET South_NOUN Platte_NOUN,421,bank of the South Platte,NOUN ADP DET NOUN NOUN,bank of the South Platte,8_24_ORG,16,bank of the south platte,NOUN ADP DET NOUN NOUN,en,True,5,0,5
178371,"Basch_NOUN ,_. The_DET Danube_NOUN Basin_NOUN",267,"Basch , The Danube Basin",NOUN . DET NOUN NOUN,"Basch , The Danube Basin",0_5_ORG 8_24_GPE,21,"basch , the danube basin",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
15384,Babylonian_NOUN Captivity_NOUN of_ADP the_DET ...,64,Babylonian Captivity of the Church,NOUN NOUN ADP DET NOUN,Babylonian Captivity of the Church,28_34_ORG,6,babylonian captivity of the church,NOUN NOUN ADP DET NOUN,en,True,5,0,2
76767,Baltimore_NOUN &_CONJ Ohio_NOUN railroad_NOUN ...,103,Baltimore & Ohio railroad and,NOUN CONJ NOUN NOUN CONJ,Baltimore & Ohio railroad and,0_16_ORG,16,baltimore & ohio railroad and,NOUN CCONJ NOUN NOUN CCONJ,en,True,5,0,4
8510,"Babbitt_NOUN ,_. H._NOUN E._NOUN and_CONJ",52,"Babbitt , H. E. and",NOUN . NOUN NOUN CONJ,"Babbitt , H. E. and",0_15_ORG,15,"babbitt , h. e. and",NOUN PUNCT NOUN NOUN CCONJ,en,True,5,0,4
194268,Basic_NOUN Sciences_NOUN and_CONJ Humanities_N...,226,"Basic Sciences and Humanities ,",NOUN NOUN CONJ NOUN .,"Basic Sciences and Humanities ,",0_14_ORG,14,"basic sciences and humanities ,",NOUN NOUN CCONJ NOUN PUNCT,en,True,5,0,2
1004538,bar_NOUN of_ADP the_DET U.S._NOUN Supreme_NOUN,169,bar of the U.S. Supreme,NOUN ADP DET NOUN NOUN,bar of the U.S. Supreme,7_23_ORG,16,bar of the u.s. supreme,NOUN ADP DET NOUN NOUN,en,True,5,0,5
101442,Bank_NOUN for_ADP International_ADJ Settlement...,2457,Bank for International Settlements in,NOUN ADP ADJ NOUN ADP,Bank for International Settlements in,0_34_ORG,34,bank for international settlements in,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
117608,"Banks_NOUN ,_. Savings_NOUN Banks_NOUN ,_.",129,"Banks , Savings Banks ,",NOUN . NOUN NOUN .,"Banks , Savings Banks ,",0_21_ORG,21,"bank , savings banks ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1537688,battle_NOUN of_ADP Buena_NOUN Vista_NOUN in_ADP,331,battle of Buena Vista in,NOUN ADP NOUN NOUN ADP,battle of Buena Vista in,10_21_ORG,11,battle of buena vista in,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
140697,"Barbican_NOUN House_NOUN ,_. Lewes_NOUN ._.",70,"Barbican House , Lewes .",NOUN NOUN . NOUN .,"Barbican House , Lewes .",0_14_ORG 17_22_GPE,19,"barbican house , lewes .",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
114114,Bankers_NOUN Trust_NOUN (_. BT_X )_.,149,Bankers Trust ( BT ),NOUN NOUN . X .,Bankers Trust ( BT ),0_13_ORG,13,bankers trust ( bt ),NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
2962,"BARTLE_NOUN FRERE_NOUN ,_. Bart_NOUN ._.",63,"BARTLE FRERE , Bart .",NOUN NOUN . NOUN .,"BARTLE FRERE , Bart .",0_12_ORG 15_19_PERSON,16,"bartle frere , bart .",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
919323,bank_NOUN of_ADP the_DET Bou_NOUN Regreg_NOUN,71,bank of the Bou Regreg,NOUN ADP DET NOUN NOUN,bank of the Bou Regreg,8_22_ORG,14,bank of the bou regreg,NOUN ADP DET NOUN NOUN,en,True,5,0,5
274914,bacilli_NOUN of_ADP the_DET genus_NOUN Shigell...,60,bacilli of the genus Shigella,NOUN ADP DET NOUN NOUN,bacilli of the genus Shigella,21_29_ORG,8,bacilli of the genus shigella,NOUN ADP DET NOUN NOUN,en,True,5,0,5
194430,Basic_NOUN Trust_NOUN vs._ADP Basic_NOUN Mistr...,135,Basic Trust vs. Basic Mistrust,NOUN NOUN ADP NOUN NOUN,Basic Trust vs. Basic Mistrust,0_11_ORG,11,basic trust vs. basic mistrust,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
175563,"Bartolommeo_NOUN Scala_NOUN ,_. for_ADP thou_PRON",64,"Bartolommeo Scala , for thou",NOUN NOUN . ADP PRON,"Bartolommeo Scala , for thou",0_17_ORG,17,"bartolommeo scala , for thou",NOUN NOUN PUNCT ADP NOUN,en,True,5,0,2
1141369,base_NOUN of_ADP the_DET Sierra_NOUN de_X,80,base of the Sierra de,NOUN ADP DET NOUN X,base of the Sierra de,8_21_ORG,13,base of the sierra de,NOUN ADP DET NOUN NOUN,en,True,5,0,5
235114,"Bay_NOUN Company_NOUN ,_. and_CONJ all_DET",68,"Bay Company , and all",NOUN NOUN . CONJ DET,"Bay Company , and all",0_11_ORG,11,"bay company , and all",NOUN NOUN PUNCT CCONJ DET,en,True,5,0,2
1105510,barristers_NOUN of_ADP the_DET Middle_NOUN Tem...,206,barristers of the Middle Temple,NOUN ADP DET NOUN NOUN,barristers of the Middle Temple,14_31_ORG,17,barrister of the middle temple,NOUN ADP DET NOUN NOUN,en,True,5,0,5
83361,Bambarra_NOUN army_NOUN had_VERB left_VERB Foo...,39,Bambarra army had left Fooladoo,NOUN NOUN VERB VERB NOUN,Bambarra army had left Fooladoo,0_13_ORG 23_31_PERSON,21,bambarra army have leave fooladoo,NOUN NOUN AUX VERB NOUN,en,True,5,0,2
191152,"Basic_ADJ Books_NOUN ,_. Inc._NOUN _END_",49,"Basic Books , Inc. @@@",ADJ NOUN . NOUN .,"Basic Books , Inc. @@@",0_18_ORG,18,"basic books , inc. @@@",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
38773,"Badley_NOUN ,_. J._NOUN H._NOUN ,_.",143,"Badley , J. H. ,",NOUN . NOUN NOUN .,"Badley , J. H. ,",0_6_ORG 9_14_PERSON,11,"badley , j. h. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
131223,"Bar_NOUN Association_NOUN ,_. who_PRON was_VERB",60,"Bar Association , who was",NOUN NOUN . PRON VERB,"Bar Association , who was",0_15_ORG,15,"bar association , who be",NOUN NOUN PUNCT PRON VERB,en,True,5,0,2
234907,Bay_NOUN Company_NOUN '_PRT s_PRT people_NOUN,41,Bay Company ' s people,NOUN NOUN PRT PRT NOUN,Bay Company ' s people,0_13_ORG,13,bay company ' s people,NOUN NOUN PART PART NOUN,en,True,5,0,2
94296,"Bank_NOUN ,_. and_CONJ British_NOUN Linen_NOUN",52,"Bank , and British Linen",NOUN . CONJ NOUN NOUN,"Bank , and British Linen",0_4_ORG 11_24_ORG,17,"bank , and british linen",NOUN PUNCT CCONJ NOUN NOUN,en,True,5,0,5

PERCENT
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
908631,bank_NOUN at_ADP 6_NUM %_NOUN interest_NOUN,141,bank at 6 % interest,NOUN ADP NUM NOUN NOUN,bank at 6 % interest,8_11_PERCENT,3,bank at 6 % interest,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1109261,bars_NOUN denote_VERB 95_NUM %_NOUN confidence...,155,bars denote 95 % confidence,NOUN VERB NUM NOUN NOUN,bars denote 95 % confidence,12_16_PERCENT,4,bar denote 95 % confidence,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
1459085,basis_NOUN points_NOUN (_. 0.5_NUM percent_NOUN,54,basis points ( 0.5 percent,NOUN NOUN . NUM NOUN,basis points ( 0.5 percent,15_26_PERCENT,11,basis point ( 0.5 percent,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
925228,bank_NOUN pays_VERB 6_NUM %_NOUN interest_NOUN,104,bank pays 6 % interest,NOUN VERB NUM NOUN NOUN,bank pays 6 % interest,10_13_PERCENT,3,bank pay 6 % interest,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
1177932,based_VERB on_ADP 100_NUM %_NOUN business_NOUN,74,based on 100 % business,VERB ADP NUM NOUN NOUN,based on 100 % business,9_14_PERCENT,5,base on 100 % business,VERB ADP NUM NOUN NOUN,en,True,5,0,5
925226,bank_NOUN pays_VERB 4_NUM %_NOUN interest_NOUN,137,bank pays 4 % interest,NOUN VERB NUM NOUN NOUN,bank pays 4 % interest,10_13_PERCENT,3,bank pay 4 % interest,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
925222,bank_NOUN paying_VERB 4_NUM %_NOUN interest_NOUN,85,bank paying 4 % interest,NOUN VERB NUM NOUN NOUN,bank paying 4 % interest,12_15_PERCENT,3,bank pay 4 % interest,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
1459089,basis_NOUN points_NOUN (_. 1_NUM percent_NOUN,71,basis points ( 1 percent,NOUN NOUN . NUM NOUN,basis points ( 1 percent,15_24_PERCENT,9,basis point ( 1 percent,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
884648,bandwidth_NOUN at_ADP 50_NUM %_NOUN diffractio...,62,bandwidth at 50 % diffraction,NOUN ADP NUM NOUN NOUN,bandwidth at 50 % diffraction,13_17_PERCENT,4,bandwidth at 50 % diffraction,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
170620,Bars_NOUN represent_VERB 95_NUM %_NOUN confide...,181,Bars represent 95 % confidence,NOUN VERB NUM NOUN NOUN,Bars represent 95 % confidence,15_19_PERCENT,4,bar represent 95 % confidence,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
1111673,bars_NOUN represent_VERB 95_NUM %_NOUN confide...,996,bars represent 95 % confidence,NOUN VERB NUM NOUN NOUN,bars represent 95 % confidence,15_19_PERCENT,4,bar represent 95 % confidence,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
1459142,basis_NOUN points_NOUN equals_VERB 1_NUM perce...,67,basis points equals 1 percent,NOUN NOUN VERB NUM NOUN,basis points equals 1 percent,20_29_PERCENT,9,basis point equal 1 percent,NOUN NOUN VERB NUM NOUN,en,True,5,0,2
1459057,basis_NOUN point_NOUN (_. 0.01_NUM %_NOUN,80,basis point ( 0.01 %,NOUN NOUN . NUM NOUN,basis point ( 0.01 %,14_20_PERCENT,6,basis point ( 0.01 %,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
1459141,basis_NOUN points_NOUN equals_VERB 1_NUM %_NOUN,51,basis points equals 1 %,NOUN NOUN VERB NUM NOUN,basis points equals 1 %,20_23_PERCENT,3,basis point equal 1 %,NOUN NOUN VERB NUM NOUN,en,True,5,0,2
1177953,based_VERB on_ADP 10_NUM %_NOUN business_NOUN,41,based on 10 % business,VERB ADP NUM NOUN NOUN,based on 10 % business,9_13_PERCENT,4,base on 10 % business,VERB ADP NUM NOUN NOUN,en,True,5,0,5
906255,bank_NOUN account_NOUN paying_VERB 5_NUM %_NOUN,46,bank account paying 5 %,NOUN NOUN VERB NUM NOUN,bank account paying 5 %,20_23_PERCENT,3,bank account pay 5 %,NOUN NOUN VERB NUM NOUN,en,True,5,0,2
925229,bank_NOUN pays_VERB 8_NUM %_NOUN interest_NOUN,52,bank pays 8 % interest,NOUN VERB NUM NOUN NOUN,bank pays 8 % interest,10_13_PERCENT,3,bank pay 8 % interest,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
908620,bank_NOUN at_ADP 4_NUM %_NOUN interest_NOUN,143,bank at 4 % interest,NOUN ADP NUM NOUN NOUN,bank at 4 % interest,8_11_PERCENT,3,bank at 4 % interest,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
910776,bank_NOUN discount_NOUN at_ADP 6_NUM %_NOUN,70,bank discount at 6 %,NOUN NOUN ADP NUM NOUN,bank discount at 6 %,17_20_PERCENT,3,bank discount at 6 %,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
925155,bank_NOUN paid_VERB 4_NUM %_NOUN interest_NOUN,45,bank paid 4 % interest,NOUN VERB NUM NOUN NOUN,bank paid 4 % interest,10_13_PERCENT,3,bank pay 4 % interest,NOUN VERB NUM NOUN NOUN,en,True,5,0,5
906257,bank_NOUN account_NOUN paying_VERB 8_NUM perce...,42,bank account paying 8 percent,NOUN NOUN VERB NUM NOUN,bank account paying 8 percent,20_29_PERCENT,9,bank account pay 8 percent,NOUN NOUN VERB NUM NOUN,en,True,5,0,2
908633,bank_NOUN at_ADP 6_NUM percent_NOUN interest_NOUN,65,bank at 6 percent interest,NOUN ADP NUM NOUN NOUN,bank at 6 percent interest,8_17_PERCENT,9,bank at 6 percent interest,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
792161,balance_NOUN requirement_NOUN of_ADP 71_NUM %_...,114,balance requirement of 71 %,NOUN NOUN ADP NUM NOUN,balance requirement of 71 %,23_27_PERCENT,4,balance requirement of 71 %,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
1126714,base_NOUN amount_NOUN is_VERB 16_NUM percent_NOUN,60,base amount is 16 percent,NOUN NOUN VERB NUM NOUN,base amount is 16 percent,15_25_PERCENT,10,base amount be 16 percent,NOUN NOUN AUX NUM NOUN,en,True,5,0,2
1459140,basis_NOUN points_NOUN equal_ADJ 1_NUM percent...,49,basis points equal 1 percent,NOUN NOUN ADJ NUM NOUN,basis points equal 1 percent,19_28_PERCENT,9,basis point equal 1 percent,NOUN NOUN ADJ NUM NOUN,en,True,5,0,2
1152428,base_NOUN rate_NOUN of_ADP 10_NUM %_NOUN,46,base rate of 10 %,NOUN NOUN ADP NUM NOUN,base rate of 10 %,13_17_PERCENT,4,base rate of 10 %,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
1152429,base_NOUN rate_NOUN of_ADP 50_NUM %_NOUN,101,base rate of 50 %,NOUN NOUN ADP NUM NOUN,base rate of 50 %,13_17_PERCENT,4,base rate of 50 %,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
733421,bag_NOUN and_CONJ 100_NUM %_NOUN oxygen_NOUN,58,bag and 100 % oxygen,NOUN CONJ NUM NOUN NOUN,bag and 100 % oxygen,8_13_PERCENT,5,bag and 100 % oxygen,NOUN CCONJ NUM NOUN NOUN,en,True,5,0,5
908627,bank_NOUN at_ADP 5_NUM percent_NOUN interest_NOUN,155,bank at 5 percent interest,NOUN ADP NUM NOUN NOUN,bank at 5 percent interest,8_17_PERCENT,9,bank at 5 percent interest,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
908613,bank_NOUN at_ADP 10_NUM %_NOUN interest_NOUN,99,bank at 10 % interest,NOUN ADP NUM NOUN NOUN,bank at 10 % interest,8_12_PERCENT,4,bank at 10 % interest,NOUN ADP NUM NOUN NOUN,en,True,5,0,5

PERSON
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
207432,"Bates_NOUN ,_. Ernest_NOUN Sutherland_NOUN ,_.",549,"Bates , Ernest Sutherland ,",NOUN . NOUN NOUN .,"Bates , Ernest Sutherland ,",0_5_ORG 8_25_PERSON,22,"bates , ernest sutherland ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
136465,"Barbara_NOUN McClintock_NOUN ,_. New_NOUN York...",91,"Barbara McClintock , New York",NOUN NOUN . NOUN NOUN,"Barbara McClintock , New York",0_18_PERSON 21_29_GPE,26,"barbara mcclintock , new york",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
81044,"Baltimore_NOUN Sun_NOUN ,_. November_NOUN 3_NUM",74,"Baltimore Sun , November 3",NOUN NOUN . NOUN NUM,"Baltimore Sun , November 3",0_13_PERSON 16_26_DATE,23,"baltimore sun , november 3",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
174039,Bartholomew_NOUN v_ADP London_NOUN Borough_NOU...,80,Bartholomew v London Borough of,NOUN ADP NOUN NOUN ADP,Bartholomew v London Borough of,0_11_PERSON 14_28_GPE,25,bartholomew v london borough of,NOUN ADP NOUN NOUN ADP,en,True,5,0,4
38446,"Badger_NOUN ,_. of_ADP North_NOUN Carolina_NOUN",823,"Badger , of North Carolina",NOUN . ADP NOUN NOUN,"Badger , of North Carolina",0_6_PERSON 12_26_GPE,20,"badger , of north carolina",NOUN PUNCT ADP NOUN NOUN,en,True,5,0,5
48076,"Baines_NOUN ,_. Sir_NOUN Edward_NOUN ,_.",131,"Baines , Sir Edward ,",NOUN . NOUN NOUN .,"Baines , Sir Edward ,",0_6_PERSON 13_19_PERSON,12,"baines , sir edward ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
17430,"Bach_NOUN ,_. W._NOUN F._NOUN ,_.",94,"Bach , W. F. ,",NOUN . NOUN NOUN .,"Bach , W. F. ,",0_4_PERSON 7_12_PERSON,9,"bach , w. f. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
80800,"Baltimore_NOUN Sun_NOUN ,_. April_NOUN 21_NUM",46,"Baltimore Sun , April 21",NOUN NOUN . NOUN NUM,"Baltimore Sun , April 21",0_13_PERSON 16_24_DATE,21,"baltimore sun , april 21",NOUN NOUN PUNCT NOUN NUM,en,True,5,0,2
16137,Bacchic_ADJ enthusiasm_NOUN performed_VERB mor...,58,Bacchic enthusiasm performed more than,ADJ NOUN VERB ADJ ADP,Bacchic enthusiasm performed more than,0_7_PERSON,7,bacchic enthusiasm perform more than,NOUN NOUN VERB ADV SCONJ,en,True,5,0,2
169805,"Barry_NOUN R._NOUN ,_. and_CONJ Teresa_NOUN",46,"Barry R. , and Teresa",NOUN NOUN . CONJ NOUN,"Barry R. , and Teresa",0_8_PERSON 15_21_PERSON,14,"barry r. , and teresa",NOUN NOUN PUNCT CCONJ NOUN,en,True,5,0,2
61051,"Balderston_NOUN ,_. Frederick_NOUN E._NOUN ,_.",93,"Balderston , Frederick E. ,",NOUN . NOUN NOUN .,"Balderston , Frederick E. ,",0_10_GPE 13_25_PERSON,22,"balderston , frederick e. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
161865,Barr_NOUN virus_NOUN by_ADP 5_ADJ -_.,79,Barr virus by 5 -,NOUN NOUN ADP ADJ .,Barr virus by 5 -,0_4_PERSON 14_15_CARDINAL,5,barr virus by 5 -,NOUN NOUN ADP NUM PUNCT,en,True,5,0,2
88106,"Banfield_NOUN ,_. E._NOUN C._NOUN 1958_NUM",111,"Banfield , E. C. 1958",NOUN . NOUN NOUN NUM,"Banfield , E. C. 1958",0_8_GPE 11_16_PERSON 17_21_DATE,17,"banfield , e. c. 1958",NOUN PUNCT NOUN NOUN NUM,en,True,5,0,4
196295,"Basil_NOUN ,_. The_DET Lost_NOUN Cities_NOUN",81,"Basil , The Lost Cities",NOUN . DET NOUN NOUN,"Basil , The Lost Cities",0_5_PERSON 8_23_ORG,20,"basil , the lost cities",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
148337,"Barker_NOUN ,_. J._NOUN Chem_NOUN ._.",244,"Barker , J. Chem .",NOUN . NOUN NOUN .,"Barker , J. Chem .",0_6_PERSON,6,"barker , j. chem .",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
218206,"Battle_NOUN of_ADP Blair_NOUN Mountain_NOUN ,_.",143,"Battle of Blair Mountain ,",NOUN ADP NOUN NOUN .,"Battle of Blair Mountain ,",0_6_PERSON,6,"battle of blair mountain ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
835827,ballad_NOUN of_ADP Sir_NOUN Cauline_NOUN and_CONJ,71,ballad of Sir Cauline and,NOUN ADP NOUN NOUN CONJ,ballad of Sir Cauline and,14_21_PERSON,7,ballad of sir cauline and,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4
225959,Baumgardner_NOUN and_CONJ Amy_NOUN Richards_NO...,218,"Baumgardner and Amy Richards ,",NOUN CONJ NOUN NOUN .,"Baumgardner and Amy Richards ,",0_11_ORG 16_28_PERSON,23,"baumgardner and amy richards ,",NOUN CCONJ NOUN NOUN PUNCT,en,True,5,0,4
201636,"Baskervill_NOUN ,_. Charles_NOUN Read_NOUN ,_.",131,"Baskervill , Charles Read ,",NOUN . NOUN NOUN .,"Baskervill , Charles Read ,",0_10_PERSON 13_25_PERSON,22,"baskervill , charles read ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
37991,"Baden_NOUN and_CONJ Richard_NOUN Stroup_NOUN ,_.",122,"Baden and Richard Stroup ,",NOUN CONJ NOUN NOUN .,"Baden and Richard Stroup ,",0_5_GPE 10_24_PERSON,19,"baden and richard stroup ,",NOUN CCONJ NOUN NOUN PUNCT,en,True,5,0,4
223959,"Batzinger_NOUN ,_. R._NOUN P._NOUN ,_.",60,"Batzinger , R. P. ,",NOUN . NOUN NOUN .,"Batzinger , R. P. ,",0_9_NORP 12_17_PERSON,14,"batzinger , r. p. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
169127,"Barry_NOUN Commoner_NOUN ,_. The_DET Closing_NOUN",988,"Barry Commoner , The Closing",NOUN NOUN . DET NOUN,"Barry Commoner , The Closing",0_14_PERSON,14,"barry commoner , the closing",NOUN NOUN PUNCT DET NOUN,en,True,5,0,2
136660,"Barbara_NOUN Roper_NOUN ,_. director_NOUN of_ADP",49,"Barbara Roper , director of",NOUN NOUN . NOUN ADP,"Barbara Roper , director of",0_13_PERSON,13,"barbara roper , director of",NOUN NOUN PUNCT NOUN ADP,en,True,5,0,2
9201,Babe_NOUN Ruth_NOUN was_VERB a_DET pitcher_NOUN,52,Babe Ruth was a pitcher,NOUN NOUN VERB DET NOUN,Babe Ruth was a pitcher,0_9_PERSON,9,babe ruth be a pitcher,NOUN NOUN AUX DET NOUN,en,True,5,0,2
223848,Batty_NOUN Langley_NOUN 's_PRT The_DET City_NOUN,85,Batty Langley 's The City,NOUN NOUN PRT DET NOUN,Batty Langley 's The City,0_16_PERSON,16,batty langley 's the city,NOUN NOUN PART DET NOUN,en,True,5,0,2
42561,Bahadur_NOUN Shastri_NOUN as_ADP the_DET Prime...,44,Bahadur Shastri as the Prime,NOUN NOUN ADP DET NOUN,Bahadur Shastri as the Prime,0_15_PERSON,15,bahadur shastri as the prime,NOUN NOUN ADP DET NOUN,en,True,5,0,2
8606,Babbitt_NOUN house_NOUN :_. It_PRON was_VERB,51,Babbitt house : It was,NOUN NOUN . PRON VERB,Babbitt house : It was,0_7_PERSON,7,babbitt house : it be,NOUN NOUN PUNCT PRON AUX,en,True,5,0,2
151438,"Barnaby_NOUN Rudge_NOUN ,_. Three_NUM fifths_NOUN",166,"Barnaby Rudge , Three fifths",NOUN NOUN . NUM NOUN,"Barnaby Rudge , Three fifths",0_13_PERSON 16_28_CARDINAL,25,"barnaby rudge , three fifth",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
168102,"Barrs_NOUN Davies_NOUN ,_. M.A._NOUN ,_.",50,"Barrs Davies , M.A. ,",NOUN NOUN . NOUN .,"Barrs Davies , M.A. ,",0_12_PERSON 15_19_PERSON,16,"barrs davies , m.a. ,",NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
82593,"Baltz_NOUN ,_. D._NOUN M._NOUN ,_.",58,"Baltz , D. M. ,",NOUN . NOUN NOUN .,"Baltz , D. M. ,",0_5_GPE 8_13_PERSON,10,"baltz , d. m. ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4

PRODUCT
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
72703,Ballistic_NOUN Missile_NOUN (_. ATBM_NOUN )_.,73,Ballistic Missile ( ATBM ),NOUN NOUN . NOUN .,Ballistic Missile ( ATBM ),0_17_PRODUCT 20_24_ORG,21,ballistic missile ( atbm ),NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
122819,Bapedi_NOUN and_CONJ Cognate_ADJ Tribes_NOUN o...,92,Bapedi and Cognate Tribes of,NOUN CONJ ADJ NOUN ADP,Bapedi and Cognate Tribes of,0_6_PERSON 11_28_PRODUCT,23,bapedi and cognate tribes of,NOUN CCONJ NOUN NOUN ADP,en,True,5,0,4
1130395,base_NOUN current_NOUN of_ADP Q2_NOUN ._.,115,base current of Q2 .,NOUN NOUN ADP NOUN .,base current of Q2 .,16_18_PRODUCT,2,base current of q2 .,NOUN NOUN ADP NOUN PUNCT,en,True,5,0,2
67439,Balkans_NOUN and_CONJ Asia_NOUN Minor_NOUN wer...,55,Balkans and Asia Minor were,NOUN CONJ NOUN NOUN VERB,Balkans and Asia Minor were,0_7_LOC 12_22_PRODUCT,17,balkans and asia minor be,NOUN CCONJ NOUN NOUN AUX,en,True,5,0,4
154075,"Barnes_NOUN Pope_NOUN ,_. Sea_NOUN Lanes_NOUN",86,"Barnes Pope , Sea Lanes",NOUN NOUN . NOUN NOUN,"Barnes Pope , Sea Lanes",0_11_PERSON 14_23_PRODUCT,20,"barnes pope , sea lanes",NOUN NOUN PUNCT NOUN NOUN,en,True,5,0,1
905445,bank_NOUN Blood_ADJ -_. stained_ADJ with_ADP,36,bank Blood - stained with,NOUN ADJ . ADJ ADP,bank Blood - stained with,5_10_PRODUCT,5,bank blood - stain with,NOUN NOUN PUNCT VERB ADP,en,True,5,0,2
1434336,basis_NOUN of_ADP the_DET Sherbert_NOUN test_NOUN,166,basis of the Sherbert test,NOUN ADP DET NOUN NOUN,basis of the Sherbert test,13_21_PRODUCT,8,basis of the sherbert test,NOUN ADP DET NOUN NOUN,en,True,5,0,5
1243633,based_VERB on_ADP the_DET Van_NOUN der_ADP,88,based on the Van der,VERB ADP DET NOUN ADP,based on the Van der,9_20_PRODUCT,11,base on the van der,VERB ADP DET NOUN NOUN,en,True,5,0,5
1242052,based_VERB on_ADP the_DET Genesis_NOUN story_NOUN,59,based on the Genesis story,VERB ADP DET NOUN NOUN,based on the Genesis story,13_20_PRODUCT,7,base on the genesis story,VERB ADP DET NOUN NOUN,en,True,5,0,5
1242771,based_VERB on_ADP the_DET Motorola_NOUN MC6800...,54,based on the Motorola MC68000,VERB ADP DET NOUN NOUN,based on the Motorola MC68000,13_21_ORG 22_29_PRODUCT,15,base on the motorola mc68000,VERB ADP DET NOUN NOUN,en,True,5,0,5
1242026,based_VERB on_ADP the_DET Froude_ADJ number_NOUN,82,based on the Froude number,VERB ADP DET ADJ NOUN,based on the Froude number,13_19_PRODUCT,6,base on the froude number,VERB ADP DET NOUN NOUN,en,True,5,0,5
502665,back_ADV to_PRT the_DET Mosaic_ADJ age_NOUN,72,back to the Mosaic age,ADV PRT DET ADJ NOUN,back to the Mosaic age,12_18_PRODUCT,6,back to the mosaic age,ADV ADP DET NOUN NOUN,en,True,5,0,5
456484,"back_ADV to_PRT Bermuda_NOUN Hundred_NOUN ,_.",81,"back to Bermuda Hundred ,",ADV PRT NOUN NOUN .,"back to Bermuda Hundred ,",8_23_PRODUCT,15,"back to bermuda hundred ,",ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
4926,"B_ADJ -_. X_ADJ model_NOUN ,_.",71,"B - X model ,",ADJ . ADJ NOUN .,"B - X model ,",0_5_PRODUCT,5,"b - x model ,",NOUN PUNCT NOUN NOUN PUNCT,en,True,5,0,4
1241162,based_VERB on_ADP the_DET Apriori_NOUN algorit...,78,based on the Apriori algorithm,VERB ADP DET NOUN NOUN,based on the Apriori algorithm,13_20_PRODUCT,7,base on the apriori algorithm,VERB ADP DET NOUN NOUN,en,True,5,0,5
80409,"Baltimore_NOUN Colts_NOUN ._. ""_. _END_",104,"Baltimore Colts . "" @@@",NOUN NOUN . . .,"Baltimore Colts . "" @@@",0_9_GPE 10_15_PRODUCT,14,"baltimore colts . "" @@@",NOUN NOUN PUNCT PUNCT PUNCT,en,True,5,0,2
1160799,based_ADJ Arecibo_NOUN and_CONJ Goldstone_NOUN...,58,based Arecibo and Goldstone images,ADJ NOUN CONJ NOUN NOUN,based Arecibo and Goldstone images,6_13_PRODUCT 18_27_PERSON,16,base arecibo and goldstone image,VERB NOUN CCONJ NOUN NOUN,en,True,5,0,5
1242978,based_VERB on_ADP the_DET Pearson_NOUN correla...,122,based on the Pearson correlation,VERB ADP DET NOUN NOUN,based on the Pearson correlation,13_20_PRODUCT,7,base on the pearson correlation,VERB ADP DET NOUN NOUN,en,True,5,0,5
142077,"Barcelona_NOUN Library_NOUN ,_. with_ADP Notes...",49,"Barcelona Library , with Notes",NOUN NOUN . ADP NOUN,"Barcelona Library , with Notes",0_17_ORG 25_30_PRODUCT,22,"barcelona library , with note",NOUN NOUN PUNCT ADP NOUN,en,True,5,0,2
1459462,basis_NOUN set_VERB of_ADP AOs_NOUN and_CONJ,62,basis set of AOs and,NOUN VERB ADP NOUN CONJ,basis set of AOs and,13_16_PRODUCT,3,basis set of aos and,NOUN NOUN ADP NOUN CCONJ,en,True,5,0,2
140865,"Barbie_NOUN to_PRT Mortal_NOUN Kombat_NOUN ,_.",55,"Barbie to Mortal Kombat ,",NOUN PRT NOUN NOUN .,"Barbie to Mortal Kombat ,",0_6_PERSON 17_23_PRODUCT,12,"barbie to mortal kombat ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1242965,based_VERB on_ADP the_DET Pareto_NOUN criterio...,53,based on the Pareto criterion,VERB ADP DET NOUN NOUN,based on the Pareto criterion,13_19_PRODUCT,6,base on the pareto criterion,VERB ADP DET NOUN NOUN,en,True,5,0,5
150714,Barmecide_VERB justice_NOUN have_VERB I_PRON d...,70,Barmecide justice have I done,VERB NOUN VERB PRON VERB,Barmecide justice have I done,0_9_PRODUCT,9,barmecide justice have i do,NOUN NOUN AUX PRON VERB,en,True,5,0,2
1242677,based_VERB on_ADP the_DET Markov_ADJ chain_NOUN,133,based on the Markov chain,VERB ADP DET ADJ NOUN,based on the Markov chain,13_19_PRODUCT,6,base on the markov chain,VERB ADP DET NOUN NOUN,en,True,5,0,5
1241161,based_VERB on_ADP the_DET Apple_NOUN Macintosh...,61,based on the Apple Macintosh,VERB ADP DET NOUN NOUN,based on the Apple Macintosh,13_18_ORG 19_28_PRODUCT,14,base on the apple macintosh,VERB ADP DET NOUN NOUN,en,True,5,0,5
72785,Ballistic_NOUN Missiles_NOUN (_. MRBM_NOUN )_.,49,Ballistic Missiles ( MRBM ),NOUN NOUN . NOUN .,Ballistic Missiles ( MRBM ),0_18_PRODUCT 21_25_ORG,22,ballistic missiles ( mrbm ),NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
87645,Bandwidth_NOUN Broker_NOUN (_. BB_X )_.,109,Bandwidth Broker ( BB ),NOUN NOUN . X .,Bandwidth Broker ( BB ),0_16_PRODUCT 19_21_ORG,18,bandwidth broker ( bb ),NOUN NOUN PUNCT NOUN PUNCT,en,True,5,0,2
1194770,based_VERB on_ADP an_DET E_ADJ -_.,70,based on an E -,VERB ADP DET ADJ .,based on an E -,9_15_PRODUCT,6,base on an e -,VERB ADP DET NOUN NOUN,en,True,5,0,5
4925,B_ADJ -_. X_ADJ distance_NOUN is_VERB,67,B - X distance is,ADJ . ADJ NOUN VERB,B - X distance is,0_5_PRODUCT,5,b - x distance be,NOUN PUNCT NOUN NOUN AUX,en,True,5,0,4
84138,"Banac_ADJ ,_. The_DET National_NOUN Question_NOUN",273,"Banac , The National Question",ADJ . DET NOUN NOUN,"Banac , The National Question",0_5_PRODUCT,5,"banac , the national question",NOUN PUNCT DET NOUN NOUN,en,True,5,0,5

QUANTITY
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
997352,bar_NOUN =_NUM 0.1_NUM mm_NOUN )_.,134,bar = 0.1 mm ),NOUN NUM NUM NOUN .,bar = 0.1 mm ),6_12_QUANTITY,6,bar = 0.1 mm ),NOUN NOUN NUM NUM PUNCT,en,True,5,0,2
831949,ball_NOUN stage_NOUN (_. 238_NUM _NUM,72,ball stage ( 238,NOUN NOUN . NUM NUM,ball stage ( 238,13_18_QUANTITY,5,ball stage ( 238,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
49633,Bake_NOUN at_ADP 350_NUM degrees_NOUN F_NOUN,546,Bake at 350 degrees F,NOUN ADP NUM NOUN NOUN,Bake at 350 degrees F,8_19_QUANTITY,11,bake at 350 degree f,VERB ADP NUM NOUN NOUN,en,True,5,0,5
760714,baking_VERB soda_NOUN 1_NUM teaspoon_NUM cream...,221,baking soda 1 teaspoon cream,VERB NOUN NUM NUM NOUN,baking soda 1 teaspoon cream,12_22_QUANTITY,10,bake soda 1 teaspoon cream,VERB NOUN NUM NOUN NOUN,en,True,5,0,5
1071737,barometric_ADJ pressure_NOUN of_ADP 740_NUM mm...,61,barometric pressure of 740 mm,ADJ NOUN ADP NUM NOUN,barometric pressure of 740 mm,23_29_QUANTITY,6,barometric pressure of 740 mm,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
1071735,barometric_ADJ pressure_NOUN of_ADP 29.92_NUM ...,180,barometric pressure of 29.92 inches,ADJ NOUN ADP NUM NOUN,barometric pressure of 29.92 inches,23_35_QUANTITY,12,barometric pressure of 29.92 inch,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
1159188,baseball_NOUN diamond_NOUN is_VERB 90_NUM feet...,72,baseball diamond is 90 feet,NOUN NOUN VERB NUM NOUN,baseball diamond is 90 feet,20_27_QUANTITY,7,baseball diamond be 90 foot,NOUN NOUN AUX NUM NOUN,en,True,5,0,2
1056759,barium_NOUN flint_VERB 0527_NUM 3_NUM 51.7_NUM,56,barium flint 0527 3 51.7,NOUN VERB NUM NUM NUM,barium flint 0527 3 51.7,13_17_CARDINAL 18_24_QUANTITY,10,barium flint 0527 3 51.7,NOUN NOUN NUM NUM NUM,en,True,5,0,2
1569242,bay_NOUN leaf_NOUN 1_NUM teaspoon_NUM sugar_NOUN,61,bay leaf 1 teaspoon sugar,NOUN NOUN NUM NUM NOUN,bay leaf 1 teaspoon sugar,9_19_QUANTITY,10,bay leaf 1 teaspoon sugar,NOUN NOUN NUM NOUN NOUN,en,True,5,0,1
850717,balsamic_ADJ vinegar_NOUN 3_NUM tablespoons_NO...,41,balsamic vinegar 3 tablespoons olive,ADJ NOUN NUM NOUN ADJ,balsamic vinegar 3 tablespoons olive,17_30_QUANTITY,13,balsamic vinegar 3 tablespoon olive,ADJ NOUN NUM NOUN NOUN,en,True,5,0,5
1153161,base_NOUN temperature_NOUN of_ADP 50_NUM _NUM,61,base temperature of 50,NOUN NOUN ADP NUM NUM,base temperature of 50,20_24_QUANTITY,4,base temperature of 50,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
319415,back_ADV about_ADP a_DET quarter_NOUN mile_NOUN,60,back about a quarter mile,ADV ADP DET NOUN NOUN,back about a quarter mile,11_25_QUANTITY,14,back about a quarter mile,ADV ADV DET NOUN NOUN,en,True,5,0,5
1071569,barometric_ADJ pressure_NOUN (_. 760_NUM mm_NOUN,97,barometric pressure ( 760 mm,ADJ NOUN . NUM NOUN,barometric pressure ( 760 mm,22_28_QUANTITY,6,barometric pressure ( 760 mm,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
1482593,bath_NOUN at_ADP 55_NUM _NUM C_NOUN,265,bath at 55 C,NOUN ADP NUM NUM NOUN,bath at 55 C,8_12_QUANTITY,4,bath at 55 c,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1071570,barometric_ADJ pressure_NOUN (_. 760_NUM mm_NUM,117,barometric pressure ( 760 mm,ADJ NOUN . NUM NUM,barometric pressure ( 760 mm,22_28_QUANTITY,6,barometric pressure ( 760 mm,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
759669,"baking_NOUN sheet_NOUN ,_. 2_NUM inches_NOUN",50,"baking sheet , 2 inches",NOUN NOUN . NUM NOUN,"baking sheet , 2 inches",15_23_QUANTITY,8,"baking sheet , 2 inch",NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
1355440,basil_NOUN 1_NUM teaspoon_NOUN oregano_PRT 1_NUM,137,basil 1 teaspoon oregano 1,NOUN NUM NOUN PRT NUM,basil 1 teaspoon oregano 1,6_16_QUANTITY 25_26_CARDINAL,11,basil 1 teaspoon oregano 1,NOUN NUM NOUN NOUN NUM,en,True,5,0,4
49625,Bake_NOUN at_ADP 325_NUM _NUM F_NOUN,1057,Bake at 325 F,NOUN ADP NUM NUM NOUN,Bake at 325 F,8_13_QUANTITY,5,bake at 325 f,VERB ADP NUM NOUN NOUN,en,True,5,0,5
49624,Bake_NOUN at_ADP 325_NUM _NUM F._NOUN,677,Bake at 325 F.,NOUN ADP NUM NUM NOUN,Bake at 325 F.,8_13_QUANTITY,5,bake at 325 f.,VERB ADP NUM NOUN NOUN,en,True,5,0,5
1153162,base_NOUN temperature_NOUN of_ADP 60_NUM _NUM,90,base temperature of 60,NOUN NOUN ADP NUM NUM,base temperature of 60,20_24_QUANTITY,4,base temperature of 60,NOUN NOUN ADP NUM NOUN,en,True,5,0,2
1482527,bath_NOUN at_ADP 15_NUM _NUM C._NOUN,111,bath at 15 C.,NOUN ADP NUM NUM NOUN,bath at 15 C.,8_15_QUANTITY,7,bath at 15 c.,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
1482629,bath_NOUN at_ADP 90_NUM _NUM F._NOUN,71,bath at 90 F.,NOUN ADP NUM NUM NOUN,bath at 90 F.,8_12_QUANTITY,4,bath at 90 f.,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
760385,baking_VERB powder_NOUN 1_NUM teaspoon_NUM cin...,232,baking powder 1 teaspoon cinnamon,VERB NOUN NUM NUM NUM,baking powder 1 teaspoon cinnamon,14_24_QUANTITY,10,bake powder 1 teaspoon cinnamon,VERB NOUN NUM NOUN NOUN,en,True,5,0,5
1482539,bath_NOUN at_ADP 212_NUM _NUM F._NOUN,114,bath at 212 F.,NOUN ADP NUM NUM NOUN,bath at 212 F.,8_13_QUANTITY,5,bath at 212 f.,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
760713,baking_VERB soda_NOUN 1_NUM teaspoon_NUM cinna...,351,baking soda 1 teaspoon cinnamon,VERB NOUN NUM NUM NUM,baking soda 1 teaspoon cinnamon,12_22_QUANTITY,10,bake soda 1 teaspoon cinnamon,VERB NOUN NUM NOUN NOUN,en,True,5,0,5
49936,Bake_NOUN in_ADP 375_NUM _NUM F_NUM,144,Bake in 375 F,NOUN ADP NUM NUM NUM,Bake in 375 F,8_13_QUANTITY,5,bake in 375 f,VERB ADP NUM NOUN NOUN,en,True,5,0,5
49929,Bake_NOUN in_ADP 350_NUM _NUM F_NOUN,290,Bake in 350 F,NOUN ADP NUM NUM NOUN,Bake in 350 F,8_13_QUANTITY,5,bake in 350 f,VERB ADP NUM NOUN NOUN,en,True,5,0,5
1126731,base_NOUN analog_DET 5_ADJ -_. bromouracil_ADJ,53,base analog 5 - bromouracil,NOUN DET ADJ . ADJ,base analog 5 - bromouracil,12_27_QUANTITY,15,base analog 5 - bromouracil,NOUN NOUN NUM PUNCT NOUN,en,True,5,0,2
830183,ball_NOUN of_ADP three_NUM inches_NOUN diamete...,52,ball of three inches diameter,NOUN ADP NUM NOUN NOUN,ball of three inches diameter,8_20_QUANTITY,12,ball of three inch diameter,NOUN ADP NUM NOUN NOUN,en,True,5,0,5
49940,Bake_NOUN in_ADP 400_NUM degree_NOUN oven_VERB,118,Bake in 400 degree oven,NOUN ADP NUM NOUN VERB,Bake in 400 degree oven,8_18_QUANTITY,10,bake in 400 degree oven,VERB ADP NUM NOUN NOUN,en,True,5,0,5

TIME
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
1220770,based_VERB on_ADP machine_NOUN hours_NOUN ._.,379,based on machine hours .,VERB ADP NOUN NOUN .,based on machine hours .,9_22_TIME,13,base on machine hour .,VERB ADP NOUN NOUN PUNCT,en,True,5,0,4
55539,Baking_VERB time_NOUN :_NUM 1_NUM hour_NOUN,127,Baking time : 1 hour,VERB NOUN NUM NUM NOUN,Baking time : 1 hour,14_20_TIME,6,baking time : 1 hour,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
363227,"back_ADV early_ADJ tomorrow_NOUN morning_NOUN ,_.",95,"back early tomorrow morning ,",ADV ADJ NOUN NOUN .,"back early tomorrow morning ,",5_27_TIME,22,"back early tomorrow morning ,",ADV ADV NOUN NOUN PUNCT,en,True,5,0,4
1154768,base_NOUN wages_NOUN between_ADP night_NOUN an...,45,base wages between night and,NOUN NOUN ADP NOUN CONJ,base wages between night and,11_24_TIME,13,base wage between night and,NOUN NOUN ADP NOUN CCONJ,en,True,5,0,2
1018210,barbecue_NOUN fire_NOUN on_ADP Thursday_NOUN n...,40,barbecue fire on Thursday nights,NOUN NOUN ADP NOUN NOUN,barbecue fire on Thursday nights,17_25_DATE 26_32_TIME,14,barbecue fire on thursday night,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
469575,back_ADV to_PRT a_DET summer_NOUN evening_NOUN,48,back to a summer evening,ADV PRT DET NOUN NOUN,back to a summer evening,10_24_TIME,14,back to a summer evening,ADV ADP DET NOUN NOUN,en,True,5,0,5
40127,"Bagdad_NOUN ,_. and_CONJ evening_NOUN conversa...",52,"Bagdad , and evening conversations",NOUN . CONJ NOUN NOUN,"Bagdad , and evening conversations",0_6_GPE 13_20_TIME,13,"bagdad , and evening conversation",NOUN PUNCT CCONJ NOUN NOUN,en,True,5,0,5
1323666,basic_ADJ forty_NUM -_. hour_ADJ week_NOUN,91,basic forty - hour week,ADJ NUM . ADJ NOUN,basic forty - hour week,6_18_TIME,12,basic forty - hour week,ADJ NUM PUNCT NOUN NOUN,en,True,5,0,5
443390,"back_ADV that_ADP Sunday_NOUN evening_NOUN ,_.",40,"back that Sunday evening ,",ADV ADP NOUN NOUN .,"back that Sunday evening ,",10_16_DATE 17_24_TIME,13,"back that sunday evening ,",ADV DET NOUN NOUN PUNCT,en,True,5,0,4
424334,back_ADV on_ADP a_DET Sunday_NOUN night_NOUN,43,back on a Sunday night,ADV ADP DET NOUN NOUN,back on a Sunday night,10_16_DATE 17_22_TIME,11,back on a sunday night,ADV ADP DET NOUN NOUN,en,True,5,0,5
498443,back_ADV to_PRT that_DET Sunday_NOUN morning_NOUN,71,back to that Sunday morning,ADV PRT DET NOUN NOUN,back to that Sunday morning,13_19_DATE 20_27_TIME,13,back to that sunday morning,ADV ADP DET NOUN NOUN,en,True,5,0,5
543451,back_ADV to_PRT you_PRON tomorrow_ADV morning_...,94,back to you tomorrow morning,ADV PRT PRON ADV NOUN,back to you tomorrow morning,12_28_TIME,16,back to you tomorrow morning,ADV ADP PRON NOUN NOUN,en,True,5,0,5
982045,banquet_NOUN on_ADP Saturday_NOUN night_NOUN ._.,65,banquet on Saturday night .,NOUN ADP NOUN NOUN .,banquet on Saturday night .,11_25_TIME,14,banquet on saturday night .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
545352,back_ADV tomorrow_NOUN evening_NOUN ._. '_.,49,back tomorrow evening . ',ADV NOUN NOUN . .,back tomorrow evening . ',5_21_TIME,16,back tomorrow evening . ',ADV NOUN NOUN PUNCT PUNCT,en,True,5,0,3
1220769,"based_VERB on_ADP machine_NOUN hours_NOUN ,_.",107,"based on machine hours ,",VERB ADP NOUN NOUN .,"based on machine hours ,",9_22_TIME,13,"base on machine hour ,",VERB ADP NOUN NOUN PUNCT,en,True,5,0,4
179583,Base_NOUN reservation_NOUN this_DET morning_NO...,44,Base reservation this morning .,NOUN NOUN DET NOUN .,Base reservation this morning .,17_29_TIME,12,base reservation this morning .,NOUN NOUN DET NOUN PUNCT,en,True,5,0,2
424323,"back_ADV on_ADP Wednesday_NOUN night_NOUN ,_.",46,"back on Wednesday night ,",ADV ADP NOUN NOUN .,"back on Wednesday night ,",8_23_TIME,15,"back on wednesday night ,",ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
982042,banquet_NOUN on_ADP Saturday_NOUN evening_NOUN...,72,"banquet on Saturday evening ,",NOUN ADP NOUN NOUN .,"banquet on Saturday evening ,",11_19_DATE 20_27_TIME,15,"banquet on saturday evening ,",NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
1003903,bar_NOUN of_ADP morning_NOUN sunshine_NOUN whi...,126,bar of morning sunshine which,NOUN ADP NOUN NOUN DET,bar of morning sunshine which,7_14_TIME,7,bar of morning sunshine which,NOUN ADP NOUN NOUN DET,en,True,5,0,4
130668,Bar_NOUN =_NUM 100_NUM pm_NOUN ._.,206,Bar = 100 pm .,NOUN NUM NUM NOUN .,Bar = 100 pm .,6_12_TIME,6,bar = 100 pm .,NOUN NOUN NUM NOUN PUNCT,en,True,5,0,2
923793,bank_NOUN on_ADP Monday_NOUN morning_NOUN ._.,126,bank on Monday morning .,NOUN ADP NOUN NOUN .,bank on Monday morning .,8_14_DATE 15_22_TIME,13,bank on monday morning .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
982037,banquet_NOUN on_ADP Friday_NOUN evening_NOUN ._.,41,banquet on Friday evening .,NOUN ADP NOUN NOUN .,banquet on Friday evening .,11_17_DATE 18_25_TIME,13,banquet on friday evening .,NOUN ADP NOUN NOUN PUNCT,en,True,5,0,4
941139,banking_NOUN transactions_NOUN 24_NUM hours_NO...,68,banking transactions 24 hours a,NOUN NOUN NUM NOUN DET,banking transactions 24 hours a,21_29_TIME,8,banking transaction 24 hour a,NOUN NOUN NUM NOUN DET,en,True,5,0,2
41783,Bagley_NOUN wood_NOUN at_ADP evening_NOUN foun...,60,Bagley wood at evening found,NOUN NOUN ADP NOUN VERB,Bagley wood at evening found,0_6_ORG 15_22_TIME,13,bagley wood at evening find,NOUN NOUN ADP NOUN VERB,en,True,5,0,2
498442,back_ADV to_PRT that_DET Sunday_NOUN afternoon...,40,back to that Sunday afternoon,ADV PRT DET NOUN NOUN,back to that Sunday afternoon,13_19_DATE 20_29_TIME,15,back to that sunday afternoon,ADV ADP DET NOUN NOUN,en,True,5,0,5
360211,back_ADV by_ADP tomorrow_NOUN evening_NOUN ._.,72,back by tomorrow evening .,ADV ADP NOUN NOUN .,back by tomorrow evening .,8_24_TIME,16,back by tomorrow evening .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
545350,"back_ADV tomorrow_NOUN evening_NOUN ,_. ""_.",60,"back tomorrow evening , """,ADV NOUN NOUN . .,"back tomorrow evening , """,5_21_TIME,16,"back tomorrow evening , """,ADV NOUN NOUN PUNCT PUNCT,en,True,5,0,3
424182,back_ADV on_ADP Friday_NOUN night_NOUN ._.,99,back on Friday night .,ADV ADP NOUN NOUN .,back on Friday night .,8_14_DATE 15_20_TIME,11,back on friday night .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4
55535,Baking_VERB time_NOUN :_NUM 10_NUM minutes_NOUN,176,Baking time : 10 minutes,VERB NOUN NUM NUM NOUN,Baking time : 10 minutes,14_24_TIME,10,baking time : 10 minute,NOUN NOUN PUNCT NUM NOUN,en,True,5,0,2
424271,back_ADV on_ADP Saturday_NOUN night_NOUN ._.,106,back on Saturday night .,ADV ADP NOUN NOUN .,back on Saturday night .,8_22_TIME,14,back on saturday night .,ADV ADP NOUN NOUN PUNCT,en,True,5,0,4

WORK_OF_ART
1574921

,old_index,total_count,sent,g_pos,parse_sent,ner_sent,ner_length,lemma_sent,pos_sent,lang,lang_conf,nwords,nX,comp_class
195915,Basics_NOUN Book_NOUN Everything_NOUN _NOUN C...,109,Basics Book Everything Craps,NOUN NOUN NOUN NOUN NOUN,Basics Book Everything Craps,0_30_WORK_OF_ART,30,basic book everything craps,NOUN NOUN PRON VERB NOUN,en,True,5,0,2
190442,"Bashevis_NOUN Singer_NOUN ,_. The_DET Family_NOUN",54,"Bashevis Singer , The Family",NOUN NOUN . DET NOUN,"Bashevis Singer , The Family",0_15_PERSON 18_28_WORK_OF_ART,25,"bashevis singer , the family",NOUN NOUN PUNCT DET NOUN,en,True,5,0,2
1434211,basis_NOUN of_ADP the_DET Prayer_NOUN Book_NOUN,58,basis of the Prayer Book,NOUN ADP DET NOUN NOUN,basis of the Prayer Book,9_24_WORK_OF_ART,15,basis of the prayer book,NOUN ADP DET NOUN NOUN,en,True,5,0,5
178060,"Bas_NOUN Prize_NOUN ,_. i875_X ._.",40,"Bas Prize , i875 .",NOUN NOUN . X .,"Bas Prize , i875 .",0_9_WORK_OF_ART 12_16_PERSON,13,"bas prize , i875 .",NOUN NOUN PUNCT X PUNCT,en,True,5,1,2
157321,"Baron_NOUN ,_. ""_. Black_NOUN Powerlessness_NOUN",105,"Baron , "" Black Powerlessness",NOUN . . NOUN NOUN,"Baron , "" Black Powerlessness",10_29_WORK_OF_ART,19,"baron , "" black powerlessness",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
44630,"Bailey_NOUN ,_. ""_. Capital_NOUN Gains_NOUN",91,"Bailey , "" Capital Gains",NOUN . . NOUN NOUN,"Bailey , "" Capital Gains",0_6_ORG 11_24_WORK_OF_ART,19,"bailey , "" capital gain",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
1166215,based_ADJ software_NOUN development_NOUN (_. C...,58,based software development ( CBSD,ADJ NOUN NOUN . X,based software development ( CBSD,29_33_WORK_OF_ART,4,base software development ( cbsd,VERB NOUN NOUN PUNCT NOUN,en,True,5,0,3
222295,Battle_NOUN of_ADP the_DET Fallen_NOUN Timbers...,273,Battle of the Fallen Timbers,NOUN ADP DET NOUN NOUN,Battle of the Fallen Timbers,0_28_WORK_OF_ART,28,battle of the fallen timbers,NOUN ADP DET NOUN NOUN,en,True,5,0,5
838245,"ballet_NOUN The_DET Wooden_NOUN Prince_NOUN ,_.",62,"ballet The Wooden Prince ,",NOUN DET NOUN NOUN .,"ballet The Wooden Prince ,",7_24_WORK_OF_ART,17,"ballet the wooden prince ,",NOUN DET NOUN NOUN PUNCT,en,True,5,0,4
883313,"bands_NOUN playing_VERB ""_. Yankee_ADJ Doodle_...",67,"bands playing "" Yankee Doodle",NOUN VERB . ADJ NOUN,"bands playing "" Yankee Doodle",16_29_WORK_OF_ART,13,"band play "" yankee doodle",NOUN VERB PUNCT NOUN NOUN,en,True,5,0,5
16845,"Bach_NOUN 's_PRT ""_. Musical_ADJ Offering_NOUN",64,"Bach 's "" Musical Offering",NOUN PRT . ADJ NOUN,"Bach 's "" Musical Offering",0_4_PERSON 10_26_WORK_OF_ART,20,"bach 's "" musical offering",NOUN PART PUNCT NOUN NOUN,en,True,5,0,5
1178638,"based_VERB on_ADP Bible_NOUN stories_NOUN ,_.",81,"based on Bible stories ,",VERB ADP NOUN NOUN .,"based on Bible stories ,",9_14_WORK_OF_ART,5,"base on bible story ,",VERB ADP NOUN NOUN PUNCT,en,True,5,0,4
18474,Bachelor_NOUN 's_PRT degree_NOUN Master_NOUN '...,277,Bachelor 's degree Master 's,NOUN PRT NOUN NOUN PRT,Bachelor 's degree Master 's,19_28_WORK_OF_ART,9,bachelor 's degree master 's,NOUN PART NOUN NOUN PART,en,True,5,0,4
18064,"Bache_NOUN ,_. ""_. Reaction_ADJ Time_NOUN",56,"Bache , "" Reaction Time",NOUN . . ADJ NOUN,"Bache , "" Reaction Time",0_5_ORG 10_23_WORK_OF_ART,18,"bache , "" reaction time",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
627389,background_NOUN of_ADP the_DET Trojan_ADJ war_...,54,background of the Trojan war,NOUN ADP DET ADJ NOUN,background of the Trojan war,14_28_WORK_OF_ART,14,background of the trojan war,NOUN ADP DET NOUN NOUN,en,True,5,0,5
216050,Battle_ADJ Exhaustion_NOUN :_. Soldiers_NOUN a...,61,Battle Exhaustion : Soldiers and,ADJ NOUN . NOUN CONJ,Battle Exhaustion : Soldiers and,0_28_WORK_OF_ART,28,battle exhaustion : soldier and,NOUN NOUN PUNCT NOUN CCONJ,en,True,5,0,2
44347,Bailey_NOUN '_PRT s_PRT Book_NOUN House_NOUN,89,Bailey ' s Book House,NOUN PRT PRT NOUN NOUN,Bailey ' s Book House,0_6_ORG 11_21_WORK_OF_ART,16,bailey ' s book house,NOUN PART PART NOUN NOUN,en,True,5,0,5
216320,Battle_NOUN :_. A_DET Short_ADJ History_NOUN,68,Battle : A Short History,NOUN . DET ADJ NOUN,Battle : A Short History,0_24_WORK_OF_ART,24,battle : a short history,NOUN PUNCT DET NOUN NOUN,en,True,5,0,5
1005862,bar_NOUN scene_NOUN in_ADP Star_NOUN Wars_NOUN,183,bar scene in Star Wars,NOUN NOUN ADP NOUN NOUN,bar scene in Star Wars,13_22_WORK_OF_ART,9,bar scene in star war,NOUN NOUN ADP NOUN NOUN,en,True,5,0,1
76939,"Baltimore_NOUN ,_. ""_. Baltimore_NOUN Sun_NOUN",62,"Baltimore , "" Baltimore Sun",NOUN . . NOUN NOUN,"Baltimore , "" Baltimore Sun",0_9_GPE 14_27_WORK_OF_ART,22,"baltimore , "" baltimore sun",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
68165,"Ball_NOUN ,_. ""_. Bloc_NOUN Voting_NOUN",82,"Ball , "" Bloc Voting",NOUN . . NOUN NOUN,"Ball , "" Bloc Voting",9_20_WORK_OF_ART,11,"ball , "" bloc voting",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
164467,Barrett_NOUN Browning_NOUN 's_PRT Sonnets_NOUN...,753,Barrett Browning 's Sonnets from,NOUN NOUN PRT NOUN ADP,Barrett Browning 's Sonnets from,0_19_PERSON 20_27_WORK_OF_ART,26,barrett browning 's sonnets from,NOUN NOUN PART NOUN ADP,en,True,5,0,2
861165,band_NOUN at_ADP the_DET Famous_ADJ Door_NOUN,59,band at the Famous Door,NOUN ADP DET ADJ NOUN,band at the Famous Door,8_23_WORK_OF_ART,15,band at the famous door,NOUN ADP DET NOUN NOUN,en,True,5,0,5
46921,Baillie_NOUN 's_VERB The_DET Family_ADJ Legend...,55,Baillie 's The Family Legend,NOUN VERB DET ADJ NOUN,Baillie 's The Family Legend,11_28_WORK_OF_ART,17,baillie 's the family legend,NOUN PART DET NOUN NOUN,en,True,5,0,5
1178639,based_VERB on_ADP Bible_NOUN stories_NOUN ._.,107,based on Bible stories .,VERB ADP NOUN NOUN .,based on Bible stories .,9_14_WORK_OF_ART,5,base on bible story .,VERB ADP NOUN NOUN PUNCT,en,True,5,0,4
152883,"Barnes_NOUN ,_. ""_. Theological_ADJ Life_NOUN",61,"Barnes , "" Theological Life",NOUN . . ADJ NOUN,"Barnes , "" Theological Life",0_6_ORG 11_27_WORK_OF_ART,22,"barnes , "" theological life",NOUN PUNCT PUNCT NOUN NOUN,en,True,5,0,5
164462,"Barrett_NOUN Browning_NOUN 's_PRT ""_. Sonnets_...",63,"Barrett Browning 's "" Sonnets",NOUN NOUN PRT . NOUN,"Barrett Browning 's "" Sonnets",0_19_PERSON 22_29_WORK_OF_ART,26,"barrett browning 's "" sonnets",NOUN NOUN PART PUNCT NOUN,en,True,5,0,2
190611,Basho_NOUN 's_VERB The_DET Narrow_NOUN Road_NOUN,62,Basho 's The Narrow Road,NOUN VERB DET NOUN NOUN,Basho 's The Narrow Road,0_5_PERSON 9_24_WORK_OF_ART,20,basho 's the narrow road,NOUN PART DET NOUN NOUN,en,True,5,0,5
216631,Battle_NOUN Hymns_NOUN :_. Protestant_NOUN Pop...,189,Battle Hymns : Protestant Popular,NOUN NOUN . NOUN NOUN,Battle Hymns : Protestant Popular,0_33_WORK_OF_ART,33,battle hymns : protestant popular,NOUN NOUN PUNCT ADJ ADJ,en,True,5,0,2
218641,Battle_NOUN of_ADP Bull_NOUN Run_NOUN or_CONJ,172,Battle of Bull Run or,NOUN ADP NOUN NOUN CONJ,Battle of Bull Run or,0_18_WORK_OF_ART,18,battle of bull run or,NOUN ADP NOUN NOUN CCONJ,en,True,5,0,4