In [4]:
import pandas as pd
import time
import os
import glob

In [6]:
pkl_files=[]
for f in glob.glob("/data/dharp/compounds/datasets/compound_aware/compounds_1_*.pkl"):
    print(f)
    cur_df = pd.read_pickle(f)
    pkl_files.append(cur_df)

/data/dharp/compounds/datasets/compound_aware/compounds_1_9.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_4.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_5.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_6.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_8.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_2.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_10.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_1.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_7.pkl
/data/dharp/compounds/datasets/compound_aware/compounds_1_3.pkl

In [7]:
cur_df

              modifier         head           context  year  count
0            acid_NOUN       b_NOUN  aminobutyric_ADJ  1976      1
1            acid_NOUN       b_NOUN  aminobutyric_ADJ  1985     18
2            acid_NOUN       b_NOUN  aminobutyric_ADJ  1986     19
3            acid_NOUN       b_NOUN  aminobutyric_ADJ  1987     32
4            acid_NOUN       b_NOUN  aminobutyric_ADJ  1988     88
...                ...          ...               ...   ...    ...
260378239  winter_NOUN  fadeth_NOUN       summer_NOUN  1973      1
260378240  winter_NOUN  fadeth_NOUN       summer_NOUN  1990      5
260378241  winter_NOUN  fadeth_NOUN       summer_NOUN  2005      1
260378242  winter_NOUN  fadeth_NOUN       summer_NOUN  2010      1
260378243  winter_NOUN  fadeth_NOUN       summer_NOUN  2016      1

[260378244 rows x 5 columns]

In [8]:
df=pd.concat(pkl_files,ignore_index=True,sort=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2826048119 entries, 0 to 2826048118
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   context   category
 1   count     int64
 2   head      category
 3   modifier  category
 4   year      uint64
dtypes: category(3), int64(1), uint64(1)
memory usage: 73.7 GB

In [10]:
df.to_pickle('/data/dharp/compounds/datasets/compound_aware/compounds_1_new.pkl')

In [4]:
to_divide_list=old_df.groupby(['modifier']).size().to_frame().reset_index()

In [5]:
to_divide_list

                     modifier    0
0                  heape_NOUN  511
1               borbeck_PROPN   13
2          saprophytism_PROPN   50
3                 kense_PROPN   72
4       geokhronologiya_PROPN   13
...                       ...  ...
659238      sippanondha_PROPN   14
659239            adrie_PROPN   21
659240        nonfouling_NOUN   30
659241        wilelinor_PROPN   16
659242        viscounts_PROPN  462

[659243 rows x 2 columns]

In [6]:
to_divide_list=to_divide_list.sort_values(ascending=False,by=0,ignore_index=True)
to_divide_list

                modifier         0
0              new_PROPN  40406435
1             state_NOUN  21021820
2          general_PROPN  20219130
3         national_PROPN  19758185
4                 s_NOUN  18151913
...                  ...       ...
659238      parbhu_PROPN         1
659239  umstaetter_PROPN         1
659240       netive_NOUN         1
659241    autolysis_NOUN         1
659242      invecta_NOUN         1

[659243 rows x 2 columns]

In [7]:
to_divide_list['row_perc']=to_divide_list[0]/to_divide_list[0].sum()*100
to_divide_list

                modifier         0      row_perc
0              new_PROPN  40406435  9.405064e-01
1             state_NOUN  21021820  4.893071e-01
2          general_PROPN  20219130  4.706236e-01
3         national_PROPN  19758185  4.598946e-01
4                 s_NOUN  18151913  4.225067e-01
...                  ...       ...           ...
659238      parbhu_PROPN         1  2.327615e-08
659239  umstaetter_PROPN         1  2.327615e-08
659240       netive_NOUN         1  2.327615e-08
659241    autolysis_NOUN         1  2.327615e-08
659242      invecta_NOUN         1  2.327615e-08

[659243 rows x 3 columns]

In [8]:
maxvalue = 10

lastvalue = 0
newcum = []
labels=[]
cur_label=1
for row in to_divide_list.itertuples():
    thisvalue =  row.row_perc + lastvalue
    if thisvalue > maxvalue:
        thisvalue = 0
        cur_label+=1
    newcum.append(thisvalue)
    labels.append(cur_label)
    lastvalue = thisvalue
to_divide_list['group_cat']=labels
to_divide_list

                modifier         0      row_perc  group_cat
0              new_PROPN  40406435  9.405064e-01          1
1             state_NOUN  21021820  4.893071e-01          1
2          general_PROPN  20219130  4.706236e-01          1
3         national_PROPN  19758185  4.598946e-01          1
4                 s_NOUN  18151913  4.225067e-01          1
...                  ...       ...           ...        ...
659238      parbhu_PROPN         1  2.327615e-08         10
659239  umstaetter_PROPN         1  2.327615e-08         10
659240       netive_NOUN         1  2.327615e-08         10
659241    autolysis_NOUN         1  2.327615e-08         10
659242      invecta_NOUN         1  2.327615e-08         10

[659243 rows x 4 columns]

In [9]:
old_df=old_df.merge(to_divide_list[['modifier','group_cat']],on='modifier',how='left')

In [10]:
old_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4296242437 entries, 0 to 4296242436
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   context    category
 1   count      int64
 2   head       category
 3   modifier   category
 4   year       uint64
 5   group_cat  int64
dtypes: category(3), int64(2), uint64(1)
memory usage: 176.1 GB

In [12]:
old_df["group_cat"] = old_df["group_cat"].astype("category")

In [4]:
def write_to_pickle(df):
    total_df_shape=df.shape[0]
    cur_cat=df.iloc[0].group_cat
    print(cur_cat)
    
    cur_time=time.time()
    print(total_df_shape)

    df=df.groupby(['modifier','head','context','year'],observed=True)['count'].sum().to_frame().reset_index()

    print('Done grouping')
    
    print(df.shape[0])
    after_shape=df.shape[0]
    
    df.to_pickle(f'/data/dharp/compounds/datasets/compound_aware/compounds_1_{cur_cat}.pkl')
    print(f"Finished {cur_cat} ; Before : {total_df_shape}, After : {after_shape} Change in percentage : {(total_df_shape-after_shape)/total_df_shape*100:0.2f}%")
    print(f'Time taken {time.time()-cur_time} secs')

In [5]:
old_df.groupby('group_cat').apply(write_to_pickle)

1
424495271
Done grouping
255218693
Finished 1 ; Before : 424495271, After : 255218693 Change in percentage : 39.88%
Time taken 379.77875113487244 secs
2
433912611
Done grouping
258890687
Finished 2 ; Before : 433912611, After : 258890687 Change in percentage : 40.34%
Time taken 381.9149806499481 secs
3
433185804
Done grouping
260378244
Finished 3 ; Before : 433185804, After : 260378244 Change in percentage : 39.89%
Time taken 389.0672471523285 secs
4
431556008
Done grouping
268324320
Finished 4 ; Before : 431556008, After : 268324320 Change in percentage : 37.82%
Time taken 435.10419154167175 secs
5
430408448
Done grouping
274364550
Finished 5 ; Before : 430408448, After : 274364550 Change in percentage : 36.25%
Time taken 397.59105587005615 secs
6
430532027
Done grouping
282699771
Finished 6 ; Before : 430532027, After : 282699771 Change in percentage : 34.34%
Time taken 406.10972118377686 secs
7
430143846
Done grouping
288562156
Finished 7 ; Before : 430143846, After : 288562156 Change in percentage : 32.91%
Time taken 403.61806058883667 secs
8
429796906
Done grouping
299476026
Finished 8 ; Before : 429796906, After : 299476026 Change in percentage : 30.32%
Time taken 406.5788974761963 secs
9
429734667
Done grouping
310638097
Finished 9 ; Before : 429734667, After : 310638097 Change in percentage : 27.71%
Time taken 411.20950841903687 secs
10
422476849
Done grouping
327495575
Finished 10 ; Before : 422476849, After : 327495575 Change in percentage : 22.48%
Time taken 403.40096855163574 secs

Empty DataFrame
Columns: []
Index: []