In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
%matplotlib inline
import matplotlib
#matplotlib.use('agg')
matplotlib.style.use('ggplot')
import pickle as pkl
from matplotlib import pyplot as plt
from collections import Counter
from functools import reduce
import random
random.seed(1991)
import glob

In [2]:
novel_compounds_list = pkl.load( open( "/data/dharp/compounding/datasets/novel_compounds_list.pkl", "rb" ) )
m, h = zip(*novel_compounds_list)
heads_list=list(set(h))
modifiers_list=list(set(m))

In [3]:
constituents=pd.read_pickle("/data/dharp/compounding/datasets/constituents_CompoundAgnostic_DecadeAgnostic_300.pkl")
#constituents.index.names=['constituent','decade']
#constituents.reset_index(inplace=True)
constituents.info()
#constituents=constituents.drop(['decade'],axis=1).groupby(['constituent']).mean()
constituents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76597 entries, a_n to x_n ----_n
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 175.9+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 76597 entries, a_n to x_n ----_n
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 175.9+ MB

In [4]:
modifiers=constituents.loc[constituents.index.isin(modifiers_list)]
modifiers.index.names=['modifier']
modifiers.info()
modifiers.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7901 entries, a_n to zuni_n
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 18.1+ MB

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
modifier,,,,,,,,,,,,,,,,,,,,,
a_n,0.947,-0.216,-0.079,0.098,0.031,-0.129,-0.041,-0.053,0.022,0.115,...,-0.000,-0.000,0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000
aaa_n,0.538,-0.114,0.006,0.054,-0.015,-0.046,0.012,0.015,-0.009,0.024,...,0.019,0.011,0.117,0.047,0.024,0.016,0.057,-0.078,0.033,-0.003
aarhus_n,0.032,0.051,0.015,-0.058,0.106,0.018,0.003,-0.011,0.008,-0.018,...,-0.016,0.006,0.009,-0.007,0.013,0.013,0.003,0.014,0.015,-0.001
abbreviated_n,0.709,-0.158,-0.037,-0.021,0.008,-0.138,0.047,0.026,-0.034,-0.090,...,-0.005,-0.003,0.061,-0.018,-0.000,0.072,0.027,-0.043,-0.005,-0.025
abduction_n,0.511,-0.075,-0.035,-0.049,0.049,-0.010,-0.033,-0.007,0.046,-0.029,...,-0.099,0.071,0.035,0.001,0.045,-0.092,0.032,0.035,0.044,-0.061

In [5]:
heads=constituents.loc[constituents.index.isin(heads_list)]
heads.index.names=['head']
heads.info()
heads.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7619 entries, a_n to zwingli_n
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 17.5+ MB

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
head,,,,,,,,,,,,,,,,,,,,,
a_n,0.947,-0.216,-0.079,0.098,0.031,-0.129,-0.041,-0.053,0.022,0.115,...,-0.000,-0.000,0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000
aaron_n,0.632,-0.158,-0.029,0.063,-0.004,-0.006,0.038,0.057,-0.007,-0.009,...,-0.030,0.066,-0.032,-0.067,-0.080,-0.042,-0.027,-0.032,0.005,-0.064
ab_n,0.815,-0.224,-0.051,0.066,0.005,-0.142,0.056,0.048,-0.043,-0.136,...,0.040,0.016,0.011,0.025,-0.023,-0.006,-0.028,-0.032,-0.053,-0.058
abandonment_n,0.871,-0.150,-0.024,0.037,0.000,-0.025,0.029,0.028,-0.010,-0.068,...,-0.044,-0.009,0.037,0.017,0.006,0.012,0.019,0.001,-0.048,-0.024
abbreviation_n,0.679,-0.186,-0.050,0.102,-0.031,-0.105,0.054,0.037,-0.035,-0.070,...,0.017,0.007,-0.049,0.007,-0.005,0.013,-0.003,-0.015,0.008,0.009

In [6]:
novel_compounds=pd.DataFrame(novel_compounds_list)
novel_compounds.columns=['modifier','head']
novel_compounds

            modifier                head
0                a_n          peaceful_n
1                a_n          robinson_n
2                a_n            supply_n
3            india_n          peaceful_n
4            india_n          standard_n
5            india_n             award_n
6            india_n             joint_n
7            india_n         companion_n
8            india_n        foundation_n
9            india_n         gentleman_n
10           india_n              boat_n
11           india_n               pay_n
12           india_n              wife_n
13           india_n           othello_n
14           india_n              sage_n
15             the_n          robinson_n
16             the_n          evidence_n
17             the_n       association_n
18             the_n             crane_n
19             the_n             chase_n
20             the_n              amex_n
21             the_n               fox_n
22             the_n         listening_n
23            book_n            supply_n
24            book_n            record_n
25            book_n              link_n
26            book_n      subscription_n
27            book_n          molecule_n
28            book_n     globalization_n
29            book_n               the_n
...              ...                 ...
28418     vengeful_n             groom_n
28419        venom_n               mud_n
28420         verb_n            plural_n
28421    verdigris_n            copper_n
28422       verlag_n            italia_n
28423          via_n             carlo_n
28424        vigil_n           walking_n
28425      vitriol_n            splash_n
28426         vivo_n  characterisation_n
28427    volcanoes_n              etna_n
28428    voluntary_n     interindustry_n
28429    voluntary_n       theological_n
28430       waiver_n            entail_n
28431      wasting_n       distraction_n
28432   waterhouse_n           hawkins_n
28433        weave_n              eden_n
28434         well_n             timon_n
28435          wet_n       granulation_n
28436      whaling_n             haven_n
28437  whitechapel_n              slum_n
28438      whitsun_n        bridegroom_n
28439      wildcat_n             swamp_n
28440     windlass_n            chorus_n
28441       wooden_n               ark_n
28442       wooden_n         spectacle_n
28443  woodlanders_n         desperate_n
28444       worthy_n            freind_n
28445        xxvii_n          olympiad_n
28446       xxviii_n          olympiad_n
28447        yards_n            waiter_n

[28448 rows x 2 columns]

In [7]:
positive_df=pd.merge(novel_compounds,heads.reset_index(),on=["head"])
positive_df=pd.merge(positive_df,modifiers.reset_index(),on=["modifier"])
positive_df['Plausibility']=True
positive_df

,modifier,head,0_x,1_x,2_x,3_x,4_x,5_x,6_x,7_x,...,291_y,292_y,293_y,294_y,295_y,296_y,297_y,298_y,299_y,Plausibility
0,a_n,peaceful_n,0.462,0.058,-0.035,-0.137,0.018,0.010,-0.012,-0.004,...,-0.000,0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000,True
1,a_n,robinson_n,0.452,-0.092,-0.024,0.025,0.017,-0.005,0.011,0.013,...,-0.000,0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000,True
2,a_n,supply_n,0.572,-0.120,-0.016,0.011,0.074,-0.038,-0.014,0.023,...,-0.000,0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000,True
3,india_n,peaceful_n,0.462,0.058,-0.035,-0.137,0.018,0.010,-0.012,-0.004,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
4,india_n,standard_n,0.574,-0.136,-0.026,0.064,0.054,-0.024,0.010,0.040,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
5,india_n,award_n,0.857,-0.228,-0.043,0.114,-0.007,-0.109,0.036,0.025,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
6,india_n,joint_n,0.509,-0.082,-0.015,0.014,0.010,-0.044,0.027,0.020,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
7,india_n,companion_n,0.913,-0.285,-0.059,0.192,-0.042,-0.054,0.030,0.013,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
8,india_n,foundation_n,0.716,-0.162,-0.037,0.091,0.022,-0.048,0.039,0.041,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
9,india_n,gentleman_n,0.848,-0.270,-0.051,0.222,-0.050,0.017,0.028,0.008,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
10,india_n,boat_n,0.896,-0.271,-0.055,0.170,-0.028,0.024,0.025,0.025,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
11,india_n,pay_n,0.622,-0.122,-0.019,0.041,0.016,0.141,-0.060,-0.006,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
12,india_n,wife_n,0.777,-0.242,-0.050,0.183,-0.056,0.018,-0.002,-0.014,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
13,india_n,othello_n,0.910,-0.252,-0.053,0.156,-0.068,-0.028,0.033,0.018,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
14,india_n,sage_n,0.838,-0.189,0.034,0.151,0.030,0.020,-0.007,0.009,...,-0.033,0.028,0.002,-0.037,-0.052,-0.008,-0.064,0.010,-0.016,True
15,the_n,robinson_n,0.452,-0.092,-0.024,0.025,0.017,-0.005,0.011,0.013,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
16,the_n,evidence_n,0.896,-0.266,-0.056,0.149,-0.039,-0.121,0.064,0.048,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
17,the_n,association_n,0.293,0.046,-0.002,-0.003,0.106,-0.009,0.008,0.017,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
18,the_n,crane_n,0.900,-0.205,-0.032,0.077,-0.023,-0.054,0.030,0.042,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
19,the_n,chase_n,0.626,-0.142,-0.021,0.055,-0.021,0.034,0.022,0.022,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
20,the_n,amex_n,0.038,0.031,0.006,-0.077,0.023,0.008,-0.010,-0.005,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
21,the_n,fox_n,0.826,-0.235,-0.042,0.149,-0.042,-0.003,0.014,-0.001,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
22,the_n,listening_n,0.886,-0.259,-0.055,0.118,-0.024,-0.139,0.072,0.062,...,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,True
23,book_n,supply_n,0.572,-0.120,-0.016,0.011,0.074,-0.038,-0.014,0.023,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
24,book_n,record_n,0.918,-0.238,-0.050,0.144,-0.009,-0.064,0.032,0.029,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
25,book_n,link_n,0.878,-0.235,-0.039,0.149,0.039,-0.065,0.013,0.034,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
26,book_n,subscription_n,0.873,-0.229,-0.039,0.086,0.023,-0.121,0.049,0.047,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
27,book_n,molecule_n,0.838,-0.223,-0.072,0.097,0.152,-0.127,-0.069,-0.009,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
28,book_n,globalization_n,0.577,-0.059,-0.004,-0.084,-0.059,0.039,0.031,-0.001,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
29,book_n,the_n,0.992,0.089,0.022,-0.075,-0.032,0.016,0.005,0.002,...,-0.003,0.000,-0.001,-0.007,-0.001,-0.000,-0.002,-0.000,0.005,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25890,velveteen_n,tunic_n,0.327,-0.118,-0.026,0.092,-0.000,0.197,-0.040,-0.005,...,0.005,-0.036,-0.032,-0.013,0.008,0.086,0.001,-0.023,0.004,True
25891,velveteen_n,uniform_n,0.612,0.149,-0.106,0.072,0.076,-0.027,-0.035,-0.008,...,0.005,-0.036,-0.032,-0.013,0.008,0.086,0.001,-0.023,0.004,True
25892,vengeful_n,groom_n,0.903,-0.263,-0.053,0.153,-0.081,-0.036,0.041,0.012,...,0.024,-0.029,0.050,-0.045,-0.005,0.030,0.010,-0.038,-0.003,True
25893,venom_n,mud_n,0.763,-0.180,-0.043,0.038,-0.028,-0.059,0.029,0.025,...,0.018,0.002,-0.003,0.019,0.012,-0.023,-0.007,0.018,0.010,True
25894,verb_n,plural_n,0.783,-0.204,-0.046,0.043,0.049,-0.103,0.003,0.013,...,-0.011,-0.002,0.012,-0.005,0.032,0.006,0.002,-0.016,-0.006,True
25895,verdigris_n,copper_n,0.895,-0.241,-0.048,0.099,0.018,-0.124,0.028,0.034,...,-0.039,-0.060,-0.044,0.052,-0.018,0.085,-0.056,-0.063,0.021,True
25896,verlag_n,italia_n,0.146,-0.037,-0.009,0.005,0.003,-0.019,0.003,-0.002,...,0.002,0.001,0.003,-0.007,-0.002,-0.000,0.001,0.011,0.005,True
25897,via_n,carlo_n,0.734,-0.189,-0.043,0.042,0.016,-0.123,0.047,0.029,...,-0.009,-0.006,0.009,0.024,-0.002,0.004,-0.015,0.011,-0.030,True
25898,vigil_n,walking_n,0.848,-0.252,-0.057,0.113,-0.023,-0.139,0.071,0.050,...,-0.015,-0.053,-0.024,-0.022,0.014,0.010,-0.041,-0.036,-0.057,True
25899,vitriol_n,splash_n,0.371,-0.093,-0.023,0.007,0.048,-0.033,-0.017,0.014,...,0.161,0.054,-0.041,0.088,0.141,-0.060,0.043,0.058,0.127,True
25900,vivo_n,characterisation_n,0.587,0.010,-0.089,0.008,0.056,-0.084,-0.011,0.023,...,0.024,-0.023,0.005,0.019,0.020,-0.001,-0.016,0.003,0.005,True
25901,voluntary_n,interindustry_n,0.149,0.053,0.010,-0.186,0.049,-0.006,-0.028,0.007,...,0.004,0.007,-0.023,0.046,-0.021,0.033,-0.040,0.030,-0.046,True
25902,voluntary_n,theological_n,0.208,0.036,0.053,-0.085,0.154,0.027,0.070,0.235,...,0.004,0.007,-0.023,0.046,-0.021,0.033,-0.040,0.030,-0.046,True
25903,waiver_n,entail_n,0.747,-0.192,-0.029,0.100,-0.032,-0.061,0.047,0.046,...,0.006,0.007,0.010,0.015,-0.010,0.015,0.020,-0.006,-0.006,True
25904,wasting_n,distraction_n,0.899,-0.044,-0.149,0.184,0.030,-0.035,0.028,0.031,...,0.016,-0.005,-0.002,-0.006,-0.011,-0.011,-0.022,-0.011,0.000,True
25905,waterhouse_n,hawkins_n,0.716,-0.215,-0.042,0.160,-0.007,0.053,-0.023,-0.024,...,0.031,-0.079,0.032,0.139,-0.045,0.012,0.046,-0.118,-0.120,True
25906,weave_n,eden_n,0.829,-0.190,-0.032,0.086,-0.039,0.005,0.043,0.041,...,-0.013,-0.037,0.047,0.074,0.036,0.079,0.013,-0.019,0.008,True
25907,well_n,timon_n,0.908,-0.276,-0.057,0.177,-0.028,-0.068,0.057,0.077,...,-0.016,-0.020,-0.019,-0.000,-0.038,-0.007,-0.000,0.005,0.014,True
25908,wet_n,granulation_n,0.729,-0.162,-0.038,0.007,-0.004,-0.106,0.038,0.042,...,-0.055,-0.040,0.040,-0.017,-0.021,0.049,0.031,0.046,0.033,True
25909,whaling_n,haven_n,0.167,0.004,0.031,-0.016,0.339,0.089,0.271,0.777,...,0.011,0.035,0.011,0.086,-0.085,-0.028,-0.045,0.046,-0.024,True
25910,whitechapel_n,slum_n,0.374,-0.030,0.028,-0.038,0.343,0.105,0.437,0.241,...,0.074,-0.027,0.047,-0.066,-0.081,0.057,-0.103,0.014,-0.007,True
25911,whitsun_n,bridegroom_n,0.874,-0.254,-0.052,0.137,-0.070,0.000,0.047,0.026,...,-0.019,0.020,0.020,0.052,0.001,-0.026,-0.021,0.012,0.021,True
25912,wildcat_n,swamp_n,0.704,-0.144,-0.009,0.027,0.016,0.003,0.031,0.071,...,-0.014,0.026,0.037,-0.014,-0.022,0.052,0.032,0.016,-0.018,True
25913,windlass_n,chorus_n,0.858,-0.210,-0.045,0.057,-0.006,-0.021,0.014,0.026,...,0.060,0.055,-0.002,-0.037,-0.011,0.045,-0.038,-0.011,0.017,True
25914,wooden_n,ark_n,0.761,-0.206,-0.047,0.077,0.018,-0.057,0.027,0.027,...,0.008,0.035,0.016,0.030,-0.062,0.022,-0.011,0.024,-0.096,True
25915,wooden_n,spectacle_n,0.886,-0.267,-0.054,0.167,-0.028,-0.084,0.030,0.015,...,0.008,0.035,0.016,0.030,-0.062,0.022,-0.011,0.024,-0.096,True
25916,woodlanders_n,desperate_n,0.580,-0.081,-0.077,0.084,-0.062,-0.062,0.017,-0.004,...,0.035,0.060,-0.051,0.012,0.039,0.044,0.043,-0.023,0.019,True
25917,worthy_n,freind_n,0.668,-0.198,-0.043,0.090,-0.028,-0.118,0.084,0.061,...,-0.015,0.001,-0.015,-0.021,-0.000,0.016,0.002,-0.012,-0.001,True
25918,xxvii_n,olympiad_n,0.250,-0.110,-0.028,0.102,0.101,0.289,-0.095,-0.008,...,0.001,0.083,0.071,-0.086,-0.074,0.014,-0.022,-0.057,-0.014,True
25919,xxviii_n,olympiad_n,0.250,-0.110,-0.028,0.102,0.101,0.289,-0.095,-0.008,...,-0.016,0.073,0.061,-0.108,-0.081,0.018,-0.021,-0.048,0.005,True

In [8]:
def neg_df_creator(file):
    pkl_file=pkl.load( open(file,'rb'))
    df=pd.DataFrame(pkl_file)
    df.columns=['modifier','head']
    negative_df=pd.merge(df,heads.reset_index(),on=["head"])
    negative_df=pd.merge(negative_df,modifiers.reset_index(),on=["modifier"])
    negative_df['Plausibility']=False
    return negative_df

In [9]:
def df_joiner(files):
    df_list=[]
    for file in files:
        neg_df=neg_df_creator(file)
        whole_df=pd.concat([neg_df,positive_df])
        df_list.append(whole_df)
    
    return df_list

In [10]:
corrupt_modifier_files=[]
for file in glob.glob("/data/dharp/compounding/datasets/corrupt_modifier*"):
    corrupt_modifier_files.append(file)
corrupt_modifiers=df_joiner(corrupt_modifier_files)

In [11]:
corrupt_head_files=[]
for file in glob.glob("/data/dharp/compounding/datasets/corrupt_head*"):
    corrupt_head_files.append(file)
corrupt_heads=df_joiner(corrupt_head_files)

In [14]:
XGBClassifier()

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
              max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
              n_jobs=1, nthread=None, objective='binary:logistic',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=True, subsample=1)

In [15]:
acc_ch=[]
for i,corrupt_head in enumerate(corrupt_heads):
    data=corrupt_head.drop(['modifier','head'],axis=1)
    X, Y = data.iloc[:,:-1],data.iloc[:,-1]
    
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1991)
    # fit model no training data
    model = XGBClassifier(njobs=-1)
    model.fit(X_train, y_train)
    # make predictions for test data
    y_pred = model.predict(X_test)
    predictions = [round(value) for value in y_pred]
    # evaluate predictions
    print("DF",i+1)
    accuracy = accuracy_score(y_test, predictions)
    acc_ch.append(accuracy)
    print("Accuracy: %.2f%%" % (accuracy * 100.0))

DF 1
Accuracy: 66.31%
DF 2
Accuracy: 66.98%
DF 3
Accuracy: 68.06%
DF 4
Accuracy: 67.86%
DF 5
Accuracy: 68.25%
DF 6
Accuracy: 67.81%
DF 7
Accuracy: 67.84%
DF 8
Accuracy: 67.17%
DF 9
Accuracy: 67.88%
DF 10
Accuracy: 66.99%

In [16]:
round(np.mean(acc_ch)*100,2)

67.52

In [17]:
round(np.std(acc_ch)*100,2)

0.58

In [18]:
acc_cm=[]
for i,corrupt_head in enumerate(corrupt_modifiers):
    data=corrupt_head.drop(['modifier','head'],axis=1)
    X, Y = data.iloc[:,:-1],data.iloc[:,-1]
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1991)
# fit model no training data
    model = XGBClassifier(njobs=-1)
    model.fit(X_train, y_train)
# make predictions for test data
    y_pred = model.predict(X_test)
    predictions = [round(value) for value in y_pred]
# evaluate predictions
    accuracy = accuracy_score(y_test, predictions)
    acc_cm.append(accuracy)
    print("DF",i+1)
    print("Accuracy: %.2f%%" % (accuracy * 100.0))

DF 1
Accuracy: 64.08%
DF 2
Accuracy: 64.42%
DF 3
Accuracy: 65.04%
DF 4
Accuracy: 64.49%
DF 5
Accuracy: 64.31%
DF 6
Accuracy: 64.82%
DF 7
Accuracy: 64.22%
DF 8
Accuracy: 63.68%
DF 9
Accuracy: 64.60%
DF 10
Accuracy: 64.25%

In [19]:
round(np.mean(acc_cm)*100,2)

64.39

In [20]:
round(np.std(acc_cm)*100,2)

0.36