In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.mode.chained_assignment = None
%matplotlib inline
import matplotlib
#matplotlib.use('agg')
matplotlib.style.use('ggplot')
from matplotlib import pyplot as plt
from functools import reduce
import pickle as pkl

In [5]:
contextwords_df=pd.read_csv("contexts.csv",sep="\t")
contextwords=contextwords_df.context.tolist()

In [16]:
compounds=pd.read_csv("/data/dharp/compounding/datasets/compounds.csv")
compounds=compounds.query('decade != 2000')
compounds=compounds.reindex()
compounds=compounds.groupby(['modifier','head'])['count'].sum().to_frame()
compounds.info()
compounds.describe()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1116773 entries, (a_n, aaaaa_n) to (zzzz_n, best_n)
Data columns (total 1 columns):
count    1116773 non-null int64
dtypes: int64(1)
memory usage: 18.5+ MB

              count
count   1116773.000
mean       2153.116
std      129125.151
min           1.000
25%          68.000
50%         165.000
75%         468.000
max   118319029.000

In [14]:
compounds.reset_index(inplace=True)
new_compounds=compounds.loc[compounds.modifier.isin(contextwords) & (compounds['head'].isin(contextwords))]
new_compounds_decade_counts=new_compounds.groupby(['modifier','head'])['count'].sum().to_frame()
new_compounds_decade_counts

                         count
modifier head
a_n      addison_n         526
         anti_n            169
         archive_n         510
         atom_n            116
         b_n             24600
         ballet_n           85
         band_n            384
         baseball_n         90
         behavior_n       1080
         bell_n            665
         belle_n            78
         bend_n            304
         berkley_n         144
         bibliography_n   2799
         bill_n            336
         bird_n            215
         board_n            80
         book_n             37
         boswell_n         214
         brand_n            48
         bunch_n           514
         burn_n            104
         business_n         70
         c_n               756
         calendar_n         78
         call_n             39
         campaign_n        240
         candle_n           48
         cassell_n         510
         cat_n             388
...                        ...
zurich_n ch_n               54
         chamber_n         283
         church_n           28
         city_n             53
         cohort_n          169
         conference_n      300
         congress_n         47
         dada_n            102
         federal_n          42
         government_n      245
         institute_n        98
         james_n           146
         market_n           53
         medical_n         211
         opera_n            44
         peasantry_n       141
         polytechnic_n     363
         school_n          432
         seminar_n        1253
         speech_n           43
         stock_n           431
         translation_n      39
         university_n      371
         wilhelm_n          48
zvi_n    bodie_n            97
         institute_n       918
         press_n            28
         publication_n      38
zygote_n nucleus_n          42
         result_n           72

[848435 rows x 1 columns]

In [15]:
new_compounds_decade_counts.describe()

              count
count    848435.000
mean       2673.265
std      148101.622
min           1.000
25%          74.000
50%         184.000
75%         554.000
max   118319029.000