In [1]:
import pandas as pd
import numpy as np
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
pd.options.display.float_format = '{:,.3f}'.format

pd.options.mode.chained_assignment = None
import seaborn as sns
%matplotlib inline
sns.set(style="whitegrid")
#sns.set(rc={'figure.figsize':(10,10)})
import matplotlib
#matplotlib.use('agg')
#matplotlib.style.use('ggplot')
import pickle as pkl
from matplotlib import pyplot as plt
#plt.rcParams.update(plt.rcParamsDefault)
new_plot_col=list(range(1900,2001,10))
from scipy.stats.stats import pearsonr

In [2]:
new_plot_col

[1900, 1910, 1920, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000]

In [3]:
def lemma_maker(x, y):
    return lemmatizer.lemmatize(x,y)
br_to_us=pd.read_excel("Book.xlsx",skiprows=[0])
br_to_us_dict=dict(zip(br_to_us.UK.tolist(),br_to_us.US.tolist()))
spelling_replacement={'modifier':br_to_us_dict,'head':br_to_us_dict}

In [4]:
contextwords_df=pd.read_csv("contexts.csv",sep="\t")
contextwords=contextwords_df.context.tolist()

In [5]:
reddy11_study=pd.read_csv("/data/dharp/compounding/datasets/ijcnlp_compositionality_data/MeanAndDeviations.clean.txt",sep="\t")
#print(reddy11_study.columns)
reddy11_study.columns=['compound','to_divide']
reddy11_study['modifier_mean'],reddy11_study['modifier_std'],reddy11_study['head_mean'],reddy11_study['head_std'],reddy11_study['compound_mean'],reddy11_study['compound_std'],_=reddy11_study.to_divide.str.split(" ",7).str
reddy11_study['modifier'],reddy11_study['head']=reddy11_study['compound'].str.split(" ",2).str
reddy11_study.modifier=reddy11_study.modifier.str[:-2]
reddy11_study['head']=reddy11_study['head'].str[:-2]
reddy11_study.drop(['compound','to_divide'],axis=1,inplace=True)
#reddy11_study['modifier']=np.vectorize(lemma_maker)(reddy11_study['modifier'],'n')
reddy11_study['head']=np.vectorize(lemma_maker)(reddy11_study['head'],'n')
reddy11_study.replace(spelling_replacement,inplace=True)
reddy11_study['modifier']=reddy11_study['modifier']+"_n"
reddy11_study['head']=reddy11_study['head']+"_n"
reddy11_study=reddy11_study.apply(pd.to_numeric, errors='ignore')
#reddy11_study.set_index(['modifier','head'],inplace=True)
reddy11_study.head()

,modifier_mean,modifier_std,head_mean,head_std,compound_mean,compound_std,modifier,head
0,3.867,1.118,4.867,0.340,4.250,0.871,end_n,user_n
1,1.607,1.655,1.893,1.496,1.704,1.717,firing_n,line_n
2,2.821,1.965,4.862,0.345,3.828,1.234,game_n,plan_n
3,4.767,0.423,4.862,0.345,4.800,0.476,application_n,form_n
4,0.600,0.800,4.586,1.099,1.310,1.021,snail_n,mail_n

In [14]:
compounds=pd.read_csv("/data/dharp/compounding/datasets/phrases.csv")
compounds.columns=['modifier','head','context','decade','count']
#compounds=compounds.query('decade != 2000')
#compounds['joiner']=compounds['modifier']+" "+compounds['head']
#compounds=compounds.loc[compounds.modifier.isin(contextwords) & (compounds['head'].isin(contextwords))]
compounds=compounds.groupby(['modifier','head','decade','context'])['count'].sum().to_frame()
display(compounds.shape)
compounds.head()

(67609736, 1)

                              count
modifier head decade context
----_n   x_n  1920   x_n          3
              1930   x_n          6
              1940   x_n         36
              1950   x_n         24
              1960   x_n         57

In [20]:
compounds.describe()

               count
count 67,609,736.000
mean          65.606
std        1,552.464
min            1.000
25%            4.000
50%           10.000
75%           30.000
max    2,969,254.000

In [15]:
compounds_new=compounds[compounds['count']>20]
print((compounds.shape[0]-compounds_new.shape[0])/compounds.shape[0])
display(compounds_new.shape)
compounds_new.head()

0.6714089077348269

(22215957, 1)

                              count
modifier head decade context
----_n   x_n  1940   x_n         36
              1950   x_n         24
              1960   x_n         57
              1970   x_n         96
              1980   x_n         66

## Before

In [18]:
count_df=reddy11_study[['modifier','head']].merge(compounds.reset_index(),on=['modifier','head'],how='left')
#temp_df.set_index(['modifier','head','decade'],inplace=True)
count_df=pd.pivot_table(count_df,index=['modifier','head'],columns='decade',values='count',aggfunc=np.sum)
to_change=[str(x).split('.')[0] for x in count_df.columns.tolist()]
count_df.columns=to_change
count_df.columns = count_df.columns.map(int)
count_df.fillna(0,inplace=True)

In [19]:
selected_df=count_df[new_plot_col]
display(selected_df[(selected_df != 0).all(1)].shape)
selected_df[(selected_df != 0).all(1)]

(48, 11)

                                1900       1910       1920       1930  \
modifier      head
acid_n        test_n          31.000     40.000     25.000     11.000
application_n form_n         262.000    478.000    571.000    822.000
balance_n     sheet_n     20,098.000 44,050.000 79,364.000 77,583.000
bank_n        account_n    2,827.000  4,790.000  4,351.000  5,480.000
brass_n       ring_n         303.000    251.000    173.000    132.000
brick_n       wall_n       8,679.000  6,770.000  5,575.000  5,114.000
case_n        study_n         59.000    264.000  2,509.000 10,194.000
chain_n       reaction_n      26.000     69.000     78.000    657.000
china_n       clay_n         577.000    328.000    376.000    276.000
credit_n      card_n          16.000    105.000    137.000     54.000
crocodile_n   tear_n          72.000     71.000    204.000    136.000
cutting_n     edge_n         246.000    217.000    162.000    242.000
engine_n      room_n       2,196.000  4,029.000  3,180.000  2,211.000
face_n        value_n     10,746.000 19,588.000 24,324.000 25,624.000
fashion_n     plate_n         67.000     53.000     60.000    161.000
firing_n      line_n          41.000     92.000     95.000     80.000
gold_n        mine_n       1,573.000  1,321.000    916.000    988.000
graduate_n    student_n       72.000    102.000    123.000    132.000
grandfather_n clock_n         19.000     42.000     54.000     93.000
ground_n      floor_n     27,291.000 22,376.000 23,997.000 21,914.000
head_n        teacher_n      503.000    478.000    410.000    392.000
health_n      insurance_n    320.000  4,378.000 11,236.000 15,363.000
human_n       being_n        112.000    109.000    595.000    604.000
interest_n    rate_n       7,095.000 18,835.000 37,291.000 70,976.000
ivory_n       tower_n         76.000    164.000    273.000    441.000
law_n         firm_n       3,253.000  5,510.000  5,231.000  5,193.000
lip_n         service_n      187.000    694.000  1,711.000  6,083.000
mailing_n     list_n         239.000  1,123.000  1,914.000  1,858.000
melting_n     pot_n          428.000  1,952.000  2,657.000  2,569.000
monkey_n      business_n       3.000     25.000     34.000     82.000
nest_n        egg_n          117.000    130.000    141.000    272.000
night_n       owl_n           60.000     27.000     43.000     72.000
parking_n     lot_n           18.000      3.000     21.000    244.000
public_n      service_n    8,546.000 49,313.000 47,886.000 47,460.000
radio_n       station_n       13.000    485.000  2,715.000  3,918.000
research_n    project_n       28.000     20.000    602.000  3,007.000
rock_n        bottom_n        48.000     96.000     62.000    109.000
rush_n        hour_n          69.000    410.000    729.000    443.000
silver_n      bullet_n       198.000    102.000    180.000    218.000
              screen_n        48.000     25.000     64.000    104.000
              spoon_n      2,162.000  1,454.000  1,648.000  1,528.000
smoking_n     gun_n           56.000     29.000     33.000     43.000
              jacket_n        35.000     35.000     38.000    114.000
speed_n       limit_n        420.000  1,357.000  1,284.000  1,364.000
spelling_n    bee_n           31.000     61.000     45.000     28.000
swan_n        song_n          67.000     55.000     28.000     94.000
swimming_n    pool_n         112.000    355.000    613.000  1,015.000
web_n         site_n          17.000     21.000     85.000     43.000

                                1940        1950        1960        1970  \
modifier      head
acid_n        test_n          21.000      29.000      68.000   1,083.000
application_n form_n       2,044.000   4,139.000   7,212.000  13,419.000
balance_n     sheet_n     79,401.000  96,872.000 139,725.000 177,386.000
bank_n        account_n    5,738.000   9,323.000  16,037.000  26,371.000
brass_n       ring_n         149.000     152.000     247.000     416.000
brick_n       wall_n       4,979.000   7,099.000  10,218.000  13,300.000
case_n        study_n     11,906.000  30,714.000  81,011.000 221,248.000
chain_n       reaction_n   7,116.000  22,379.000  35,653.000  36,036.000
china_n       clay_n         312.000     385.000     418.000     586.000
credit_n      card_n         243.000     658.000   6,968.000  24,427.000
crocodile_n   tear_n         221.000     257.000     464.000     548.000
cutting_n     edge_n         406.000     485.000     723.000     908.000
engine_n      room_n       3,573.000   3,566.000   5,455.000   5,253.000
face_n        value_n     25,334.000  36,521.000  62,025.000  78,129.000
fashion_n     plate_n         84.000     122.000     133.000     176.000
firing_n      line_n          91.000      71.000     286.000     490.000
gold_n        mine_n         929.000   1,119.000   1,657.000   1,984.000
graduate_n    student_n      180.000     611.000   1,793.000   3,862.000
grandfather_n clock_n         61.000     101.000      69.000     130.000
ground_n      floor_n     20,068.000  31,439.000  50,999.000  65,099.000
head_n        teacher_n      375.000     594.000   1,072.000   1,870.000
health_n      insurance_n 20,284.000  24,398.000  61,965.000 134,147.000
human_n       being_n        486.000   2,053.000   4,640.000   5,588.000
interest_n    rate_n      83,493.000 142,902.000 330,017.000 626,677.000
ivory_n       tower_n      1,181.000   1,603.000   3,396.000   4,048.000
law_n         firm_n       4,683.000   7,881.000  18,727.000  40,911.000
lip_n         service_n   12,794.000  21,969.000  48,369.000  68,351.000
mailing_n     list_n       2,446.000   3,269.000   4,880.000   8,939.000
melting_n     pot_n        3,687.000   4,574.000   9,287.000  17,776.000
monkey_n      business_n      88.000      89.000     147.000     184.000
nest_n        egg_n          539.000     585.000     937.000   1,346.000
night_n       owl_n           36.000      39.000     114.000      86.000
parking_n     lot_n        1,622.000   4,962.000  12,767.000  33,405.000
public_n      service_n   41,720.000  81,780.000 135,731.000 164,766.000
radio_n       station_n   10,509.000  13,379.000  23,930.000  42,613.000
research_n    project_n    6,296.000  17,920.000  62,753.000 124,440.000
rock_n        bottom_n       131.000     313.000     628.000   1,094.000
rush_n        hour_n         629.000   1,254.000   2,750.000   5,234.000
silver_n      bullet_n       136.000     188.000     285.000     424.000
              screen_n       114.000      93.000     213.000     396.000
              spoon_n      1,605.000   1,715.000   2,595.000   2,930.000
smoking_n     gun_n           39.000      47.000      43.000     165.000
              jacket_n        85.000     199.000     229.000     317.000
speed_n       limit_n      1,578.000   3,085.000   5,114.000   9,089.000
spelling_n    bee_n           92.000     103.000      95.000     218.000
swan_n        song_n          36.000      23.000      62.000     115.000
swimming_n    pool_n       1,518.000   2,634.000   5,909.000   8,730.000
web_n         site_n          35.000      61.000     237.000   1,212.000

                                   1980          1990          2000
modifier      head
acid_n        test_n          1,111.000     1,833.000     2,509.000
application_n form_n         22,021.000    40,863.000    45,599.000
balance_n     sheet_n       295,322.000   473,133.000   692,443.000
bank_n        account_n      44,295.000    84,441.000   154,829.000
brass_n       ring_n            778.000     1,581.000     2,647.000
brick_n       wall_n         19,562.000    33,060.000    60,296.000
case_n        study_n       400,248.000   756,828.000 1,288,775.000
chain_n       reaction_n     44,007.000   160,381.000   210,176.000
china_n       clay_n            533.000       429.000       604.000
credit_n      card_n         93,513.000   324,155.000   568,720.000
crocodile_n   tear_n            487.000       512.000       869.000
cutting_n     edge_n          1,024.000     1,179.000     1,685.000
engine_n      room_n          7,378.000     9,726.000    20,240.000
face_n        value_n       110,071.000   170,709.000   229,409.000
fashion_n     plate_n           305.000       462.000       733.000
firing_n      line_n            627.000       674.000       773.000
gold_n        mine_n          2,422.000     3,919.000     5,842.000
graduate_n    student_n       5,226.000    10,319.000    14,984.000
grandfather_n clock_n           383.000       728.000     1,250.000
ground_n      floor_n        85,389.000   123,352.000   196,995.000
head_n        teacher_n       2,667.000     4,010.000     7,822.000
health_n      insurance_n   175,536.000   372,515.000   593,449.000
human_n       being_n         4,661.000     6,939.000    12,745.000
interest_n    rate_n      1,525,909.000 2,427,054.000 2,805,798.000
ivory_n       tower_n         4,315.000     6,499.000    10,591.000
law_n         firm_n         77,537.000   149,859.000   260,187.000
lip_n         service_n      77,543.000   109,413.000   138,310.000
mailing_n     list_n         14,279.000    43,809.000    51,668.000
melting_n     pot_n          17,954.000    32,789.000    45,810.000
monkey_n      business_n        273.000       358.000       540.000
nest_n        egg_n           2,660.000     6,006.000    11,133.000
night_n       owl_n             205.000       667.000     1,600.000
parking_n     lot_n          89,900.000   238,188.000   528,539.000
public_n      service_n     153,081.000   149,962.000   173,126.000
radio_n       station_n      59,782.000   102,519.000   156,386.000
research_n    project_n     192,779.000   286,029.000   418,421.000
rock_n        bottom_n        1,717.000     3,726.000     7,688.000
rush_n        hour_n          6,973.000    12,407.000    19,586.000
silver_n      bullet_n          447.000     1,808.000     7,557.000
              screen_n          973.000     2,192.000     4,214.000
              spoon_n         4,156.000     6,662.000    12,454.000
smoking_n     gun_n             554.000     1,356.000     5,302.000
              jacket_n          605.000       777.000     1,350.000
speed_n       limit_n        18,066.000    30,218.000    51,420.000
spelling_n    bee_n             640.000     1,983.000     3,380.000
swan_n        song_n             80.000        92.000       182.000
swimming_n    pool_n         20,861.000    41,198.000    49,348.000
web_n         site_n          3,233.000   302,766.000 1,513,195.000

In [9]:
compound_counts[compound_counts['count']>20].head(20)

                           count
modifier head      decade
a_n      addison_n 1960       28
                   1970       96
                   1980      206
                   1990      196
                   2000      222
         anti_n    1960       27
                   1970       30
                   1980       41
                   1990       67
                   2000       90
         archive_n 1960       98
                   1970      258
                   1980       91
                   1990       60
                   2000       29
         atom_n    1950       29
                   1960       34
                   2000       25
         b_n       1810       58
                   1820       74

In [ ]:
compound_counts[compound_counts['count']>20]

In [14]:
compounds.reset_index(inplace=True)
new_compounds=compounds.loc[compounds.modifier.isin(contextwords) & (compounds['head'].isin(contextwords))]
new_compounds_decade_counts=new_compounds.groupby(['modifier','head'])['count'].sum().to_frame()
new_compounds_decade_counts

                         count
modifier head
a_n      addison_n         526
         anti_n            169
         archive_n         510
         atom_n            116
         b_n             24600
         ballet_n           85
         band_n            384
         baseball_n         90
         behavior_n       1080
         bell_n            665
         belle_n            78
         bend_n            304
         berkley_n         144
         bibliography_n   2799
         bill_n            336
         bird_n            215
         board_n            80
         book_n             37
         boswell_n         214
         brand_n            48
         bunch_n           514
         burn_n            104
         business_n         70
         c_n               756
         calendar_n         78
         call_n             39
         campaign_n        240
         candle_n           48
         cassell_n         510
         cat_n             388
...                        ...
zurich_n ch_n               54
         chamber_n         283
         church_n           28
         city_n             53
         cohort_n          169
         conference_n      300
         congress_n         47
         dada_n            102
         federal_n          42
         government_n      245
         institute_n        98
         james_n           146
         market_n           53
         medical_n         211
         opera_n            44
         peasantry_n       141
         polytechnic_n     363
         school_n          432
         seminar_n        1253
         speech_n           43
         stock_n           431
         translation_n      39
         university_n      371
         wilhelm_n          48
zvi_n    bodie_n            97
         institute_n       918
         press_n            28
         publication_n      38
zygote_n nucleus_n          42
         result_n           72

[848435 rows x 1 columns]

In [15]:
new_compounds_decade_counts.describe()

              count
count    848435.000
mean       2673.265
std      148101.622
min           1.000
25%          74.000
50%         184.000
75%         554.000
max   118319029.000